**.pyc
*.png
*.jpg
*.gif
*.sh
.env

infa_web/apps/articulos/migrations/*
infa_web/apps/base/migrations/*
infa_web/apps/inventarios/migrations/*
infa_web/apps/movimientos/migrations/*
infa_web/apps/terceros/migrations/*
