**.pyc
*.png
*.jpg
*.gif
.gif
*.sh
.env
*.json
report_test.txt
*.log
infa_web/logs/debug.log
infa_web/config/databases.py

infa_web/logs/*
htmlcov/*

!infa_web/params/*.json
!infa_web/static/img/articles/default.jpg
!infa_web/static/img/articles/default.png
!infa_web/static/img/users/default.png
!infa_web/static/img/users/default.jpg
!infa_web/static/img/loading.gif
!infa_web/static/img/empresas/*

!infa_web/static/img/logo-app-h-blanco.png
!infa_web/static/img/logo-app-h-color.png
!infa_web/static/img/logo-app-v-blanco.png
!infa_web/static/img/logo-app-v-color.png

