appdirs==1.4.3
astroid==1.4.8
azure==1.0.3
azure-common==1.1.4
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
backports.functools-lru-cache==1.2.1
boto==2.46.1
configparser==3.5.0
coverage==4.2
CurrencyConverter==0.8.1
dj-database-url==0.4.1
Django==1.9.6
django-easy-pdf==0.1.0
django-storages==1.5.2
futures==3.0.5
gunicorn==19.6.0
html==1.16
html5lib==0.9999999
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
packaging==16.8
pep8==1.7.0
Pillow==3.3.1
psycopg2==2.6.2
pylint==1.6.4
pyparsing==2.2.0
PyPDF2==1.26.0
python-dateutil==2.5.3
reportlab==3.3.0
requests==2.13.0
six==1.10.0
tabulate==0.7.5
termcolor==1.1.0
virtualenv==15.0.3
wrapt==1.10.8
xhtml2pdf==0.0.6
