{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<!--
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/select.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/editor.dataTables.min.css' %}">
	-->

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/editor.dataTables.min.css' %}">

	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.css"/>-->

{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}

	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Platos</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form_movement">
				<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">
				<div class="row">
					{%csrf_token%}

					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>

							<div class="box-body">

								<div class="row">
									<div class="col-md-6">




										<div class="form-group">
											<label for="{{form.cplato.id_for_label}}" class="col-sm-4 control-label">{{form.cplato.label}}</label>
											{%if form.cplato.errors%}
											{{form.cplato.errors}}
											{%endif%}
											<div class="col-sm-8">
												<input class="form-control" type="number" readonly value="{{current_pk}}" id="{{form.cplato.id_for_label}}" name="{{form.cplato.html_name}}" >
											</div>
										</div>

										<div class="form-group">
											<label for="{{ form.nplato.id_for_label }}" class="col-sm-4 control-label">{{ form.nplato.label }}</label>
											<div class="col-sm-8">
												{{ form.nplato }}
											</div>
										</div>
										<div class="form-group">
											<label for="{{ form.vttotal.id_for_label }}" class="col-sm-4 control-label">{{ form.vttotal.label }}</label>
											<div class="col-sm-8">
												{{ form.vttotal }}
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<img class="ae-img-article img-responsive" src="/static/{{url_foto}}" alt="">
											<label for="{{form.foto.id_for_label}}" class="col-sm-4 control-label">{{form.foto.label}}</label>
											{%if form.foto.errors%}
												{{form.foto.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.foto}}
											</div>
										</div>
									</div>
								</div>

								<div class="text-center">
									<div class="btn-group">
										<button class="btn btn-app btn-primary" type="button" action="reset-form">
											<i class="fa fa-plus-square-o"></i>Nuevo
										</button>
										<button class="btn btn-app btn-primary" type="submit">
											<i class="fa fa-save"></i>Guardar
										</button>
										<a data-new-window class="btn btn-app btn-primary" href="{% url 'list-dishes' %}"><i class="fa fa-list"></i>Listar</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Detalle</h3>
						</div>
						<div class="box-body">
							<table id="example" class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
									<th>Item</th>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th>Valor Unitario</th>
									<th>Valor Total</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
									<th>Item</th>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th>Valor Unitario</th>
									<th>Valor Total</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}

	<!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/b-flash-1.2.4/b-html5-1.2.4/r-2.1.0/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>-->

	<!--
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'js/dataTables.select.min.js' %}"></script>
	<script src="{% static 'js/dataTables.editor.min.js' %}"></script>
	-->

	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'js/editor_js/dataTables.editor.min.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'js/editor_js/editor.bootstrap.min.js' %}"></script>

	<script>
		var editor; // use a global for the submit and return data rendering in the examples

		function fn(response){
			$("[name=cplato]").val(response.pk)

			if( mode_view == "create" ){
				$("form").find("input,button:not([action=reset-form])").prop("disabled",true)
				fillTable()
			}
		}

		function clear_data(d) {
			for (var key in d.data){
				d.data[key].ingredientes.vunita = currencyFormat.sToN(d.data[key].ingredientes.vunita)
				d.data[key].ingredientes.vtotal = currencyFormat.sToN(d.data[key].ingredientes.vtotal)
				d.data[key].ingredientes.cplato = $("[name=cplato]").val()
			}
			return JSON.stringify(d);
		}

		function fillTable(){

			editor = new $.fn.dataTable.Editor( {
				ajax: {
					//url : "/dishes/load_deta/"
					create : {
						"url": "/dishes/ingredients/add/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					},
					edit : {
						"url": "/dishes/ingredients/edit/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					},
					remove : {
						"url": "/dishes/ingredients/remove/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					}
				},
				table: "#example",
				i18n: {
					create: {
						button: "Nuevo",
						title:  "Crear Nuevo",
						submit: "Crear"
					},
					edit: {
						button: "Modificar",
						title:  "Modificar",
						submit: "Actualizar"
					},
					remove: {
						button: "Borrar",
						title:  "Borrar",
						submit: "Borrar",
						confirm: {
							_: "¿Está seguro de que quiere eliminar %d líneas?",
							1: "¿Está seguro de que quiere borrar una línea?"
							}
					},
					error: {
						system: "Se ha producido un error, póngase en contacto con el administrador del sistema."
					},
					/*multi: {
						title: "Plusieurs valeurs",
						info: "Les éléments sélectionnés contiennent des valeurs différentes pour cette entrée. Pour modifier et mettre tous les éléments pour cette entrée pour la même valeur, cliquez ou appuyez ici, sinon ils vont conserver leurs valeurs individuelles.",
						restore: "Annuler les modifications"
					},
					datetime: {
						previous: 'Précédent',
						next:     'Premier',
						months:   [ 'Janvier', 'Février', 'Mars', 'Avril', 'peut', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre' ],
						weekdays: [ 'Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam' ]
					}*/
				},
				fields: [
					{
						label: "Item:",
						name:  "ingredientes.it",
						type : "hidden"
					},
					{
						label: "Ingrediente:",
						name:  "ingredientes.cingre",
						type : "select"
					},
					{
						label: "Cantidad:",
						name:  "ingredientes.canti",
					},
					{
						"label": "Valor Unitario:",
						"name": "ingredientes.vunita",
						type : "hidden"
					},
					{
						"label": "Valor Total:",
						"name": "ingredientes.vtotal",
						type : "hidden"
					}
				]
			})

			editor.on("submitComplete",function(event, response, data){
				$("#id_vttotal").val(currencyFormat.format(response.plato.fields.vttotal))
				data = {data:[]}
			})
			editor.on("preCreate",function(event, response, data){
				console.log("------------------")
				console.log(arguments)
				data.ingredientes.vunita = currencyFormat.format(data.ingredientes.vunita)
				data.ingredientes.vtotal = currencyFormat.format(data.ingredientes.vtotal)

				console.log("------------------")
			})

			$('#example').DataTable( {
				dom: "Bfrtip",
				ajax: {
					//url: "/dishes/load_deta/",
					url: "/dishes/ingredients/" + $("[name=cplato]").val(),
					type: 'GET',
					/*success: function(data){
						console.log(data)
						data.data.forEach(function(e){
							e.ingredientes.vunita = currencyFormat.format(e.ingredientes.vunita)
							e.ingredientes.vtotal = currencyFormat.format(e.ingredientes.vtotal)
						})
						console.log(data)
						return data
					}*/
				},
				columns: [

					{ data: "ingredientes.it" },
					{ data: "cingres.name" },
					{ data: "ingredientes.canti" },
					{ data: "ingredientes.vunita" },
					{ data: "ingredientes.vtotal" }
				],
				select: 'single',
				buttons: [
					{ extend: "create", editor: editor },
					{ extend: "edit",   editor: editor },
					{ extend: "remove", editor: editor }
				],
				language: {
					"sProcessing":     "Procesando...",
					"sLengthMenu":     "Mostrar _MENU_ registros",
					"sZeroRecords":    "No se encontraron resultados",
					"sEmptyTable":     "Ningún dato disponible en esta tabla",
					"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
					"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
					"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
					"sInfoPostFix":    "",
					"sSearch":         "Buscar:",
					"sUrl":            "",
					"sInfoThousands":  ",",
					"sLoadingRecords": "Cargando...",
					"oPaginate": {
						"sFirst":    "Primero",
						"sLast":     "Último",
						"sNext":     "Siguiente",
						"sPrevious": "Anterior"
					},
					"oAria": {
						"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
						"sSortDescending": ": Activar para ordenar la columna de manera descendente"
					}
				}
			})			.on( 'xhr', function ( e, settings, data ) {
				data.data.forEach(function(e){
	//console.log(e.ingredientes)

				e.ingredientes.vunita = currencyFormat.format(e.ingredientes.vunita)

				e.ingredientes.vtotal = currencyFormat.format(e.ingredientes.vtotal)

})
				console.info(arguments)
			} )

		}

		AJAXGenericView("form","select[name=cplato]","nplato","{{url}}",fn,"Creando el Plato.");

		var mode_view = $("#mode_view").val()

		/*$('.date').datetimepicker({
			format: 'YYYY-MM-D',
			defaultDate:date_appen
		})*/

		$( document ).ready(function() {
			if (mode_view == "edit"){
				fillTable()
			}
		});
	</script>
{% endblock content_script %}
