{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<!--
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/select.dataTables.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/editor.dataTables.min.css' %}">
	-->

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/editor.dataTables.min.css' %}">

{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}

	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Platos</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form">
				<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">
				<div class="row">
					{%csrf_token%}

					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>

							<div class="box-body">

								<div class="row">
									<div class="col-md-6">




										<div class="form-group">
											<label for="{{form.cplato.id_for_label}}" class="col-sm-4 control-label">{{form.cplato.label}}</label>
											{%if form.cplato.errors%}
											{{form.cplato.errors}}
											{%endif%}
											<div class="col-sm-8">
												<input class="form-control" type="number" readonly value="{{current_pk}}" id="{{form.cplato.id_for_label}}" name="{{form.cplato.html_name}}" >
											</div>
										</div>

										<div class="form-group">
											<label for="{{ form.nplato.id_for_label }}" class="col-sm-4 control-label">{{ form.nplato.label }}</label>
											<div class="col-sm-8">
												{{ form.nplato }}
											</div>
										</div>
										<div class="form-group">
											<label for="{{ form.npax.id_for_label }}" class="col-sm-4 control-label">{{ form.npax.label }}</label>
											<div class="col-sm-8">
												{{ form.npax }}
											</div>
										</div>
										<div class="form-group">
											<label for="{{ form.vttotal.id_for_label }}" class="col-sm-4 control-label">{{ form.vttotal.label }}</label>
											<div class="col-sm-8">
												{{ form.vttotal }}
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<div class="panel">
												<img class="ae-img-article img-responsive img-thumbnail center-block" src="/static/{{url_foto}}" alt="">
											</div>
											<label for="{{form.foto.id_for_label}}" class="col-sm-4 control-label">{{form.foto.label}}</label>
											{%if form.foto.errors%}
												{{form.foto.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.foto}}
											</div>
										</div>
									</div>
								</div>

								<div class="text-center">
									<div class="btn-group">
										<button class="btn btn-app btn-primary" type="button" action="reset-form">
											<i class="fa fa-plus-square-o"></i>Nuevo
										</button>
										<button class="btn btn-app btn-primary" type="submit">
											<i class="fa fa-save"></i>Guardar
										</button>
										<a data-new-window data-action="list" class="btn btn-app btn-primary" href="{% url 'list-dishes' %}"><i class="fa fa-list"></i>Listar</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</form>

			<div id="section_dish_deatil"  class="row {% if mode_view == 'create' %} hidden {% endif %}">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Detalle</h3>
						</div>
						<div class="box-body">
							<table id="example" class="display" cellspacing="0" width="100%">
								<thead>
									<tr>
									<th>Item</th>
									<th>Codigo</th>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th>Unidad</th>
									<th>Valor Unitario</th>
									<th>Valor Total</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
									<th>Item</th>
									<th>Codigo</th>
									<th>Ingrediente</th>
									<th>Cantidad</th>
									<th>Unidad</th>
									<th>Valor Unitario</th>
									<th>Valor Total</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div id="customTemplate">
		<div class="col-md-12 form-group">
			<!--<label for="{{form.cgpo.id_for_label}}" class="col-sm-4 control-label"> Ingrediente </label>-->
			<div class="">
				<div class="input-group">
					<editor-field name="ingredientes.cingre"></editor-field>
					<span class="input-group-addon"><a data-new-window data-action="select" href="{% url 'list-ingredients' %}" target="_blank"><i class="fa fa-search"></i></a></span>
				</div>
				<editor-field name="ingredientes.ningre"></editor-field>
			</div>
		</div>

		<div class="col-md-12 form-group">

			<!--<label for="{{form.canti.id_for_label}}" class="col-sm-4 control-label"> Cantidad </label>-->
			<div class="col-sm-8">
				<div class="input-group">
					<editor-field name="ingredientes.canti"></editor-field>
					<span id="nunidad" class="input-group-addon"></span>
				</div>
			</div>
		</div>
	</div>

	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
	<script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/b-1.2.4/se-1.2.0/datatables.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'js/editor_js/dataTables.editor.min.js' %}"></script>
	<script type="text/javascript" charset="utf-8" src="{% static 'js/editor_js/editor.bootstrap.min.js' %}"></script>

	<script>

		CONF_DTE.i18n.create.title = "Plato: Nuevo Ingrediente"
		CONF_DTE.i18n.edit.title = "Plato: Editar Ingrediente"
		CONF_DTE.i18n.remove.title = "Plato: Eliminar Ingrediente"
		CONF_DTE.i18n.remove.confirm["1"] = "Desea Eliminar el Ingrediente?"

		var editor; // use a global for the submit and return data rendering in the examples

		function fn(response){
			$("[name=cplato]").val(response.pk)

			if( mode_view == "create" ){
				$("#section_dish_deatil").removeClass("hidden")
				$("form").find("input,button:not([action=reset-form])").prop("disabled",true)
				fillTable()
			}
		}

		function clear_data(d) {
			for (var key in d.data){
				d.data[key].ingredientes.vunita = currencyFormat.sToN(d.data[key].ingredientes.vunita)
				d.data[key].ingredientes.vtotal = currencyFormat.sToN(d.data[key].ingredientes.vtotal)
				d.data[key].ingredientes.cplato = $("[name=cplato]").val()
			}
			return JSON.stringify(d);
		}

		function fillTable(){

			editor = new $.fn.dataTable.Editor( {
				template : "#customTemplate",
				ajax: {
					//url : "/dishes/load_deta/"
					create : {
						"url": "/dishes/ingredients/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					},
					edit : {
						"url": "/dishes/ingredients/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					},
					remove : {
						"url": "/dishes/ingredients/",
						"type": "POST",
						"dataType": "json",
						"contentType": "application/json",
						"data": clear_data,
					}
				},
				table: "#example",
				i18n: CONF_DTE.i18n,
				fields: [
					{
						label: "Item:",
						name:  "ingredientes.it",
						"type" : "hidden"
					},
					{
						label: "Codigo:",
						name:  "ingredientes.cingre",
						//"type" : "select"
					},
					{
						label: "Ingrediente:",
						name:  "ingredientes.ningre",
						type: "text",
						//"type" : "select"
					},
					{
						label: "Cantidad:",
						name:  "ingredientes.canti",
						type: "text",
						value: 1
					},
					{
						label: "Unidad:",
						name:  "ingredientes.cunidad",
						type: "hidden"
					},
					{
						"label": "Valor Unitario:",
						"name": "ingredientes.vunita",
						"type" : "hidden"
					},
					{
						"label": "Valor Total:",
						"name": "ingredientes.vtotal",
						"type" : "hidden"
					}
				]
			})

			editor.on("submitComplete",function(event, response, data){
				if(response.message){
					var message = alertBootstrap(response.message.text,response.message.type)
					$("#form").prepend(message)
				}

				$("#id_vttotal").val(currencyFormat.format(response.plato.fields.vttotal))
				data = {data:[]}
			}).on("preCreate preEdit",function(event, response, data){
				data.ingredientes.vunita = currencyFormat.format(data.ingredientes.vunita)
				data.ingredientes.vtotal = currencyFormat.format(data.ingredientes.vtotal)
			}).on("preOpen",function(event, frame, action){
				$("#nunidad").html("")
				console.log(arguments)
				event.target.field("ingredientes.cingre").enable()
				event.target.field("ingredientes.canti").set(1)
					event.target.field("ingredientes.ningre").disable()
				if(action == "edit"){
					event.target.field("ingredientes.cingre").disable()
				}
			}).on("open",function(event, frame, action){
				$("#nunidad").html("")
				$("[id*=-cingre]").change(function(){
					var input = this
					console.log(input)

			Models.objects.findOne("Ingredientes",{cingre : input.value},function(error,ingrediente){
				console.warn(ingrediente)
				if(!ingrediente){
					$(input).val("")
					tooltipBootstrap($(input),".DTE_Field","Este Ingrediente no se encuentra registrado.")
				}else{
					$("#nunidad").html(ingrediente.fields.cunidad.nunidad)
					event.target.field("ingredientes.ningre").set(ingrediente.fields.ningre)
				}
			})

					/*$.ajax({
						url: '{% url 'api-get-object' %}',
						type: 'POST',
						data: JSON.stringify({
							'model': 33,
							'field': "cingre",
							'value': input.value
						}),
						contentType: "application/json",
						success: function(response){
						}
					})*/
				})
			})

			$('#example').DataTable( {
				dom: "Bfrtip",
				ajax: {
					url: "/dishes/ingredients/" + $("[name=cplato]").val(),
					type: 'GET',
				},
				columns: [
					{ data: "ingredientes.it" },
					{ data: "ingredientes.cingre" },
					{ data: "ingredientes.ningre" },
					{ data: "ingredientes.canti" },
					{ data: "ingredientes.cunidad" },
					{ data: "ingredientes.vunita" },
					{ data: "ingredientes.vtotal" }
				],
				select: 'single',
				buttons: [
					{ extend: "create", editor: editor,className:CONF_DTE.buttons.create.className, text:CONF_DTE.buttons.create.text},
					{ extend: "edit",   editor: editor,className:CONF_DTE.buttons.edit.className, text:CONF_DTE.buttons.edit.text},
					{ extend: "remove", editor: editor,className:CONF_DTE.buttons.remove.className, text:CONF_DTE.buttons.remove.text}
				],
				language: CONF_DTE.language
			}).on( 'xhr', function ( e, settings, data ) {
				data.data.forEach(function(e){
					e.ingredientes.vunita = currencyFormat.format(e.ingredientes.vunita)
					e.ingredientes.vtotal = currencyFormat.format(e.ingredientes.vtotal)
				})
			})

		}

		AJAXGenericView("form","select[name=cplato]","nplato","{{url}}",fn,"Creando el Plato.");

		var mode_view = $("#mode_view").val()

		$( document ).ready(function() { if (mode_view == "edit") fillTable() })
	</script>
{% endblock content_script %}
