
{% extends 'layouts/base.html' %}
{% load static from staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
{% endblock  %}

{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
		<div class="content">
			<h2>{{title}}</h2>


				{% for usuario in usuarios %}

					<div id="modal_user_{{ usuario.id }}" class="modal fade" role="dialog">
						<div class="modal-dialog">

						<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">{{ usuario.first_name }} {{ usuario.last_name }}</h4>
								</div>
								<div class="modal-body">
									<div class="form-group ">
										<label class=""> Nueva Contraseña </label>
										<input form="form_user_{{ usuario.id }}" class=" form-control" type="password" name="npassword">
									</div>
									<div class="form-group ">
										<label class=""> Confirmar Contraseña </label>
										<input form="form_user_{{ usuario.id }}" class=" form-control" type="password" name="cpassword">
									</div>
									<div class="form-group ">
										<label class=""> Fecha Expiracion </label>
										<input form="form_user_{{ usuario.id }}" class="date form-control" type="text" name="date_joined" value="{{ usuario.date_joined | date:'Y-m-d' }}">
									</div>
									<div class="form-group ">
										<input form="form_user_{{ usuario.id }}" type="checkbox" name="is_superuser" {% if usuario.is_superuser %} checked {% endif %}>
										<label class=""> Super Usuario </label>
									</div>
									<div class="form-group ">
										<label class=""> Sucursal </label>
										<select disabled form="form_user_{{ usuario.id }}" id="id_csucur" name="csucur" class="form-control">
											{% for x,y in form.fields.csucur.choices %}
												<option value="{{ x }}"{% if form.fields.csucur.value == usuario.ccaja %} selected{% endif %}>{{ y }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group ">
										<label class=""> Caja </label>
										<select disabled form="form_user_{{ usuario.id }}" id="id_ccaja" name="ccaja" class="form-control">
											{% for x,y in form.fields.ccaja.choices %}
												<option value="{{ x }}"{% if form.fields.ccaja.value == usuario.ccaja %} selected{% endif %}>{{ y }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group ">
										<label class=""> Talonario </label>
										<select disabled form="form_user_{{ usuario.id }}" id="id_ctalo" name="ctalo" class="form-control">
											{% for x,y in form.fields.ctalo.choices %}
												<option value="{{ x }}"{% if form.fields.ctalo.value == usuario.ctalo %} selected{% endif %}>{{ y }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group ">
										<label class=""> Grupo </label>
										<select disabled form="form_user_{{ usuario.id }}" id="id_auth_cgrupo" name="auth_cgrupo" class="form-control">
											{% for x,y in form.fields.auth_cgrupo.choices %}
												<option value="{{ x }}"{% if x == usuario.groups.all.0.id %} selected{% endif %}>{{ y }}</option>
											{% endfor %}
										</select>
									</div>
									<p> Ultimo Ingreso : {{ usuario.last_login | date:'Y-m-d' }}</p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>

						</div>
					</div>

				{% endfor %}
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Administrar Usuarios</h3>
					</div>
					<div class="box-body">
						<table class="table">
							<tr>
								<th> Usario </th>
								<th> Email </th>
								<th> Nombres </th>
								<th> Apellidos </th>
								<th> Activo </th>
								<!--<th> is_staff </th>-->
							</tr>
							{% for usuario in usuarios %}
								<form class="form-horizontal" id="form_user_{{ usuario.id }}">
									{%csrf_token%}
										<tr>
											<td>
												<input class="form-control" type="hidden" name="id" value="{{ usuario.id }}">
												<input class="form-control" type="text" name="username" disabled value="{{ usuario.username }}">
											</td>
											<td> <input class="form-control" type="text" name="email" value="{{ usuario.email }}"></td>
											<td> <input class="form-control" type="text" name="first_name" value="{{ usuario.first_name }}"></td>
											<td> <input class="form-control" type="text" name="last_name" value="{{ usuario.last_name }}"></td>
											<td> <input type="checkbox" name="is_active" {% if usuario.is_active %} checked {% endif %}></td>
											<!-- <td>{% comment %} {{ usuario.is_staff }} {% endcomment %}</td>-->

											<td> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal_user_{{ usuario.id }}">Mas...</button> </td>
											<td> <input type="submit" value="Guardar" class="btn btn-success"> </td>
										</tr>
									</form>
							{% endfor %}
						</table>
					</div>
				</div>

				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-app btn-primary" type="button" action="reset-form">
							<i class="fa fa-plus-square-o"></i>Nuevo
						</button>
						<button class="btn btn-app btn-primary" type="submit">
							<i class="fa fa-save"></i>Guardar
						</button>
					</div>
				</div>
		</div>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{%block content_script%}
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
<script>
$(".date").datetimepicker({
	format: "YYYY-MM-D",
	defaultDate:date_appen
});
	$("form").submit(function (event) {
		var that = $(this)
		event.preventDefault()
		$.ajax({
			type:"POST",
			url:"/users/administrar/",
			data:that.serialize(),
			//contentType:"application/x-www-form-urlencoded",
			success:function(response){
				alertify.success(response.message)
			},
			error:function(response){
				alertify.error("Ha Ocurrido un Error.")
			}
		})
	})
</script>
{%endblock%}
