{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--<link rel="stylesheet" href="{% static 'css/jquery.mobile-1.4.5.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/jquery.mobile.theme-1.4.5.min.css' %}">
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/jquery.mobile-1.4.5.min.js' %}"></script>
	-->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	{% block head %}
	{% endblock head %}
</head>
<body>
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		<a href="{% url 'm_dashboard' %}" class="ui-btn-lef tui-btn ui-icon-gear ui-shadow ui-corner-all" data-role="button" data-transition="flow" role="button">Inicio</a>
		{% block title %}
		{% endblock title %}
		{% block header %}
		{% endblock header %}
	</div>
	<div data-role="content" class="ui-content" role="main">
		{% block content %}
		{% endblock content %}
	</div>
</body>
{% block scripts %}
{% endblock scripts %}
</html>