{% extends "m/base.html" %}

{% block title %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación</h1>
{% endblock title %}

{% block header %}
	{% include "m/m_header_fac.html" %}
	<a href="{% url 'm_pay' %}" class="ui-btn-right ui-btn ui-icon-gear ui-shadow ui-corner-all" data-role="button" data-transition="slide" role="button" id="pay">Pagar</a>
{% endblock header %}

{% block content %}

	<h4>Incluye los articulos del pedido</h4>

	<a href="{% url 'm_choose_article' %}" class="ui-btn" data-transition="slide">Seleccionar Articulo</a>

	<table id="table-order"data-role="table" data-mode="columntoggle" data-column-btn-text="columnas..." class="ui-responsive table-stroke">
		<thead>
		<tr>
			<th data-priority="1">It</th>
			<th data-priority="4">cod</th>
			<th>Articulo</th>
			<th>Cant.</th>
			<th data-priority="3">Desc. %</th>
			<th data-priority="2">v. Unitario</th>
			<th>v. Total</th>
		</tr>
		</thead>
		<tbody id="articleTableBody">
			
		</tbody>
	</table>

	<div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
		<div class="ui-grid-a" style="text-align:center;">
			<div class="ui-block-a">
				<h3>TOTAL $</h3>
			</div>
			<div class="ui-block-b">
				<input id="vtotalFactura" type="text" value="0" style="text-align:right;background-color: black;color: white;font-size: 20px;" disabled>
			</div>
		</div>
	</div>
	<style>
		.article-item:hover{
			background-color: gainsboro;
		}
		.article-item td, .article-item th{
			text-align: right;
		}
	</style>
	<script>

		var vtotalFactura = 0;

		// Template Item de factura
		var templateArticleList = "<tr class='article-item' data-item=':dataitem:'>" +
				"<td>:item:</td>" +
				"<td>:carlo:</td>" +
				"<td>:ncorto:</td>" +
				"<td>:cantidad:</td>" +
				"<td>:descuento:</td>" +
				"<td>:vunitario:</td>" +
				"<td>:vtotal:</td>" +
			"</tr>"

		// Ejecutar al crear la tabla
		$( "#table-order" ).on( "tablecreate", function( event, ui ) {
			// Renderizar articulos en la orden
			renderArticulosDeOrden();
		});

		// Eliminar item de factura
		$("#articleTableBody").on("click", ".article-item", function () {
			// confirmar borrado
			var respuesta = confirm("Eliminar item")
			var itemDeFactura = this

			if (respuesta)
				removerItemDeFactura(itemDeFactura)
		})

		// Remover item de factura 
		function removerItemDeFactura (itemDeFactura) {

			// item y valor del indice
			var item = $(itemDeFactura)
			var indice = item.attr("data-item")

			// remover articulo de la orden
			articlesOrder.splice(indice,1);
			// remover articulo del DOM
			item.remove()

			// renderizar articulos
			renderArticulosDeOrden()
		}

		// Renderizar tabla con los items de la factura
		function renderArticulosDeOrden () {
			// recorrer lista de articulos
			if ( articlesOrder.length > 0) {

				var t = "";
				var totalPedido = 0

				// armar template
				for (var i = 0; i < articlesOrder.length; i++) {
					t += templateArticleList
									.replace(":dataitem:", i)
									.replace(":item:", i + 1)
									.replace(":carlo:", articlesOrder[i].carlos)
									.replace(":ncorto:", articlesOrder[i].ncorto)
									.replace(":cantidad:", articlesOrder[i].canti)
									.replace(":descuento:", articlesOrder[i].pordes)
									.replace(":vunitario:", currencyFormat.format(articlesOrder[i].vunita))
									.replace(":vtotal:", currencyFormat.format(articlesOrder[i].vtotal))

					totalPedido += articlesOrder[i].vtotal

				}
				vtotalFactura = totalPedido

				// renderizar template
				$("#articleTableBody").empty()
				$("#articleTableBody").append(t)
				// Refrescar tabla
				$( "#table-order" ).table("refresh")

				$("#vtotalFactura").val(currencyFormat.format(vtotalFactura))
			}
		}

		// Pagar
		$( "#pay" ).on( "click", function( event ) {
			event.preventDefault();
			// Validar si existen articulos cargados a la factura antes de pagar
			if ( articlesOrder.length > 0){
				$.mobile.navigate( $(this).attr("href"), { transition: "slide"});
			}
			else {
				// mostrar dialogo
				alert("Primero debes cargar articulos a la factura")
			}
		});

	</script>
{% endblock content %}