{% extends "m/base.html" %}
{% block title %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación</h1>
{% endblock title %}
{% block content %}
	<h4>Incluye los articulos a facturar</h4>
	<a href="{% url 'm_choose_article' %}" class="ui-btn" rel="external" data-transition="flow">Seleccionar Articulo</a>
	<div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
		<h4 class="ui-title" role="heading" aria-level="1">TOTAL $ X.XXX.XXX</h4>
	</div>
{% endblock content %}