{% extends "m/base.html" %}

{% block title %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación</h1>
{% endblock title %}

{% block header %}
	{% include "m/m_header_fac.html" %}
	<a href="{% url 'm_pay' %}" class="ui-btn-right ui-btn ui-icon-gear ui-shadow ui-corner-all" data-role="button" data-transition="slide" role="button">Pagar</a>
{% endblock header %}

{% block content %}

	<h4>Incluye los articulos del pedido</h4>

	<a href="{% url 'm_choose_article' %}" class="ui-btn" data-transition="slide">Seleccionar Articulo</a>

	<div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
		<h4 class="ui-title" role="heading" aria-level="1">TOTAL $ X.XXX.XXX</h4>
	</div>
{% endblock content %}