{% extends "m/base.html" %}
{% block title %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación</h1>
{% endblock title %}
{% block header %}
	<a href="{% url 'm_pay' %}" class="ui-btn-right ui-btn ui-icon-gear ui-shadow ui-corner-all" data-role="button" data-transition="flow" role="button">Pagar</a>
{% endblock header %}
{% block content %}
	<h4>Pedido</h4>
	<a href="{% url 'm_choose_article' %}" class="ui-btn" rel="external">Seleccionar Articulo</a>
	<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
	<thead>
	<tr>
		<th data-priority="1">It</th>
		<th data-priority="2">Articulo</th>
		<th data-priority="4">Cant.</th>
		<th data-priority="5">v. Unitario</th>
		<th data-priority="3">v. Total</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<th>1</th>
			<td>Arroz Diana</td>
			<td>2</td>
			<td>1.5000</td>
			<td>3.000</td>
		</tr>
	</tbody>
</table>

	<div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
		<h4 class="ui-title" role="heading" aria-level="1">TOTAL $ X.XXX.XXX</h4>
	</div>
{% endblock content %}