{% extends "m/base.html" %}
{% block title %}
	{% include "m/m_header_fac.html" %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación - Pago</h1>
{% endblock title %}
{% block content %}
	<h4>Pago</h4>
	<form action="">
		<label for="text-basic">Forma de Pago</label>
		<select>
			{% for medio_pago in mediosPago %}
				<option value="{{medio_pago.cmpago}}">{{medio_pago.nmpago}}</option>
			{% endfor %}
		</select>

		<label for="text-basic">Valor entregado</label>
		<input type="number">

		<label for="text-basic">Descuento</label>
		<input type="number">
	</form>
	
	<a href="" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a">Guardar</a>

	<div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
		<div class="ui-grid-a" style="text-align:center;">
			<div class="ui-block-a">
				<h3>TOTAL $</h3>
			</div>
			<div class="ui-block-b">
				<input id="vtfactura" type="number" value="0" style="text-align:right;" disabled>
			</div>
		</div>
	</div>
	<script>
			$("#vtfactura").val(vtotalFactura)

			// recolectar los datos para guardar factura

			// guardar factura

	</script>

{% endblock content %}