{%extends 'layouts/base.html'%}

{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
			<div class="col-md-12">

				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Nueva Marca</h3>
					</div>
					<form action="" method="POST" role="form" class="form-horizontal">
						{%csrf_token%}
						<div class="box-body">
							<section class="row col-md-12">
								<div class="form-group">
									<label for="{{form.nmarca.id_for_label}}" class="col-sm-2 control-label">{{form.nmarca.label}}</label>
									{%if form.nmarca.errors%}
									{{form.nmarca.errors}}
									{%endif%}
									<div class="col-sm-10">
										<input class="form-control" type="text" value="{{form.nmarca.value|default_if_none:''}}" id="{{form.nmarca.id_for_label}}" name="{{form.nmarca.html_name}}" >
									</div>
								</div>
								<div class="form-group">
									<label for="{{form.cesdo.id_for_label}}" class="col-sm-2 control-label">{{form.cesdo.label}}</label>
									{%if form.cesdo.errors%}
									{{form.cesdo.errors}}
									{%endif%}
									<div class="col-sm-10">
										<div class="input-group">
											{{form.cesdo}}
											<span class="input-group-addon"><a data-new-window href="{% url 'add-state' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
										</div>
									</div>
								</div>
							</section>
							<div class="btn-group">
								<button class="btn btn-app btn-info" type="submit">
									<i class="fa fa-plus-square-o"></i>Guardar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script>AJAXGenericView("form","select[name=cesdo]","nesdo","{{url}}");</script>
{% endblock %}
