{%extends 'layouts/base.html'%}
{% load static from staticfiles %}
{% block content_head %}
{% endblock content_head %}
{% load humanize %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Cajas</h3>
				</div>
				<div class="box-body">
					<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>cesdo</th>
								<th>ncaja</th>
								<th>caseri</th>
								<th>csucur</th>
								<th>ctimocj</th>
								<th>cbode</th>
								<th data-cell-action="edit">Editar</th>
								<th data-cell-action="select" class="hidden">Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							{% for caja in object_list %}
								<tr>
									<td>{{ caja.cesdo }}</td>
									<td>{{ caja.ncaja }}</td>
									<td>{{ caja.caseri }}</td>
									<td>{{ caja.csucur }}</td>
									<td>{{ caja.ctimocj }}</td>
									<td>{{ caja.cbode }}</td>
									<td data-cell-action="edit"><a data-link-edit href="{% url 'edit-caja' caja.ccaja %}" target="_blank">Editar</a></td>
									<td data-cell-action="select" class="hidden"><button class="btn btn-primary" data-object-search="{{ caja.ccaja }}">Seleccionar</button></td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script>
		$(document).ready(function() {
			$('#example').DataTable({"language": languageDataTable});
		});
	</script>
{% endblock %}
