{% extends 'layouts/base.html' %}

{% load static from staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Impresion de Existencias en Inventarios</h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<form class="form-horizontal" target="_blank" action="{% url 'inventory_stocks_pdf' %}" method="get" accept-charset="utf-8">
							{% csrf_token %}
							<div class="box-body">
								<div class="col-md-4">
									<label class="control-label">{{ form.nota_inicial.label }}</label>
									{{ form.nota_inicial }}
									<label class="control-label">{{ form.fecha_nota_inicial.label }}</label>
									{{ form.fecha_nota_inicial }}
									<label class="control-label">{{ form.fecha_final.label }}</label>
									{{ form.fecha_final }}
								</div>
								<div class="col-md-4">
									<label class="control-label">{{ form.group_report.label }}</label>
									{{ form.group_report }}
									<label class="control-label">{{ form.type_report.label }}</label>
									{{ form.type_report }}
								</div>
								<div class="col-md-4">
									<div id="grupo">
										<label class="control-label">{{ form.grupos.label }}</label>
										{{ form.grupos }}
									</div>
									<div id="marca">
									<label class="control-label">{{ form.marcas.label }}</label>
										{{ form.marcas }}
									</div>
								</div>
							</div>
							<div class="box-footer text-center">
								<button class="btn btn-app btn-primary" type="submit">
									<i class="fa fa-print"></i>Imprimir
								</button>
								<a class="btn btn-app btn-primary" href="{% url 'dashboard' %}">
									<i class="fa fa-sign-out"></i>Salir
								</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-12" id="table-inventory"></div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
	<script src="{% static 'js/moment-with-locales.js' %}"></script>
	<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>
	<script>
		$('.date').datetimepicker({
			format: 'YYYY-MM-DD',
		});
		grupos()
		function grupos(){
			$('#grupo').show()
			$('#id_grupos').attr('required', true)
			$('#id_marcas').attr('required', false)
			$('#marca').hide()
		}
		function marcas(){
			$('#grupo').hide()
			$('#id_grupos').attr('required', false)
			$('#id_marcas').attr('required', true)
			$('#marca').show()
		}
		$(document).ready(function() {
			if($('#id_nota_inicial').val() == ''){
				alert('Debe agregar una nota de inventario en parametros.');
				window.location.replace("{% url 'list-parameter' %}");
			}
			$('input[type=radio][name=group_report]').change(function(){
				return ($(this).val() == 'G') ? grupos(): marcas()
			});
		});
	</script>
{% endblock content_script %}
