{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Nota <small>inventario inicial</small></h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Creación/Edición de Inventario</h3>
						</div>
						<form action="inventory_submit" class="form-horizontal" method="post" accept-charset="utf-8">
							{% csrf_token %}
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-3 control-label">{{ form.codigo.label }}</label>
									<div class="col-sm-6">
										{{ form.codigo }}
									</div>
								</div>
							</div>
							<div class="box-footer text-center">
								<div class="btn-group">
									<a class="btn btn-app btn-info btn-new" href="{% url 'inventory_latest' %}">
										<i class="fa fa-plus-square-o"></i>Nuevo
									</a>
									<a class="btn btn-app" href="{% url 'inventory_list' %}">
										<i class="fa fa-list"></i>Listar
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-12" id="table-inventory"></div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script>
	var cii = '';
	var table = '';
	var data_table_content = [];
	loading_animation()
	$.urlParam = function(name){
		var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
		return (results != null) ? results[1] || 0: false;
	}
	get_param();
	Number.prototype.format = function(n, x) {
		var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
		return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
	};
	function get_param(){
		if($.urlParam('code') != false){
			$('#id_codigo').val($.urlParam('code'));
			edit_inventory();
		}else{
			$(document).ready(function(){
				$(".btn-new").trigger('click');
			});
		}
	}
	function create_table(response){
		$('#id_codigo').val((cii!='')?cii.val():response.code).prop('readonly', true);
		cii = '';
		$('#table-inventory').children().remove();
		$('#table-inventory').append(
			'<div class="box">'+
				'<div class="box-header">'+
					'<div class="row">'+
						'<div class="col-md-3">'+
							'<p><b>Estado: </b>'+
								'<select name="estado" id="id_estado" class="form-control">'+
									'<option value="">Seleccione un estado</option>'+
								'</select>'+
							'</p>'+
						'</div>'+
						'<div class="col-md-3">'+
							'<p><b>Fecha: </b>'+
								'<input type="text" id="date" class="form-control date">'+
							'</p>'+
						'</div>'+
					'</div>'+
					'<div class="box-tools">'+
						'<p><b>Valor Total: </b><span id="val-tot" val="'+response.val_tot+'">'+(response.val_tot).format(2)+'</span></p>'+
					'</div>'+
				'</div>'+
				'<div class="box-body">'+
					'<table class="table table-striped" id="table"></table>'+
				'</div>'+
				'<div class="box-footer text-center">'+
					'<div class="box-footer text-center">'+
						'<div class="btn-group">'+
							'<a class="btn btn-app btn-info btn btn-primary" id="btn-reset" href="#">'+
								'<i class="fa fa-undo"></i>Valores en cero'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary" id="btn-rename" href="#">'+
								'<i class="fa fa-pencil-square-o"></i>Actualizar nombres'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary" href="#">'+
								'<i class="fa fa-print"></i>Imprimir'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary" id="btn-save" href="#">'+
								'<i class="fa fa-floppy-o"></i>Guardar'+
							'</a>'+
						'</div>'+
					'</div>'+
				'</div>'+
			'</div>'
		);
		table = $('.table').DataTable({
			columns: [
				{ title: "Código", data: "codigo" },
				{ title: "Código Barras", data: "codigo_barras" },
				{ title: "Nombre", data: "nombre" },
				{ title: "Grupo.", data: "grupo" },
				{ title: "Cant. Calculada", data: "calcu" },
				{ title: "Cant. Contada", data: "cont" },
				{ title: "Costo Unitario", data: "unita" },
				{ title: "Costo Total", data: "total" },
				{ title: "Ajuste Entrada", data: "entrada" },
				{ title: "Ajuste Salida", data: "salida" },
			],
			"createdRow": function ( row, data, index ) {
				$('td', row).eq(0).attr('id', 'carlos-'+data.DT_RowId);
				$('td', row).eq(2).attr('id', 'nlargo-'+data.DT_RowId);
				$('td', row).eq(4).attr('id', 'cancalcu-'+data.DT_RowId).attr('class', 'text-right');
				$('td', row).eq(7).attr('id', 'vtotal-'+data.DT_RowId).attr('class', 'text-center').attr('val', ( $(data.cont).val() * $(data.unita).val() ));
				$('td', row).eq(8).attr('id', 'ajuent-'+data.DT_RowId);
				$('td', row).eq(9).attr('id', 'ajusal-'+data.DT_RowId);
			}
		});
		$('.date').datetimepicker({
			 defaultDate: new Date(response.year+'/'+response.month+'/'+response.day+' '+response.hour+':'+response.minute),
			 format: 'D/MM/YYYY HH:mm',
		});
		data_table(response.data);
		data_esdo(response.esdo);
	}
	function data_esdo(esdo){
		$.each(esdo, function (key, item) {
			$('#id_estado').append('<option value="'+item.cesdo+'" '+item.selected+'>'+item.nesdo+'</option>');
		});
	}
	function edit_inventory(){
		cii = $('#id_codigo');
		if(cii.val() != ''){
			$.get('/inventory/find/'+cii.val()+'/', function(response){
				if(response.type == 0){
					if (confirm('No existe inventario con el codigo ingresado. Desea crear un nuevo con el codigo '+response.cii+'?')){
						$(".btn-new").trigger('click');
					}
				}else{
					$.post('{% url 'inventory_edit' %}', {pk: cii.val()}, function(response){
						create_table(response);
						if(response.count_extra > 0){
							if (confirm('Hay '+response.count_extra+' nuevos articulos. Desea agregarlos al inventario en edición?')){
								data_table(response.data_extra);
							}
						}
					});
				}
			});
		}else{
			alert('Digite el código a buscar');
			cii.focus();
		}
	}
	function data_table(data){
		var val_tot = 0;
		$.each(data, function (key, item) {
			val_tot += (item.canti*item.vcosto);
			table.row.add({
				'DT_RowId': item.carlos,
				'DT_RowClass': 'cont-data', 
				'codigo': item.carlos,
				'codigo_barras': item.cbarras,
				'nombre': item.nlargo,
				'grupo': item.ngpo,
				'calcu': item.cancalcu,
				'cont': '<input type="text" id="cant-'+item.carlos+'" class="text-right cant val" value="'+item.canti+'" style="border: none;">',
				'unita': '<input type="text" id="vunita-'+item.carlos+'" class="text-right value val" value="'+item.vcosto+'" style="border: none;">',
				'total': (item.canti*item.vcosto).format(2),
				'entrada': 0,
				'salida': 0
			}).draw()
		});
		$('#val-tot').text('$ '+val_tot.format(2)).attr('val', val_tot);
	}
	$(document).on("click", "#btn-reset", function(e){
		e.preventDefault();
		$(':input.val').val(0).trigger('keyup');
	});
	$(document).on("click", "#btn-rename", function(e){
		e.preventDefault();
		$.post('{% url 'get_name_arlo' %}', function(response){
			$.each(response.data, function (key, item){
				$('#nlargo-'+item.carlos).text(item.nlargo)
			});
		});
	});
	$(document).on("click", ".btn-new", function(e){
		e.preventDefault();
		$.post($(this).attr('href'), function(response){
			create_table(response);
		});
	});
	$(document).on("keyup", ".cant", function(e){
		var id = $(this).parent().parent().attr('id');
		var this_value = parseInt($(this).val());
		var cant_calcu = parseInt($('#cancalcu-'+id).text());
		var cant = (this_value - cant_calcu);
		var value_tot = this_value*$('#vunita-'+id).val();
		var val_calcu = (parseInt($('#val-tot').attr('val'))-parseInt($('#vtotal-'+id).attr('val')))+value_tot;
		console.log($('#vtotal-'+id).attr('val'))
		$('#val-tot').text('$ '+val_calcu.format(2)).attr('val', val_calcu);
		$('#vtotal-'+id).text(value_tot.format(2)).attr('val', value_tot);
		if(cant < 0){
			$('#ajusal-'+id).text(Math.abs(cant));
			$('#ajuent-'+id).text('0');
		}else{
			$('#ajusal-'+id).text('0');
			$('#ajuent-'+id).text(cant);
		}
	});
	$(document).on("keyup", ".value", function(e){
		var id =$(this).parent().parent().attr('id');
		var this_value = parseInt($('#cant-'+id).val());
		var value_tot = this_value*$('#vunita-'+id).val()
		var val_calcu = (parseInt($('#val-tot').attr('val'))-parseInt($('#vtotal-'+id).attr('val')))+value_tot;
		$('#val-tot').text('$ '+val_calcu.format(2)).attr('val', val_calcu);
		$('#vtotal-'+id).text(value_tot.format(2)).attr('val', value_tot);
	});
	$(document).on("click", "#btn-save", function(e){
		e.preventDefault();
		var data_r = [];
		cesdo = $('#id_estado');
		if(cesdo.val() != ''){
			$.each( table.rows().data(), function(i, row){
				data_r.push({
					'carlos': row.codigo,
					'nlargo': row.nombre,
					'cancalcu': row.calcu,
					'cant': $(row.cont).val(),
					'vunita': $(row.unita).val(),
					'ajuent': row.entrada,
					'ajusal': row.salida,
				});
			});
			$.ajax({
				url: '{% url 'inventory_save' %}',
				type: 'post',
				data: {
					'cii': $('#id_codigo').val(),
					'val_tot': $('#val-tot').attr('val'),
					'fii': $('#date').val(),
					'cesdo': cesdo.val(),
					'data_r': JSON.stringify(data_r)
				},
				dataType: "json",
				success: function(response){
					alert(response.msg)
				}
			});
		}else{
			alert('Seleccione un estado.')
			cesdo.focus();
		}
	});
</script>
{% endblock content_script %}