{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Nota Inventario Inicial</h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Creación/Edición de Inventario</h3>
						</div>
						<form action="inventory_submit" class="form-horizontal" method="post" accept-charset="utf-8">
							{% csrf_token %}
							<div class="box-body">
								<div class="row text-center">
									<div class="col-md-12">
										<div class="form-group">
											<div class="col-md-3">
												<label class="col-sm-3 control-label">{{ form.codigo.label }}</label>
												<div class="col-sm-8">
													{{ form.codigo }}
												</div>
											</div>
											<div class="cont-info"></div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="text-center">
								<div class="btn-group">
									<a class="btn btn-app btn-info" href="{% url 'inventory' %}">
										<i class="fa fa-plus-square-o"></i>Nuevo
									</a>
									<a class="btn btn-app" href="{% url 'inventory_list' %}">
										<i class="fa fa-list"></i>Listar
									</a>
								</div>
							</div>
						</form>
					</div>
					<div id="alert-msg"></div>
				</div>
				<div class="col-md-12" id="table-inventory"></div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
<script src="{% static 'js/jquery.numeric.min.js' %}"></script>
<script>
	var cii = '';
	var table = '';
	var dis_print = '';
	var mod_edit = false
	var cont = 1
	$.urlParam = function(name){
		var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
		return (results != null) ? results[1] || 0: false;
	}
	get_param();
	Number.prototype.format = function(n, x) {
		var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
		return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
	};
	function get_param(){
		if($.urlParam('code') != false){
			$('#id_codigo').val($.urlParam('code'));
			mod_edit = true
			edit_inventory();
		}else{
			get_new();
		}
	}
	function get_new(){
		loading_animation("Cargando Datos");
		$.post('{% url 'inventory_latest' %}', function(response){
			dis_print = 'disabled';
			cii = $('#id_codigo').val(response.code).prop('readonly', true);
			create_table(response);
		}).fail(function(xhr, status, error) {
			$("#alert-msg").append(alertBootstrap("Ha ocurrido un error al cargar los articulos. Por favor recargue la pagina", 'error'))
		});
	}
	function create_table(response){
		$('#table-inventory').children().remove();
		$('.cont-info').append(
			'<div class="col-md-3">'+
				'<label class="col-md-3 control-label">Estado: </label>'+
				'<div class="col-md-8">'+
					'<select name="estado" id="id_estado" class="form-control">'+
						'<option value="">Seleccione un estado</option>'+
					'</select>'+
				'</div>'+
				'</p>'+
			'</div>'+
			'<div class="col-md-3">'+
				'<label class="col-md-6 control-label">Fecha Creacion: </label>'+
				'<div class="col-md-6">'+
					'<input type="text" id="date" class="form-control date">'+
				'</div>'+
			'</div>'+
			'<div class="col-md-3">'+
				'<label class="col-md-7 control-label">Fecha Actualizacion: </label>'+
				'<div class="col-md-5">'+
					'<input type="text" class="form-control date-ac" readonly>'+
				'</div>'+
			'</div>'+
			'<div class="col-md-12">'+
				'<p><b>Valor Total: </b><span id="val-tot" class="val-tot" val="'+response.val_tot+'">'+(response.val_tot).format(2)+'</span></p>'+
			'</div>'
		);
		$('#table-inventory').append(
			'<div class="box">'+
				'<div class="box-header with-border">'+
					'<h3 class="box-title">Articulos de Inventario</h3>'+
				'</div>'+
				'<div class="box-body">'+
					'<div class="tb-add"></div>'+
					'{%include 'elements/filters.html'%}'+
					'<table class="table table-striped" id="table">'+
						'<thead>'+
							'<tr>'+
								'<th>Codigo</th>'+
								'<th>C. Barras</th>'+
								'<th>Nombre</th>'+
								'<th>Grupo</th>'+
								'<th>Cant.Cal.</th>'+
								'<th>Cant. Cont.</th>'+
								'<th>Costo Unit.</th>'+
								'<th>Costo Total</th>'+
								'<th>Aj. Entrada</th>'+
								'<th>Aj. Salida</th>'+
							'</tr>'+
						'</thead>'+
						'<tbody id="cont-data"></tbody>'+
					'</table>'+
					'{%include 'elements/paginate.html'%}'+
					'<div class="col-md-12 text-right">'+
						'<p><b>Valor Total: </b><span id="val-tot" class="val-tot" val="'+response.val_tot+'">'+(response.val_tot).format(2)+'</span></p>'+
					'</div>'+
				'</div>'+
				'<div class="box-footer text-center">'+
					'<div class="box-footer text-center">'+
						'<div class="btn-group">'+
							'<a class="btn btn-app btn-info btn btn-primary" id="btn-save" href="#">'+
								'<i class="fa fa-floppy-o"></i>Guardar'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary open-modal" data-toggle="modal" data-target="#Modal" id="btn-print" href="{% url 'inventory_report' %}?invini='+cii.val()+'" '+dis_print+'>'+
								'<i class="fa fa-print"></i>Imprimir'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary" id="btn-reset" href="#">'+
								'<i class="fa fa-undo"></i>Valores en cero'+
							'</a>'+
							'<a class="btn btn-app btn-info btn btn-primary" href="{% url 'dashboard' %}">'+
								'<i class="fa fa-sign-out"></i>Salir'+
							'</a>'+
						'</div>'+
					'</div>'+
				'</div>'+
			'</div>'
		);
		$('#inlineRadio5').val('carlos__cesdo__nesdo');
		$('#inlineRadio6').val('carlos__cmarca__nmarca');
		$('#inlineRadio7').val('carlos__cgpo__ngpo');
		if(mod_edit == false){
			$('.tb-add').html('<table class="table no-footer new-add">'+
				'<thead>'+
					'<tr>'+
						'<th>Código</th>'+
						'<th>C. Barras</th>'+
						'<th>Nombre</th>'+
						'<th>Cant. Cal.</th>'+
						'<th>Cant. Cont.</th>'+
						'<th>Costo Unit.</th>'+
						'<th>Costo Total</th>'+
						'<th>Ajuent</th>'+
						'<th>Ajusal</th>'+
						'<th></th>'+
					'</tr>'+
				'</thead>'+
				'<tbody id="const-add">'+
					const_add()+
				'</tbody>'+
			'</table><br>')
		}
		$('.date').datetimepicker({
			 defaultDate: new Date(response.year+'/'+response.month+'/'+response.day+' '+response.hour+':'+response.minute),
			 format: 'D/MM/YYYY HH:mm',
		});
		if(response.ac_year != 0){
			$('.date-ac').datetimepicker({
				 defaultDate: new Date(response.ac_year+'/'+response.ac_month+'/'+response.ac_day+' '+response.ac_hour+':'+response.ac_minute),
				 format: 'D/MM/YYYY HH:mm',
			});
		}
		data_table();
		data_esdo(response.esdo);
	}
	function const_add(){
		return '<tr class="add-cont">'+
					'<td width="15%">'+
						'<div class="input-group">'+
							'<input type="number" id="id_carlos" name="carlos" class="form-control" find-carlos/>'+
							'<span class="input-group-addon"><a data-new-window="" href="/articles/" target="_blank"><i class="fa fa-search"></i></a></span>'+
						'</div>'+
					'</td>'+
					'<td class="id_cbarras"></td>'+
					'<td class="id_nlargo"></td>'+
					'<td class="id_cantcalcu text-right"></td>'+
					'<td>'+
						'<input type="number" class="form-control cant id_canti"/>'+
					'</td>'+
					'<td>'+
						'<input type="number" class="form-control value text-right id_vunita"/>'+
					'</td>'+
					'<td class="id_vttotal text-right"></td>'+
					'<td class="ajuent text-right">0</td>'+
					'<td class="ajusal text-right">0</td>'+
					'<td>'+
						'<a href="#" class="btn btn-success" id="add">'+
							'<i class="fa fa-plus-square"></i>'+
						'</a>'+
					'</td>'+
				'</tr>'
	}
	function data_esdo(esdo){
		$.each(esdo, function (key, item) {
			$('#id_estado').append('<option value="'+item.cesdo+'" '+item.selected+'>'+item.nesdo+'</option>');
		});
	}
	function edit_inventory(){
		cii = $('#id_codigo');
		loading_animation("Cargando Datos");
		$.post('{% url 'inventory_edit' %}', {pk: cii.val()}, function(response){
			create_table(response);
			if(response.count_extra > 0){
				if (confirm('Hay '+response.count_extra+' nuevos articulos. Desea guardarlos en el inventario en edición?')){
					$.ajax({
						url: '{% url 'inventory_save_extra' %}?cii='+cii.val(),
						type: 'post',
						data: {
							'data_r': JSON.stringify(response.arlo)
						},
						dataType: "json",
						success: function(response){
							data_table();
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							$("#alert-msg").append(alertBootstrap("Ha ocurrido un error", 'error'))
						}
					});
				}
			}
			$('.animation').empty();
		}).fail(function(xhr, status, error) {
			$("#alert-msg").append(alertBootstrap("Ha ocurrido un error al editar el inventario. Por favor recargue la pagina", 'error'))
		});
	}
	function data_table_request(data){
		$.each(data.arlo, function (key, item){
			item = put_local_storage(item, item.carlos)
			$('#cont-data').append(
				'<tr id="'+item.carlos+'" class="cont-data">'+
					'<td id="carlos-'+item.carlos+'">'+item.carlos+'</td>'+
					'<td id="cbarras-'+item.carlos+'">'+item.cbarras+'</td>'+
					'<td id="nlargo-'+item.carlos+'" title="'+item.nlargo+'"><span id="nom-'+item.carlos+'" data-toggle="tooltip" data-placement="left" title="'+item.nlargo+'">'+item.nlargo+'...'+'</span></td>'+
					'<td id="cgrupo-'+item.carlos+'">'+item.cgrupo+'</td>'+
					'<td id="cancalcu-'+item.carlos+'" class="text-right">'+item.cancalcu+'</td>'+
					'<td><input type="number" id="cant-'+item.carlos+'" step="0.01" class="text-right cant val positive" value="'+item.canti+'"></td>'+
					'<td><input type="number" id="vunita-'+item.carlos+'" step="0.01" class="text-right value val positive" value="'+item.vcosto+'"></td>'+
					'<td id="vtotal-'+item.carlos+'" class="text-right">'+(item.canti * item.vcosto).format(2)+'</td>'+
					'<td id="ajuent-'+item.carlos+'" class="text-right">0</td>'+
					'<td id="ajusal-'+item.carlos+'" class="text-right">0</td>'+
				'</tr>'
			);
			window.localStorage.getItem(item.carlos) != null ? '': save_local_storage(item.carlos)
			calc_aj(item.canti, item.cancalcu, item.carlos)
		});
	}
	function data_table(){
		var val_tot = 0;
		var buscarPor = $('.buscarPor').val().length > 0 ? '&buscarPor='+$('.buscarPor').val(): ''
		loading_animation("Cargando Datos");
		$.get("{% url 'articles_list_invini' %}?cii="+cii.val()+"&page="+cont+"&orderBy="+$('input[name=orderBy]:checked').val()+buscarPor, function(data){
			$('#cont-data').empty()
			if(data.response == 0){
				$(".next").addClass('disabled')
			}else{
				$(".next").removeClass('disabled')
			}
			data_table_request(data)
			$('.animation').empty();
		});
		$(".positive").numeric({ negative: false }, function() { this.value = ""; this.focus(); });
	}
	function calc_aj(this_value, cant_calcu, id){
		var cant = (this_value - cant_calcu);
		if(cant < 0){
			$('#ajusal-'+id).text(Math.abs(cant).toFixed(2));
			$('#ajuent-'+id).text('0');
		}else{
			$('#ajusal-'+id).text('0');
			$('#ajuent-'+id).text(cant.toFixed(2));
		}
	}
	function put_local_storage(value, id){
		return (window.localStorage.getItem(id) != null) ? JSON.parse(window.localStorage.getItem(id)): value
	}
	function save_local_storage(id){
		window.localStorage.setItem(id, JSON.stringify({
			'carlos': id,
			'nlargo': $('#nom-'+id).attr('title'),
			'cancalcu': parseFloat($('#cancalcu-'+id).text()),
			'canti': parseFloat($('#cant-'+id).val()),
			'vcosto': parseFloat($('#vunita-'+id).val()),
			'ajuent': parseFloat($('#ajuent-'+id).text()),
			'ajusal': parseFloat($('#ajusal-'+id).text()),
			'cbarras': $('#cbarras-'+id).text(),
			'cgrupo': $('#cgrupo-'+id).text()
		}));
	}
	$(document).on("click", "#btn-reset", function(e){
		e.preventDefault();
		if (confirm('¿Desea poner los valores en ceros?')){
			table.destroy();
			$(':input.val').val(0).trigger('keyup');
			table = $('.table').DataTable({"order": [[ 2, "asc" ]],"language": languageDataTable});
		}
	});
	$(document).on("focusout", "#id_carlos", function(e){
		loading_animation()
		$.post('/api/get-object/',JSON.stringify({'model': 5, 'field': this.name, 'value': this.value}),function(response){
			if(response.object != null){
				var object = JSON.parse(response.object)[0]
				var id_carlos = $('#id_carlos').val()
				$('.add-cont').add('id', id_carlos)
				$('.id_cbarras').attr('id', 'cbarras-'+id_carlos).text(object.fields['cbarras'])
				$('.id_nlargo').attr('id', 'nom-'+id_carlos).attr('title', object.fields['nlargo']).text(object.fields['nlargo'])
				$('.id_cantcalcu').text(object.fields['canti']).attr('id', 'cancalcu-'+id_carlos)
				$('.id_vunita').val(object.fields['vcosto']).attr('id', 'vunita-'+id_carlos)
				$('.id_canti').focus().attr('id', 'cant-'+id_carlos)
				$('.add-cont').attr('id', id_carlos)
				$('.ajusal').attr('id', 'ajusal-'+id_carlos)
				$('.ajuent').attr('id', 'ajuent-'+id_carlos)
				$('.id_vttotal').attr('id', 'vtotal-'+id_carlos)
				save_local_storage(id_carlos)
			}else{
				alert('Artículo no encontrado')
			}
		})
	});
	$(document).on("keyup", ".cant", function(e){
		var id = $(this).parent().parent().attr('id');
		var this_value = isNaN(parseFloat($(this).val())) ? 0: parseFloat($(this).val());
		var cant_calcu = parseFloat($('#cancalcu-'+id).text());
		var value_tot = this_value*$('#vunita-'+id).val();
		var cantidad = isNaN($('#vtotal-'+id).attr('val')) ? 0: $('#vtotal-'+id).attr('val');
		var val_tot = $('#val-tot').attr('val');
		var val_calcu = (parseFloat(val_tot)-parseFloat(cantidad))+value_tot;
		$('.val-tot').each(function() {
			$(this).text('$ '+val_calcu.format(2)).attr('val', val_calcu);
		});
		$('#vtotal-'+id).text(value_tot.format(2)).attr('val', value_tot);
		calc_aj(this_value, cant_calcu, id);
		save_local_storage(id)
	});
	$(document).on("keyup", ".value", function(e){
		var id =$(this).parent().parent().attr('id');
		var this_value = parseFloat($('#cant-'+id).val());
		var value_tot = this_value*$('#vunita-'+id).val()
		var val_calcu = (parseFloat($('#val-tot').attr('val'))-parseFloat($('#vtotal-'+id).attr('val')))+value_tot;
		$('.val-tot').each(function() {
			$(this).text('$ '+val_calcu.format(2)).attr('val', val_calcu);
		});
		$('#vtotal-'+id).text(value_tot.format(2)).attr('val', value_tot);
		save_local_storage(id)
	});
	$(document).on("click", "#add", function(e){
		e.preventDefault()
		var data_r = [];
		data_r.push({
			'carlos': $('#id_carlos').val(),
			'nlargo': $('.id_nlargo').text(),
			'cancalcu': parseFloat($('.id_cantcalcu').text()),
			'canti': parseFloat($('.id_canti').val()),
			'vcosto': parseFloat($('.id_vunita').val()),
			'ajuent': parseFloat($('.ajuent').text()),
			'ajusal': parseFloat($('.ajusal').text()),
			'cbarras': $('.id_cbarras').text(),
		})
		send_to_save(data_r)
		$('#const-add').empty().html(const_add())
	});
	$(document).on("click", "#btn-save", function(e){
		e.preventDefault();
		var data_r = [];
		if($('#id_estado').val() != ''){
			for(var i=0;i<localStorage.length; i++) {
				var key = localStorage.key(i);
				data_r.push(JSON.parse(localStorage.getItem(key)))
			}
			send_to_save(data_r)
		}else{
			$("#alert-msg").append(alertBootstrap("Seleccione un estado", 'error'))
			$('#id_estado').focus();
		}
	});
	function send_to_save(data_r){
		loading_animation("Guardando Datos");
		$.ajax({
			url: '{% url 'inventory_save' %}',
			type: 'post',
			data: {
				'cii': $('#id_codigo').val(),
				'val_tot': $('#val-tot').attr('val'),
				'fii': $('#date').val(),
				'cesdo': $('#id_estado').val(),
				'data_r': JSON.stringify(data_r)
			},
			dataType: "json",
			success: function(response){
				$('.animation').empty();
				data_table()
			},
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				$("#alert-msg").append(alertBootstrap("Ha ocurrido un error", 'error'))
			}
		});
}
</script>
{% endblock content_script %}
