<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
		</div>
		<form role="form" target="_blank" action="{% url 'inventory_pdf' %}" method="GET">
			{% csrf_token %}
			<div class="modal-body">
				<div class="row">
					{% for forms in form %}
						<div class="form-group col-md-6">
							<label>{{ forms.label }}</label>
							{{ forms }}
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<input type="submit" value="Imprimir" class="btn btn-success"/>
			</div>
		</form>
	</div>
</div>