{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Nota <small>inventario inicial</small></h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">Creación/Edición de Inventario</h3>
						</div>
						<form action="inventory_submit" class="form-horizontal" method="post" accept-charset="utf-8">
							{% csrf_token %}
							<div class="box-body">
								<div class="form-group">
									<label class="col-sm-3 control-label">{{ form.codigo.label }}</label>
									<div class="col-sm-6">
										{{ form.codigo }}
									</div>
								</div>
							</div>
							<div class="box-footer text-center">
								<a href="{% url 'inventory_latest' %}" class="btn btn-primary btn-create">Crear</a>
								<a href="#" class="btn btn-default" id="btn-find">Buscar</a>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-12" id="table-inventory"></div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script>
	var cii = ''
	Number.prototype.format = function(n, x) {
		var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
		return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
	};
	$(document).on("click", ".btn-create", function(e){
		e.preventDefault();
		$.post($(this).attr('href'), function(response){
			create_table(response);
		});
	});
	$(document).on("click", "#btn-find", function(e){
		e.preventDefault();
		cii = $('#id_codigo');
		if(cii.val() != ''){
			$.get('/inventory-find/'+cii.val()+'/', function(response){
				if(response.type == 0){
					if (confirm('No existe inventario con el codigo ingresado. Desea crear un nuevo con el codigo '+response.cii+'?')){
						$(".btn-create").trigger('click');
					}
				}
			});
		}else{
			alert('Digite el código a buscar');
			cii.focus();
		}
	});
	function create_table(response){
		$('#id_codigo').val((cii!='')?cii.val():response.code).prop('readonly', true);
		cii = ''
		$('#table-inventory').empty();
		$('#table-inventory').append(
			'<div class="box">'+
				'<div class="box-body">'+
					'<table class="table table-striped" id="table">'+
						'<thead>'+
							'<tr>'+
								'<th>Código</th>'+
								'<th>Código Barras</th>'+
								'<th>Nombre</th>'+
								'<th>Grupo</th>'+
								'<th>Cant. Calculada</th>'+
								'<th>Cant. Contada</th>'+
								'<th>Costo Unitario</th>'+
								'<th>Costo Total</th>'+
								'<th>Ajuste Entrada</th>'+
								'<th>Ajuste Salida</th>'+
							'</tr>'+
						'<thead>'+
						'<tbody id="content-data">'+
						'</tbody>'+
					'</table>'+
				'</div>'+
				'<div class="box-footer text-center">'+
					'<a href="" class="btn btn-primary">Valores en ceros</a> <a href="" class="btn btn-info">Actualizar nombres</a> <a class="btn btn-success" id="save">Guardar</a> <a class="btn btn-default">Imprimir</a>'+
				'</div>'+
			'</div>'
		);
		$.each(response.data, function (key, item) {
			$('#content-data').append(
				'<tr class="cont-data" id="'+item.carlos+'">'+
					'<td id="carlos-'+item.carlos+'">'+item.carlos+'</td>'+
					'<td>'+item.cbarras+'</td>'+
					'<td id="nlargo-'+item.carlos+'">'+item.nlargo+'</td>'+
					'<td>'+item.ngpo+'</td>'+
					'<td id="cancalcu-'+item.carlos+'" class="text-right">'+item.canti+'</td>'+
					'<td>'+
						'<input type="text" id="cant-'+item.carlos+'" class="text-right cant" value="0" style="border: none;">'+
					'</td>'+
					'<td>'+
						'<input type="text" id="vunita-'+item.carlos+'" class="text-right value" value="'+item.vcosto+'" style="border: none;">'+
					'</td>'+
					'<td id="vtotal-'+item.carlos+'" class="text-right">'+(item.canti*item.vcosto).format(2)+'</td>'+
					'<td id="ajuent-'+item.carlos+'" class="text-right">0</td>'+
					'<td id="ajusal-'+item.carlos+'" class="text-right">0</td>'+
				'</tr>'
			);
		});
		$('.table').DataTable();
	}
	$(document).on("keyup", ".cant", function(e){
		var id = $(this).parent().parent().attr('id');
		var this_value = $(this).val();
		var cant_calcu = parseInt($('#cancalcu-'+id).text());
		var cant = (this_value - cant_calcu);
		var value_tot = (this_value == 0 ? parseInt($('#cancalcu-'+id).text()): this_value)*$('#vunita-'+id).val()
		$('#vtotal-'+id).text(value_tot.format(2));
		if(cant < 0){
			$('#ajusal-'+id).text(Math.abs(cant));
			$('#ajuent-'+id).text('0');
		}else{
			$('#ajusal-'+id).text('0');
			$('#ajuent-'+id).text(cant);
		}
	});
	$(document).on("keyup", ".value", function(e){
		var id =$(this).parent().parent().attr('id');
		var this_value = $('#cant-'+id).val();
		var value_tot = (this_value == 0 ? parseInt($('#cancalcu-'+id).text()): this_value)*$('#vunita-'+id).val()
		$('#vtotal-'+id).text(value_tot.format(2));
	});
	$(document).on("click", "#save", function(e){
		e.preventDefault();
		var data_r = [];
		$('.cont-data').each(function() {
			var id = this.id;
			data_r.push({
				'carlos': $('#carlos-'+id).text(),
				'nlargo': $('#nlargo-'+id).text(),
				'cancalcu': $('#cancalcu-'+id).text(),
				'cant': $('#cant-'+id).val(),
				'vunita': $('#vunita-'+id).val(),
				'ajuent': $('#ajuent-'+id).text(),
				'ajusal': $('#ajusal-'+id).text(),
			});
		});
		console.log(data_r)
		$.ajax({
			url: {% url 'inventory_save' %},
			type: 'post',
			data: {
				'cii': $('#id_codigo').val(),
				'data_r': JSON.stringify(data_r)
			},
			dataType: "json",
			success: function(response){
				alert(response.msg)
			}
		});
	});
</script>
{% endblock content_script %}
