{% extends 'layouts/base.html' %}

{% load static %}

{% load humanize %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Listado <small>Inventarios</small></h1>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-primary">
						<div class="box-body">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Código</th>
										<th>Fecha Creación</th>
										<th>Fecha Actualización</th>
										<th>Estado</th>
										<th>Valor Total</th>
										<th>Editar</th>
									</tr>
								</thead>
								<tbody>
									{% for invini in object_list %}
									<tr>
										<td>{{ invini.cii }}</td>
										<td>{{ invini.fii }}</td>
										<td>{% if invini.fuaii == None %}-{% else %}{{ invini.fuaii }}{% endif %}</td>
										<td>{{ invini.cesdo.nesdo }}</td>
										<td>$ {{ invini.vttotal|intcomma  }}</td>
										<td>
											<a class="btn btn-primary btn-edit" href="{% url 'inventory' %}?code={{ invini.cii }}" id="{{ invini.cii }}">Editar</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="text-center">
						<div class="btn-group">
							<a class="btn btn-app btn-info" href="{% url 'inventory' %}">
								<i class="fa fa-plus-square-o"></i>Nuevo
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12" id="table-inventory"></div>
			</div>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="{% static 'js/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script>
	$('.table').DataTable({"language": languageDataTable,});
</script>
{% endblock content_script %}