{%extends 'layouts/base.html'%}

{% load static %}

{% load date_appen %}

{% load humanize %}

{%block content%} 
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">{{title}} - Cliente {{ object }}</h3>
						</div>
						<div class="box-body">
							<table class="table table-striped" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="text-center">Fecha</th>
										<th class="text-center">Documento</th>
										<th class="text-center">Referencia</th>
										<th class="text-center">Cargos</th>
										<th class="text-center">Abono</th>
										<th class="text-center">Saldo</th>
								</thead>
								<tbody>
									{% for movi in object_movi %}
									<tr>
										<td class="text-center">{{ movi.cmovi.fmovi|date:"Y.m.d" }}</td>
										<td class="text-center">{{ movi.cmovi }}</td>
										<td class="text-center">{{ movi.docrefe }}</td>
										<td class="text-right">{% if movi.cmovi.ctimo.pk == movi_rc %} {{ movi.vmovi|intcomma }} {% else %} 0 {% endif %}</td>
										<td class="text-right">{% if movi.cmovi.ctimo.pk == movi_ab %} {{ movi.vmovi|intcomma }} {% else %} 0 {% endif %}</td>
										<td class="text-right">{{ movi|get_saldo:request.db|intcomma }}</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th colspan="5" class="text-right">Saldo Individual ---></th>
										<th class="text-right">{{ object|get_total_saldo:request.db|intcomma }}</th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}