{%extends 'layouts/base.html'%}
{% load static from staticfiles %}
{% block content_head %}
{% endblock content_head %}
{% load humanize %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">{{title}}</h3>
				</div>
				<div class="box-body">
					<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Códgio Interno</th>
								<th>Fecha</th>
								<th>Tercero</th>
								<th>Tipo Movimiento</th>
								<th>Doc Refrencia</th>
								<th>Descripcion</th>
								<th>Valor Total</th>
								<th data-cell-action="edit">Editar</th>
								<th data-cell-action="select" class="hidden">Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							{% for movement in object_list %}
								<tr data-object-search="{{ movement.pk }}">
									{% if is_input_movement %}
										<td>{{movement.cmven}}</td>
										<td>{{movement.fmven}}</td>
									{% else %}
										<td>{{movement.cmvsa}}</td>
										<td>{{movement.fmvsa}}</td>
									{% endif %}
									<td>{{movement.citerce}}</td>
									<td>{{movement.ctimo}}</td>
									<td>{{movement.docrefe}}</td>
									<td>{{movement.descri}}</td>
									<td>{{movement.vttotal}}</td>
									{% if is_input_movement %}
										<td data-cell-action="edit"><a data-link-edit href="{% url 'edit-input-movement' movement.cmven %}" target="_blank">Editar</a></td>
										<td data-cell-action="select" class="hidden"><button class="btn btn-primary" data-object-search="{{ movement.cmven }}">Seleccionar</button></td>
									{% else %}
										<td data-cell-action="edit"><a data-link-edit href="{% url 'edit-output-movement' movement.cmvsa %}" target="_blank">Editar</a></td>
										<td data-cell-action="select" class="hidden"><button class="btn btn-primary" data-object-search="{{ movement.cmvsa }}">Seleccionar</button></td>
									{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script>
		windowSearch("[name=cmv],[name=cmven],[name=cmvsa]")
		$(document).ready(function() {
			$('#example').DataTable({"language": languageDataTable});
		});
	</script>
{% endblock %}
