input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	text-align: right;
}

.article-item:hover{
	background-color: gainsboro;
}

td, th {
	text-align: right !important;
}
