{% extends 'layouts/base.html' %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
			<div class="col-md-12">

				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Nuevo Articulo</h3>
					</div>


					<form action="" method="POST" role="form" class="form-horizontal" target="_blank">
						{% csrf_token %}
						<div class="box-body">
							<section class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="{{ form.carlos.id_for_label }}" class="col-sm-2 control-label">{{ form.carlos.label }}</label>
										{% if form.carlos.errors %}
										{{ form.carlos.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.carlos.value }}" id="{{ form.carlos.id_for_label }}" name="{{ form.carlos.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.cbarras.id_for_label }}" class="col-sm-2 control-label">{{ form.cbarras.label }}</label>
										{% if form.cbarras.errors %}
										{{ form.cbarras.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.cbarras.value }}" id="{{ form.cbarras.id_for_label }}" name="{{ form.cbarras.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.cgpo.id_for_label }}" class="col-sm-2 control-label">{{ form.cgpo.label }}</label>
										{% if form.cgpo.errors %}
										{{ form.cgpo.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.cgpo.value }}" id="{{ form.cgpo.id_for_label }}" name="{{ form.cgpo.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.ncorto.id_for_label }}" class="col-sm-2 control-label">{{ form.ncorto.label }}</label>
										{% if form.ncorto.errors %}
										{{ form.ncorto.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.ncorto.value }}" id="{{ form.ncorto.id_for_label }}" name="{{ form.ncorto.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.nlargo.id_for_label }}" class="col-sm-2 control-label">{{ form.nlargo.label }}</label>
										{% if form.nlargo.errors %}
										{{ form.nlargo.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.nlargo.value }}" id="{{ form.nlargo.id_for_label }}" name="{{ form.nlargo.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.canti.id_for_label }}" class="col-sm-2 control-label">{{ form.canti.label }}</label>
										{% if form.canti.errors %}
										{{ form.canti.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.canti.value }}" id="{{ form.canti.id_for_label }}" name="{{ form.canti.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.vcosto.id_for_label }}" class="col-sm-2 control-label">{{ form.vcosto.label }}</label>
										{% if form.vcosto.errors %}
										{{ form.vcosto.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.vcosto.value }}" id="{{ form.vcosto.id_for_label }}" name="{{ form.vcosto.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.ciudad.id_for_label }}" class="col-sm-2 control-label">{{ form.ciudad.label }}</label>
										{% if form.ciudad.errors %}
										{{ form.ciudad.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.ciudad.value }}" id="{{ form.ciudad.id_for_label }}" name="{{ form.ciudad.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.refe.id_for_label }}" class="col-sm-2 control-label">{{ form.refe.label }}</label>
										{% if form.refe.errors %}
										{{ form.refe.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.refe.value }}" id="{{ form.refe.id_for_label }}" name="{{ form.refe.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.cmarca.id_for_label }}" class="col-sm-2 control-label">{{ form.cmarca.label }}</label>
										{% if form.cmarca.errors %}
										{{ form.cmarca.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.cmarca.value }}" id="{{ form.cmarca.id_for_label }}" name="{{ form.cmarca.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.foto1.id_for_label }}" class="col-sm-2 control-label">{{ form.foto1.label }}</label>
										{% if form.foto1.errors %}
										{{ form.foto1.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.foto1.value }}" id="{{ form.foto1.id_for_label }}" name="{{ form.foto1.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.foto2.id_for_label }}" class="col-sm-2 control-label">{{ form.foto2.label }}</label>
										{% if form.foto2.errors %}
										{{ form.foto2.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.foto2.value }}" id="{{ form.foto2.id_for_label }}" name="{{ form.foto2.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.foto3.id_for_label }}" class="col-sm-2 control-label">{{ form.foto3.label }}</label>
										{% if form.foto3.errors %}
										{{ form.foto3.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.foto3.value }}" id="{{ form.foto3.id_for_label }}" name="{{ form.foto3.html_name }}" >
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="box box-primary">
										<div class="box-header with-border">
											<h3 class="box-title">Listas de Precios</h3>
										</div>
										<div class="box-body">
											<table class="table table-bordered">
												<thead>
													<th>Lista</th>
													<th>Porcentaje</th>
													<th>Precio Venta</th>
												</thead>
												<tbody>
													<tr>
														<th>1</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult1.value }}" id="{{ form.porult1.id_for_label }}" name="{{ form.porult1.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta1.value }}" id="{{ form.pvta1.id_for_label }}" name="{{ form.pvta1.html_name }}" >
														</th>
													</tr>
													<tr>
														<th>2</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult2.value }}" id="{{ form.porult2.id_for_label }}" name="{{ form.porult2.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta2.value }}" id="{{ form.pvta2.id_for_label }}" name="{{ form.pvta2.html_name }}" >
														</th>
													</tr>
													<tr>
														<th>3</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult3.value }}" id="{{ form.porult3.id_for_label }}" name="{{ form.porult3.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta3.value }}" id="{{ form.pvta3.id_for_label }}" name="{{ form.pvta3.html_name }}" >
														</th>
													</tr>
													<tr>
														<th>4</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult4.value }}" id="{{ form.porult4.id_for_label }}" name="{{ form.porult4.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta4.value }}" id="{{ form.pvta4.id_for_label }}" name="{{ form.pvta4.html_name }}" >
														</th>
													</tr>
													<tr>
														<th>5</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult5.value }}" id="{{ form.porult5.id_for_label }}" name="{{ form.porult5.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta5.value }}" id="{{ form.pvta5.id_for_label }}" name="{{ form.pvta5.html_name }}" >
														</th>
													</tr>
													<tr>
														<th>6</th>
														<th>
															<input class="form-control" type="text" value="{{ form.porult6.value }}" id="{{ form.porult6.id_for_label }}" name="{{ form.porult6.html_name }}" >
														</th>
														<th>
															<input class="form-control" type="text" value="{{ form.pvta6.value }}" id="{{ form.pvta6.id_for_label }}" name="{{ form.pvta6.html_name }}" >
														</th>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="box box-primary">
										<div class="box-header with-border">
											<h3 class="box-title">Otras Caracteristicas</h3>
										</div>
										<div class="box-body">
											<div class="form-group">
												<div class="checkbox">
													<label for="{{ form.ifdesglo.id_for_label }}" class="col-sm-2 control-label">
														<input type="checkbox" value="{{ form.pvta6.value }}" id="{{ form.pvta6.id_for_label }}" name="{{ form.pvta6.html_name }}" >
														{{ form.ifdesglo.label }}
													</label>
												</div>
											</div>
											<div class="form-group">
												<div class="checkbox">
													<label for="{{ form.ifedinom.id_for_label }}" class="col-sm-2 control-label">
														<input type="checkbox" value="{{ form.pvta6.value }}" id="{{ form.pvta6.id_for_label }}" name="{{ form.pvta6.html_name }}" >
														{{ form.ifedinom.label }}
													</label>
												</div>
											</div>
											<div class="form-group">
												<div class="checkbox">
													<label for="{{ form.ifcostear.id_for_label }}" class="col-sm-2 control-label">
														<input type="checkbox" value="{{ form.pvta6.value }}" id="{{ form.pvta6.id_for_label }}" name="{{ form.pvta6.html_name }}" >
														{{ form.ifcostear.label }}
													</label>
												</div>
											</div>
											<div class="form-group">
												<div class="checkbox">
													<label for="{{ form.ifpvfijo.id_for_label }}" class="col-sm-2 control-label">
														<input type="checkbox" value="{{ form.pvta6.value }}" id="{{ form.pvta6.id_for_label }}" name="{{ form.pvta6.html_name }}" >
														{{ form.ifpvfijo.label }}
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Otros</h3>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label for="{{ form.ivas_civa.id_for_label }}" class="col-sm-2 control-label">{{ form.ivas_civa.label }}</label>
										{% if form.ivas_civa.errors %}
										{{ form.ivas_civa.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.ivas_civa.value }}" id="{{ form.ivas_civa.id_for_label }}" name="{{ form.ivas_civa.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.cubica.id_for_label }}" class="col-sm-2 control-label">{{ form.cubica.label }}</label>
										{% if form.cubica.errors %}
										{{ form.cubica.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.cubica.value }}" id="{{ form.cubica.id_for_label }}" name="{{ form.cubica.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.cesdo.id_for_label }}" class="col-sm-2 control-label">{{ form.cesdo.label }}</label>
										{% if form.cesdo.errors %}
										{{ form.cesdo.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.cesdo.value }}" id="{{ form.cesdo.id_for_label }}" name="{{ form.cesdo.html_name }}" >
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label for="{{ form.stomin.id_for_label }}" class="col-sm-2 control-label">{{ form.stomin.label }}</label>
										{% if form.stomin.errors %}
										{{ form.stomin.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.stomin.value }}" id="{{ form.stomin.id_for_label }}" name="{{ form.stomin.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.stomax.id_for_label }}" class="col-sm-2 control-label">{{ form.stomax.label }}</label>
										{% if form.stomax.errors %}
										{{ form.stomax.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.stomax.value }}" id="{{ form.stomax.id_for_label }}" name="{{ form.stomax.html_name }}" >
										</div>
									</div>
									<div class="form-group">
										<label for="{{ form.mesesgara.id_for_label }}" class="col-sm-2 control-label">{{ form.mesesgara.label }}</label>
										{% if form.mesesgara.errors %}
										{{ form.mesesgara.errors }}
										{% endif%}
										<div class="col-sm-10">
											<input class="form-control" type="text" value="{{ form.mesesgara.value }}" id="{{ form.mesesgara.id_for_label }}" name="{{ form.mesesgara.html_name }}" >
										</div>
									</div>
								</div>
							</div>
							<input type="submit" value="Agregar" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

