{%extends 'layouts/base.html'%}
{% load humanize %}
{% load static %}
{% load date_appen %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
		<div class="content">
			<h2>{{title}}</h2>
			<ul class="nav nav-pills">
				<li class="active"><a data-toggle="pill" href="#tabBasicos">Basicos</a></li>
				<li><a data-toggle="pill" href="#tabListaPrecios">Lista de Precios</a></li>
				<li><a data-toggle="pill" href="#tabOtros">Otros</a></li>
				<li><a data-toggle="pill" href="#tabImagenes">Imagenes</a></li>
			</ul>
			<form action="" method="POST" role="form" class="form-horizontal">
				{%csrf_token%}
				<div class="tab-content">
					<div id="tabBasicos" class="tab-pane  active">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Basicos</h3>
									</div>
									<div class="box-body">
										<div class="row">

										<div class="col-md-6 form-group">
											<label for="{{form.carlos.id_for_label}}" class="col-sm-4 control-label">{{form.carlos.label}}</label>
											{%if form.carlos.errors%}
											{{form.carlos.errors}}
											{%endif%}
											<div class="col-sm-8">
												<input class="form-control" type="number" readonly value="{{current_pk}}" id="{{form.carlos.id_for_label}}" name="{{form.carlos.html_name}}" >
											</div>
										</div>
										<div class="col-md-6 form-group">
											<label for="{{form.cbarras.id_for_label}}" class="col-sm-4 control-label">{{form.cbarras.label}}</label>
											{%if form.cbarras.errors%}
											{{form.cbarras.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.cbarras}}
											</div>
										</div>
										</div>
										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.ncorto.id_for_label}}" class="col-sm-4 control-label">{{form.ncorto.label}}</label>
												{%if form.ncorto.errors%}
												{{form.ncorto.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.ncorto}}
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.refe.id_for_label}}" class="col-sm-4 control-label">{{form.refe.label}}</label>
												{%if form.refe.errors%}
												{{form.refe.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.refe}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 form-group">
												<label for="{{form.nlargo.id_for_label}}" class="col-sm-2 control-label">{{form.nlargo.label}}</label>
												{%if form.nlargo.errors%}
												{{form.nlargo.errors}}
												{%endif%}
												<div class="col-sm-10">
													{{form.nlargo}}
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.cgpo.id_for_label}}" class="col-sm-4 control-label">{{form.cgpo.label}}</label>
												{%if form.cgpo.errors%}
												{{form.cgpo.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.cgpo}}
														<span class="input-group-addon"><a data-new-window data-action="create" href="{% url 'add-group' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.cmarca.id_for_label}}" class="col-sm-4 control-label">{{form.cmarca.label}}</label>
												{%if form.cmarca.errors%}
												{{form.cmarca.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.cmarca}}
														<span class="input-group-addon"><a data-new-window data-action="create" href="{% url 'add-brand' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.ctiarlo.id_for_label}}" class="col-sm-4 control-label">{{form.ctiarlo.label}}</label>
												{%if form.ctiarlo.errors%}
												{{form.ctiarlo.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.ctiarlo}}
														<span class="input-group-addon"><a data-new-window data-action="create" href="{% url 'add-type-article' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.cunidad.id_for_label}}" class="col-sm-4 control-label">{{form.cunidad.label}}</label>
												{%if form.cunidad.errors%}
												{{form.cunidad.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.cunidad}}
														<span class="input-group-addon"><a data-new-window href="" data-action="create" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 form-group">

												<label for="{{form.canti.id_for_label}}" class="col-sm-4 control-label">
													{{form.canti.label}}
													{% if typeInventory != "M" %}
														<i class="glyphicon glyphicon-question-sign" title="Este campo esta bloqueado pues el inventario no es de tipo Manual"></i>
													{% endif %}
												</label>
												{%if form.canti.errors%}
												{{form.canti.errors}}
												{%endif%}
												<div class="col-sm-8">
													<input type="{{form.canti.field.widget.attrs.type_input}}" value="{{form.canti.value}}" name="{{form.canti.name}}" id="{{form.canti.id_for_label}}" step="{{form.canti.field.widget.attrs.step}}" min="{{form.canti.field.widget.attrs.min}}" class="{{form.canti.field.widget.attrs.class}}" {% if form.canti.field.required %}required{% endif %} {% if typeInventory != "M" %} readonly {% endif %}>
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.vcosto.id_for_label}}" class="col-sm-4 control-label">
													{{form.vcosto.label}}
													{% if typeInventory != "M" %}
														<i class="glyphicon glyphicon-question-sign" title="Este campo esta bloqueado pues el inventario no es de tipo Manual"></i>
													{% endif %}
												</label>
												{%if form.vcosto.errors%}
												{{form.vcosto.errors}}
												{%endif%}
												<div class="col-sm-8">
													<input type="{{form.vcosto.field.widget.attrs.type_input}}" value="{{form.vcosto.value}}" name="{{form.vcosto.name}}" id="{{form.vcosto.id_for_label}}" step="{{form.vcosto.field.widget.attrs.step}}" min="{{form.vcosto.field.widget.attrs.min}}" class="{{form.vcosto.field.widget.attrs.class}}" {% if form.vcosto.field.required %}required{% endif %} {% if typeInventory != "M" %} readonly {% endif %}>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="tabListaPrecios" class="tab-pane ">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Listado de Precios</h3>
									</div>
									<div class="box-body">
										<table class="table table-bordered">
											<thead>
												<th>Lista</th>
												<th>Porcentaje</th>
												<th>Precio Venta</th>
											</thead>
											<tbody>
												<tr>
													<th>1</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult1}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta1}}</th>
												</tr>
												<tr>
													<th>2</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult2}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta2}}</th>
												</tr>
												<tr>
													<th>3</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult3}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta3}}</th>
												</tr>
												<tr>
													<th>4</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult4}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta4}}</th>
												</tr>
												<tr>
													<th>5</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult5}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta5}}</th>
												</tr>
												<tr>
													<th>6</th>
													<th width="30%">
														<div class="input-group">
															{{form.porult6}}
															<span class="input-group-addon">%</a></span>
														</div>
													</th>
													<th>{{form.pvta6}}</th>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="tabOtros" class="tab-pane ">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Otros</h3>
									</div>
									<div class="box-body">
										<div class="row">
											<div class="form-group col-md-3">
												<div class="checkbox">
													<label for="{{form.ifdesglo.id_for_label}}" class="col-sm-10 control-label">
														{{form.ifdesglo}}
														{{form.ifdesglo.label}}
													</label>
												</div>
											</div>
											<div class="form-group col-md-3">
												<div class="checkbox">
													<label for="{{form.ifedinom.id_for_label}}" class="col-sm-10 control-label">
														{{form.ifedinom}}
														{{form.ifedinom.label}}
													</label>
												</div>
											</div>
											<div class="form-group col-md-3">
												<div class="checkbox">
													<label for="{{form.ifcostear.id_for_label}}" class="col-sm-10 control-label">
														{{form.ifcostear}}
														{{form.ifcostear.label}}
													</label>
												</div>
											</div>
											<div class="form-group col-md-3">
												<div class="checkbox">
													<label for="{{form.ifpvfijo.id_for_label}}" class="col-sm-10 control-label">
														{{form.ifpvfijo}}
														{{form.ifpvfijo.label}}
													</label>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.stomin.id_for_label}}" class="col-sm-4 control-label">{{form.stomin.label}}</label>
												{%if form.stomin.errors%}
												{{form.stomin.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.stomin}}
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.stomax.id_for_label}}" class="col-sm-4 control-label">{{form.stomax.label}}</label>
												{%if form.stomax.errors%}
												{{form.stomax.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.stomax}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.mesesgara.id_for_label}}" class="col-sm-4 control-label">{{form.mesesgara.label}}</label>
												{%if form.mesesgara.errors%}
												{{form.mesesgara.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.mesesgara}}
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.ivas_civa.id_for_label}}" class="col-sm-4 control-label">{{form.ivas_civa.label}}</label>
												{%if form.ivas_civa.errors%}
												{{form.ivas_civa.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.ivas_civa}}
														<span class="input-group-addon"><a data-new-window data-action="create" href="{% url 'add-iva' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 form-group">
												<label for="{{form.cubica.id_for_label}}" class="col-sm-4 control-label">{{form.cubica.label}}</label>
												{%if form.cubica.errors%}
												{{form.cubica.errors}}
												{%endif%}
												<div class="col-sm-8">
													<div class="input-group">
														{{form.cubica}}
														<span class="input-group-addon"><a data-new-window data-action="create" href="{% url 'add-location' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
													</div>
												</div>
											</div>
											<div class="col-md-6 form-group">
												<label for="{{form.cesdo.id_for_label}}" class="col-sm-4 control-label">{{form.cesdo.label}}</label>
												{%if form.cesdo.errors%}
												{{form.cesdo.errors}}
												{%endif%}
												<div class="col-sm-8">
													{{form.cesdo}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="tabImagenes" class="tab-pane ">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Imagenes</h3>
									</div>
									<div class="box-body">
										<div class="col-md-4 form-group">
											<img class="ae-img-article img-responsive" src="/static/{{url_foto1}}" alt="">
											<label for="{{form.foto1.id_for_label}}" class="col-sm-4 control-label">{{form.foto1.label}}</label>
											{%if form.foto1.errors%}
											{{form.foto1.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.foto1}}
											</div>
										</div>
										<div class="col-md-4 form-group">
											<img class="ae-img-article img-responsive" src="/static/{{url_foto2}}" alt="">
											<label for="{{form.foto2.id_for_label}}" class="col-sm-4 control-label">{{form.foto2.label}}</label>
											{%if form.foto2.errors%}
											{{form.foto2.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.foto2}}
											</div>
										</div>
										<div class="col-md-4 form-group">
											<img class="ae-img-article img-responsive" src="/static/{{url_foto3}}" alt="">
											<label for="{{form.foto3.id_for_label}}" class="col-sm-4 control-label">{{form.foto3.label}}</label>
											{%if form.foto3.errors%}
											{{form.foto3.errors}}
											{%endif%}
											<div class="col-sm-8">
												{{form.foto3}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-app btn-primary" type="button" action="reset-form">
							<i class="fa fa-plus-square-o"></i>Nuevo
						</button>
						<button class="btn btn-app btn-primary" type="submit">
							<i class="fa fa-save"></i>Guardar
						</button>
						<a class="btn btn-app btn-primary" data-new-window data-action="list" href="{% url 'list-articles' %}">
							<i class="fa fa-list"></i>Listar
						</a>
						{% if mode_view == "edit" %}
							<a class="btn btn-app btn-primary" href="{% url 'copy-article' current_pk %}" target="_blank">
						{% else %}
							<a class="btn btn-app btn-primary" href="#" disabled>
						{% endif %}
							<i class="fa fa-copy"></i>Duplicar
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}

{% block content_script %}
	<script>
		function fn(response,error){
			$("#id_carlos").val(response.pk)
			$("form").off("submit")
			customValidationFormTabs("form",fn_customValidationFormTabs)
		}

		$(document).ready(function(e){
			/* Añadir el eschucador despues despues de cargaqr totalmente el DOM pues sino todo slos pvta quedan en el vcosto*/
			$("#id_vcosto").change(function(){$("[name*=porult]").trigger("change");});
		})

		$("[name*=porult]").change(function(){
			var costo = parseFloat($("#id_vcosto").custom_format_val());
			var porcentaje = parseFloat($(this).val());
			var valor = parseInt(costo/((100-porcentaje)/100));
			if(porcentaje >= 0 && valor){
				$(this).closest("tr").find("[name*=pvta]").val(valor);
			}
		});
		customValidationFormTabs("form",fn_customValidationFormTabs)

		function fn_customValidationFormTabs(valid){
			if (valid){
				$("form").off("submit")
				AJAXGenericView("form","select[name=carlos]","ncorto","{{url}}",fn,"Creando el Articulo.")
				$("form").submit()
			}
		}

		$("[name={{form.cbarras.name}}]").change(function(){
			var element = $(this)
			if(!element.val().length) return
			$.ajax({
				url: '{% url 'api-exists' %}',
				type: 'POST',
				data: JSON.stringify({
					'model': 5,
					'field': this.name,
					'value': this.value
				}),
				contentType: "application/json",
				success: function(response){
					if (response.exists){
						var container = element.closest(".form-group");

						container.attr("title","<span class='html_tooltip'>Este Código de Barras Ya se encuentra Registrado.</span>");
						container.tooltip({trigger:"focus",placement:"bottom",html:true});
						container.tooltip("show");
						window.setTimeout(function(){
							container.tooltip("destroy");
						},3000);
					}
				}
			});
		})

	</script>


{%endblock%}

