{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Anulacion de Movimientos de Inventario</h1>
		</section>
		<section class="content">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="id_fact" class="col-sm-3 control-label">Codigo Factura</label>
					<div class="col-sm-8">
						<div class="input-group">
							<input class="form-control" type="text" id="id_fact" name="fact"  required>
							<span class="input-group-addon"><a data-new-window href="{% url 'list-bill' %}" target="_blank"><i class="fa fa-search"></i></a></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="id_citerce" class="col-sm-3 control-label">Tercero</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" readonly="" name="citerce" id="id_citerce">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" readonly="" name="name_citerce" id="name_citerce">
					</div>

				</div>
				<div class="form-group">
					<label for="id_fmv" class="col-sm-3 control-label">Fecha</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" readonly="fmv" name="" id="id_fmv">
					</div>
				</div>
				<div class="form-group">
					<label for="id_vttotal" class="col-sm-3 control-label">Total</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" readonly="" name="vttotal" id="id_vttotal">
					</div>
				</div>

				<div class="form-group">
					<label for="id_detaanula" class="col-sm-3 control-label">¿Por que la Anula?</label>
					<div class="col-sm-8">
						<textarea class="form-control" name="detaanula" id="id_detaanula" required></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="id_fact" class="col-sm-3 control-label">{{form.cesdo.label_tag}}</label>
					<div class="col-sm-8">
						{{form.cesdo}}
					</div>
				</div>
				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-app" type="submit">
							<i class="fa fa-plus-square-o"></i>Anular
						</button>
					</div>
				</div>
			</form>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script>
	var data = {}
	$("[name=detaanula]").change(function(){$(this).val($(this).val().trim())})
	$("form").submit(function(e){
		e.preventDefault()
		if(!$("[name=detaanula]").val().trim().length) return $("form").prepend(alertBootstrap("Por favor Explique por que Cancela la Factura.","info"))
		$.post(
			"{% url 'bill_proccess_fn_annulment' %}",
			JSON.stringify({
				cfac:$("#id_fact").val(),
				cesdo:$("#id_cesdo").val(),
				detaanula:$("#id_detaanula").val().trim()
			}),
			function(response){
				$("form").trigger("reset")
				$("form").prepend(alertBootstrap(response.message,"success"))
				
				console.log(response)
				var string_generic = "Se ha realizado el cambio de estado al(a) %name con codigo %code de %esdo_last a %esdo_new"
				response.factura
				var text_factura = string_generic
									.replace("%name","factura")
									.replace("%code",response.factura.cfac)
									.replace("%esdo_last",response.factura.esdo_last)
									.replace("%esdo_new",response.factura.esdo_mew)
				response.mvsa
				var text_mvsa = string_generic
									.replace("%name","mvsa")
									.replace("%code",response.mvsa.cmvsa)
									.replace("%esdo_last",response.mvsa.esdo_last)
									.replace("%esdo_new",response.mvsa.esdo_mew)
				response.movimiento
				var text_movimiento = string_generic
									.replace("%name","movimiento")
									.replace("%code",response.movimiento.cmovi)
									.replace("%esdo_last",response.movimiento.esdo_last)
									.replace("%esdo_new",response.movimiento.esdo_mew)

				$("form").append(alertBootstrap(text_movimiento,"info"))
				$("form").append(alertBootstrap(text_mvsa,"info"))
				$("form").append(alertBootstrap(text_factura,"info"))
			}
		)
	})
	$("#id_fact").change(function(){
		$.ajax({
			url: '{% url 'api-get-object' %}',
			type: 'POST',
			data: JSON.stringify({
				model : 30,
				field : "cfac",
				value : this.value
			}),
			contentType: "application/json",
			success: function(response){
				if(response.object){
					var object = JSON.parse(response.object)[0]
					fields = object.fields
					console.info(fields)

					$("#id_citerce").val(fields.citerce).trigger("change")
					$("#id_fmv").val(fields.femi)
					$("#id_vttotal").val(currencyFormat.format(fields.vttotal))
					$("#id_cesdo").val(fields.cesdo)
				}else{

					$("#id_citerce").val("").trigger("change")
					$("#id_fmv").val("")
					$("#id_vttotal").val("")
					$("#id_cesdo").val(1)
					
					$('#id_fact').val("")
					tooltipBootstrap($('#id_fact'),".input-group","No se encontro ninguna Factura con este Codigo.")
				}
			}
		});
	})
	$('#id_citerce').change(function(){
		/*
			Eschuca el cambio en el cambio #id_citerce
			Al cambiar el #id_citerce realiza una peticion a url'api-get-object' para buscar al tercero con ese id. Esta retorna el objeto de la DB en json y se asigna a current_tercero
			Se ejecuta la funcion 'setValueFieldTerce' para enviar valores al campo '[name=name__citerce]' del nombre del tercero
			Si no se encuentra ningun tercero se muestra un mensaje
		*/
		var input_value = this.value

		if(!input_value){
			$("#name_citerce").val("")
			return
		}
		loading_animation("Buscando Tercero")
		$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 29,'field': this.name,'value': this.value}),function(response){
			$(".animation").empty()
			if(response.object){
				var object = JSON.parse(response.object)[0]
				fields = object.fields
				$("#name_citerce").val(fields.rasocial)
			}else{
				$("#name_citerce").val("")
				tooltipBootstrap($('#id_citerce'),".form-group","Esta Idendificación no se encuentra registrada.")
			}
		})
	});
</script>
{% endblock content_script %}
