{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<div class="content">
			<h2>{{title}}</h2>
			<ul class="nav nav-pills">
				<li data-type-search="All" class="active"><a data-toggle="pill" href="#form_all">Todos</a></li>
				<li data-type-search="Sucursal" ><a data-toggle="pill" href="#form_csucur">Por Sucursal</a></li>
				<li data-type-search="Vende" ><a data-toggle="pill" href="#form_vende">Por Vendedor</a></li>
				<li data-type-search="Tercero" ><a data-toggle="pill" href="#form_citerce">Por Cliente</a></li>
			</ul>
			<form action="{% url 'report_fn_bill' %}" target="_blank" method="GET" class="form-horizontal">

				<div class="tab-content">
					<div id="form_all" class="tab-pane fade in active">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title"></h3>
									</div>
									<div class="box-body">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="form_vende" class="tab-pane fade in">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Vendedores</h3>
									</div>
									<div class="box-body">
									<div>
										{{form.cvende}}
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="form_csucur" class="tab-pane fade in">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Sucursales</h3>
									</div>
									<div class="box-body">
									<div>
										{{form.csucur}}
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="form_citerce" class="tab-pane fade in">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<h3 class="box-title">Clientes</h3>
									</div>
									<div class="box-body">
									<div>
										{{form.citerce}}
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group col-md-12">
					{{ form.fecha_inicial.label_tag }}
					{{ form.fecha_inicial }}
				</div>
				<div class="form-group col-md-12">
					{{ form.fecha_final.label_tag }}
					{{ form.fecha_final }}
				</div>

				<div class="text-center">
					<div class="btn-group">
						<button class="btn btn-app btn-success" type="submit" id="btn-save">
							<i class="fa fa-save"></i>Generar
						</button>
					</div>
				</div>
			</form>
		</div>
		<input type="hidden" name="type" id="type">
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="{% static 'js/moment-with-locales.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

<script>
	$("[name=type]").val($("[data-type-search].active").data("type-search"))

	$("[data-type-search]").click(function(e){
		$("[name=type]").val($(this).data("type-search"))

		$("[name=cvende]").prop("required",false).val("")
		$("[name=csucur]").prop("required",false).val("")
		if( $(this).data("type-search") == "Vende"){
			$("[name=cvende]").prop("required",true)
		}else if( $(this).data("type-search") == "Sucursal"){
			$("[name=csucur]").prop("required",true)
		}
	})

	$("#id_fecha_inicial").datetimepicker({
		format: format_date_appen,
		defaultDate:date_appen
	});
	$("#id_fecha_final").datetimepicker({
		format: format_date_appen,
		defaultDate:new Date(new Date().setDate(new Date().getDate()+1))
	});
</script>
{% endblock content_script %}
