<div class="col-md-7">

	<div class="form-group">
		<label for="">Ordenar por:</label>
		<br>
		<label class="radio-inline"><input type="radio" name="orderBy" class="orderBy" id="inlineRadio1" value="cingre"> Codigo</label>
		<label class="radio-inline"><input type="radio" name="orderBy" class="orderBy" id="inlineRadio2" value="ningre" checked> Descipcion</label>
		<label class="radio-inline"><input type="radio" name="orderBy" class="orderBy" id="inlineRadio3" value="canti"> Cantidad</label>
		<label class="radio-inline"><input type="radio" name="orderBy" class="orderBy" id="inlineRadio4" value="vcosto"> Precio</label>
		<label class="radio-inline"><input type="radio" name="orderBy" class="orderBy" id="inlineRadio5" value="cesdo__nesdo"> Estado</label>
	</div>
</div>

<div class="col-md-3">
	<div class="form-group">
		<label for="">Tipo:</label>
		<br>
		<label class="radio-inline">
			<input type="radio" name="orderTipo" class="orderTipo" id="inlineRadioType1" value checked>
			Ascendente
		</label>
		<label class="radio-inline">
			<input type="radio" name="orderTipo" class="orderTipo" id="inlineRadioType2" value="-">
			Descendente
		</label>
	</div>
</div>

<div class="col-md-2">
	<div class="form-group">
		<label for="">Buscar por Nombre:</label>
		<input type="text" name="buscarPor" class="form-control buscarPor">
	</div>
</div>
