{% load static from staticfiles %}
<header class="main-header">
	<a href="{% url 'dashboard' %}" class="logo logo-app">
		<span class="">
			<img src="{% static 'img/logo-app-h-blanco.png' %}" class="img-responsive" alt="">
		</span>
		<!--<span class="logo-lg">
			<img src="{% static 'img/logo-app-h-blanco.png' %}" alt="">
		</span>-->
	</a>
	<nav class="navbar navbar-static-top">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				{% for quick_access in nav_quick_access %}
					<li>
						<a class="btn btn-primary" href="{% url quick_access.url %}?module={{quick_access.module.smodule}}">
							<!-- ({{quick_access.module.nmodule}}) <br> -->
							<i class="fa {{quick_access.icon}}"></i>
							{{quick_access.name}}
						</a>
					</li>
				{% endfor %}
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Modulos</a>
					<ul class="dropdown-menu">
						{% for module in modules %}
							<li class="item-module">
								<button type="button" class="btn btn-primary btn-block">
									<label class="" for="module_{{ module.smodule }}">
										<input type="radio" name="modules" data-slug="{{ module.smodule }}" id="module_{{ module.smodule }}" >
										{{ module.nmodule }}
									</label>
								</button>
							</li>
						{% endfor %}
					</ul>
				</li>

				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="/static/img/users/default.png" class="user-image" alt="User Image">
						<span class="hidden-xs">
							{% if request.user.is_authenticated %}
								<b>{{ request.user.username }}</b>
							{% else %}
								Usuario Desconocido
							{% endif %}
						</span>
					</a>
					<ul class="dropdown-menu">
						<li class="user-header">
							<img src="/static/img/users/default.png" class="img-circle" alt="User Image">

								{% if request.user.is_authenticated %}
									<p><b>{{ request.user.username }}</b></p>
								{% else %}
									<p>Usuario Desconocido</p>
								{% endif %}
						</li>
						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-right">
								<a href="{% url 'logout' %}" class="btn btn-default btn-flat">Salir</a>
							</div>
						</li>
					</ul>
				</li>
				<!-- Control Sidebar Toggle Button -->

			</ul>
		</div>
	</nav>
</header>


