{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'm/jquery.mobile-1.4.5.min.css' %}" />
	<link rel="stylesheet" href="{% static 'm/style.css' %}" />
	<script src="{% static 'm/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'm/jquery.mobile-1.4.5.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	{% block head %}
	{% endblock head %}
</head>
<body>
	<div data-role="header" role="banner" class="ui-header ui-bar-inherit">
		{% block title %}
		{% endblock title %}
		{% block header %}
		{% endblock header %}
	</div>
	<div data-role="content" class="ui-content" role="main">
		{% block content %}
		{% endblock content %}
	</div>
</body>
{% block scripts %}
{% endblock scripts %}
<script>

		var cliente = false;
		var articleSelected = {};
		var articlesOrder = []
		var vtotalFactura = 0;

		// Cargar formato para inputs
		$(document).delegate('.ui-page', 'pageshow', function () {
			$(".input-currency").inputCurrency()
		});

		$( "#chooseMostrador" ).on( "click", function( event ) {
			// Prevenir Comportamiento
			event.preventDefault();

			// assign value cliente
			cliente = $(this).attr("data-client")

			// Alter the url according to the anchor's href attribute, and
			// store the data-foo attribute information with the url

			$.mobile.navigate( $(this).attr( "href" ), {
				foo: $(this).attr("data-foo")
			});

			// Hypothetical content alteration based on the url. E.g, make
			// an Ajax request for JSON data and render a template into the page.
			//alterContent( $(this).attr("href") );
		});

</script>
</html>