{% extends "m/base.html" %}

{% block title %}
	{% include "m/m_header_fac.html" %}
	<h1 class="ui-title" role="heading" aria-level="1">Facturación</h1>
{% endblock title %}

{% block content %}
	<h4>Seleccione Articulo</h4>
	<ul id="searchArticleList" data-role="listview" data-filter="true" data-inset="true" data-filter-placeholder="Buscar Articulo">
	</ul>

	<script>

		// Busqueda de Terceros
		$("#searchArticleList" ).on( "filterablebeforefilter", function ( e, data ) {

			var $ul = $( this ),
			// dato de entrada
			$datoDeEntrada = $( data.input ),
			valorDatoDeEntrada = $datoDeEntrada.val(),
			// Template Lista 
			html = "";
			// restablecer valores
			$ul.html( "" );

			if (valorDatoDeEntrada && valorDatoDeEntrada.length > 2) {

				// Gestos UI
				$ul.html( "<li><div class='ui-loader'><span class='ui-icon ui-icon-loading'></span></div></li>" )
				$ul.listview( "refresh" )

				// request obtener Terceros
				$.ajax({
					url : "{% url 'm_ajax_article_list' %}",
					dataType: "json",
					data: {
						q: $datoDeEntrada.val()
					}
				})
				.then( function ( data, statusCode, xhr) {

					// Parsear datos
					var articles = JSON.parse(data)
					if (articles.length > 0) {

						// recorrer datos y armar template
						for (var i = 0; i < articles.length; i++) {

							html += "<li><a href='{% url 'm_options_article' %}?carlo="+ articles[i].pk+"&client="+cliente +"' data-transition='slide' class='article' data-carlo="+articles[i].pk+" data-ncorto="+ articles[i].fields.ncorto +"><h2>"+ articles[i].fields.ncorto +"</h2><p>cod:"+ articles[i].pk +"&nbsp;&nbsp;<span>"+ currencyFormat.format(articles[i].fields.pvta1) +"</span></p></a></li>"
						};

						// cargar template a la lista
						$ul.html( html );
						$ul.listview( "refresh" );
						$ul.trigger( "updatelayout");
						$("#searchArticleList li").removeClass("ui-screen-hidden")
					}
					else {
						$ul.html("Sin resultados");
					}

				}, function ( data, statusCode, xhr){

					// Manejar el Error

				});
			}
		})


	</script>
{% endblock content %}