{%extends 'layouts/base.html'%}
{% block content_head %}
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<div class="content">
		<h2>Parametros</h2>
		<ul class="nav nav-pills">
			{% for module in modules %}
			{% if forloop.first %}
				<li class="active"><a data-toggle="pill" href="#{{module.nmodule}}">{{module.nmodule}}</a></li>
			{% else %}
				<li><a data-toggle="pill" href="#{{module.nmodule}}">{{module.nmodule}}</a></li>
			{% endif %}
			{% endfor %}
		</ul>

		<div class="tab-content">
			{% for module in modules %}
				{% if forloop.first %}  
					<div id="{{module.nmodule}}" class="tab-pane fade in active">
				{% else %}
					<div id="{{module.nmodule}}" class="tab-pane fade in ">
				{% endif %}
					<div class="row">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">{{module.nmodule}}</h3>
								</div>
								<div class="box-body">
									<form role="form" class="form-horizontal">
										{% for parameter in parameters %}
											{% if module.smodule == parameter.smodule %}
												<div class="form-group">
													<label for="{{parameter.field.id}}" class="{{parameter.css.label}}">{{parameter.label.text}}</label>
													<div class="{{parameter.css.field_container}}">
														{% if parameter.field.input %}
															{% if parameter.field.type != "checkbox" %}
																<input class="{{parameter.css.field}}" name="{{parameter.cparam}}" value="{{parameter.value}}" type="{{parameter.field.type}}">
															{% else %}
																<input class="{{parameter.css.field}}" {% if parameter.value %}checked{% endif %} name="{{parameter.cparam}}" type="{{parameter.field.type}}">
															{% endif %}
														{% else %}
															<select class="{{parameter.css.field}}" name="{{parameter.cparam}}">
																{% for option in parameter.field.options %}
																	{% if option.selected%}
																		<option value="{{option.value}}" selected>{{option.text}}</option>
																	{% else %}
																		<option value="{{option.value}}" >{{option.text}}</option>
																	{% endif %}
																{% endfor %}
															</select>
														{% endif %}
													</div>
												</div>
											{% endif %}
										{% endfor %}
										<div class="btn-group">
											<button class="btn btn-app btn-info" type="submit">
												<i class="fa fa-plus-square-o"></i>Guardar
											</button>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
	<script>
	var parameters = [];
	$('.date').datetimepicker({
		format: 'YYYY/MM/D hh:mm:ss',
		defaultDate: "2016/08/26 08:55:07",
	});
	$("form").submit(function(event){
		var currentForm = $(this)
		var elements = $(":input:not(button)",this)
		var data = []
		elements.toArray().forEach((e,i) => {
			var parameter = {}
			parameter.cparam = e.name
			if(e.tagName == "INPUT"){
				parameter.value = e.value
				if(e.type == "checkbox"){
					parameter.value = e.checked ? true :false
				}
			}else if (e.tagName == "SELECT"){
				parameter.value = e.value
			}
			data.push(parameter)
		})
		event.preventDefault();
		loading_animation("Guardando Parametros.")
		$.ajax({
			url: "{% url 'save-parameters' %}",
			type: "POST",
			data: JSON.stringify(data),
			contentType : "application/json",
			error: function(response){
				$(".animation").empty()
			},
			success: function(response){
				$(".animation").empty()
				console.log(response)
				var message = alertBootstrap(response.message,"success")
				currentForm.prepend(message)
			}
		});
	});
	</script>
{%endblock%}
