{% extends 'layouts/base.html' %}

{% load static %}
{% load humanize %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>{{title}}</h1>
		</section>
		<section class="content" id="messages-container">

			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
							<h4 class="panel-title">
								Detalle
								<span class="pull-right-container">
									<input type="text" name="" class="input-currency pull-right app-input-caja-registradora" readonly data-mask=id_vttotal__mask>
								</span>
							</h4>
						</a>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							{% include "facturacion/partials/billing_deta.html" %}
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
							<h4 class="panel-title">Encabezado</h4>
						</a>
					</div>
					<div id="collapse2" class="panel-collapse collapse">
						<div class="panel-body">
							{% include "facturacion/partials/billing_head.html" %}
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
							<h4 class="panel-title">Documentos</h4>
						</a>
					</div>
					<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">
							{% include "facturacion/partials/billing_documents.html" %}
						</div>
					</div>
				</div>
			</div>



			<div class="modal fade" role="dialog" id="lista_precios">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Lista de Precios</h4>
						</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-mail-reply"></i>Volver</button>
						</div>
					</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="modal fade" role="dialog" id="medios_pago">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Totalizar</h4>
						</div>
						<div class="modal-body">

							<form role="form" id="form_totales">
								<div>
									<ul class="nav nav-pills">
										<li class="active"><a data-toggle="pill" href="#tab_pagos">Pagos</a></li>
										<li ><a data-toggle="pill" href="#tab_impuestos">Impuestos</a></li>
										<li ><a data-toggle="pill" href="#tab_retencion">Retencion</a></li>
										<li ><a data-toggle="pill" href="#tab_totalizar_otros">Otros</a></li>
									</ul>
									<secition>
										<div class="tab-content"> 
											<div id="tab_pagos" class="tab-pane fade in active">
												<div class="row">
													<div class="col-md-12">
														<div class="box box-primary">
															<div class="box-header with-border">
															</div>
															<div class="box-body">
																<div class="form-group col-md-4">
																	<label for="{{form.vttotal.id_for_label}}" class="">{{form.vttotal.label}}</label>
																	{{form.vttotal}}
																</div>
																<div class="form-group col-md-4">
																	<label for="{{form.ventre.id_for_label}}">{{form.ventre.label}}</label>
																	{{form.ventre}}
																</div>
																<div class="form-group col-md-4">
																	<label for="{{form.vcambio.id_for_label}}">{{form.vcambio.label}}</label>
																	{{form.vcambio}}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="tab_impuestos" class="tab-pane fade in">
												<div class="row">
													<div class="col-md-12">
														<div class="box box-primary">
															<div class="box-header with-border">
															</div>
															<div class="box-body">
															<div>
															</div>
																<div class="form-group col-md-6">
																	<label for="{{form.vtbase.id_for_label}}" class="">{{form.vtbase.label}}</label>
																	{{form.vtbase}}
																</div>
																<div class="form-group col-md-6">
																	<label for="{{form.vtiva.id_for_label}}">{{form.vtiva.label}}</label>
																	{{form.vtiva}}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="tab_retencion" class="tab-pane fade in">
												<div class="row">
													<div class="col-md-12">
														<div class="box box-primary">
															<div class="box-header with-border">
															</div>
															<div class="box-body">
															<div>
																<div class="form-group col-md-4">
																	<label for="{{form.brtefte.id_for_label}}">{{form.brtefte.label}}</label>
																	{{form.brtefte}}
																</div>
																<div class="form-group col-md-4">
																	<label for="{{form.prtefte.id_for_label}}">{{form.prtefte.label}}</label>
																	<div class="input-group">
																		{{form.prtefte}}
																		<span class="input-group-addon">%</span>
																	</div>
																</div>
																<div class="form-group col-md-4">
																	<label for="{{form.vrtefte.id_for_label}}">{{form.vrtefte.label}}</label>
																	{{form.vrtefte}}
																</div>
															</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div id="tab_totalizar_otros" class="tab-pane fade in">
												<div class="row">
													<div class="col-md-12">
														<div class="box box-primary">
															<div class="box-header with-border">
															</div>
															<div class="box-body">
															<div>
																<div class="row col-md-12">
																	<div class="form-group col-md-6">
																		<label for="{{form.vflete.id_for_label}}" class="">{{form.vflete.label}}</label>
																		{{form.vflete}}
																	</div>
																	<div class="form-group col-md-6">
																		<label for="{{form.vdescu.id_for_label}}" class="">{{form.vdescu.label}}</label>
																		{{form.vdescu}}
																	</div>
																</div>
															</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</secition>
								</div>
							</form>

							<form class="form-horizontal" id="form_medios_pago">
								<section id="item_medio_pago">
									<table class="table table-striped no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>It</th>
												<th>Medio de Pago</th>
												<th>Documento</th>
												<th>Banco</th>
												<th>Total</th>
												<th></th>
											</tr>
											<tr>
												<th>
													<input type="hidden" name="{{ form_medios_pagos.it.name }}" id="{{ form_medios_pagos.it.id_for_label}}" >
												</th>
												<th>{{ form_medios_pagos.cmpago }}</th>
												<th>{{ form_medios_pagos.docmpago }}</th>
												<th>{{ form_medios_pagos.banmpago }}</th>
												<th>{{ form_medios_pagos.vmpago }}</th>
												<th><button type="submit" title="Agregar Forma de Pago" class="btn btn-success"><i class="fa fa-plus-square"></i></button></th>
											</tr>
										</thead>
									</table>
								</section>
								<section role="form" id="list_medios_pago">
									<table class="table table-striped no-footer text-center" cellspacing="0">
										<thead>
											<tr>
												<th>It</th>
												<th>Medio de Pago</th>
												<th>Documento</th>
												<th>Banco</th>
												<th>Total</th>
												<th></th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</section>
							</form>

						</div>
						<div class="modal-footer">
							<div class="btn-group">
								<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-mail-reply"></i>Volver</button>
								<button type="button" class="btn btn-app" id="btn-save"><i class="fa fa-save"></i>Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center buttons-action">
				<div class="btn-group">
					<button class="btn btn-app btn-info" id="bnt-new-fac" onclick="reset_form_fac()" type="button">
						<i class="fa fa-plus-square-o"></i>
						Nuevo
					</button>
					<button type="button" class="btn btn-app" data-toggle="modal" data-target="#modal_descripcion">
						<i class="fa fa-file-text-o"></i>Descripción
					</button>
					<button class="btn btn-app" type="button" onclick="show_modal_totalizar()">
						<i class="fa fa-dollar"></i>
						Totalizar
					</button>
					{% if mode_view == "edit" %}
						<button class="btn btn-app" type="button" id="print_bill">
							<i class="fa fa-print"></i>
							Imprimir
						</button>
					{% endif %}

					<a data-new-window class="btn btn-app" href="{% url 'list-bill' %}"><i class="fa fa-list"></i>Listar</a>

				</div>
			</div>

		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

	<script type="text/javascript">
		{% if is_fac_anulada %}
			var var_template_django_is_fac_anulada = true
		{% else %}
			var var_template_django_is_fac_anulada = false
		{% endif %}
		
		var var_template_django_url = "{{url}}"
		var data_validation = {{data_validation_json|safe}}

		{% if facdeta_json %}
			var td_js_facdeta = {{facdeta_json|safe}}
			var td_js_facpagos = {{facpagos_json|safe}}
		{% else %}
			var td_js_facdeta = []
			var td_js_facpagos = []
		{% endif %}
	</script>

	<script src="{% static 'js/app/facturacion/index.js' %}"></script>
{% endblock content_script %}
