{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Facturas</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form_movement">
				<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>
							<div class="box-body">
								<div class="col-md-2 nopadding">
									<img class="img-responsive" src="{% static company_logo %}" alt="">
								</div>

								<div class="col-md-5 nopadding">

									<div class="form-group col-md-12">
										<label for="{{form.citerce.id_for_label}}" class="col-sm-2 control-label">{{form.citerce.label}}</label>
										{%if form.citerce.errors%}
										{{form.citerce.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												<div class="col-md-3" style="padding: 0px;">
													<input type="number" value="{{form.citerce.field.widget.attrs.value}}" name="{{form.citerce.name}}" id="{{form.citerce.id_for_label}}" class="{{form.citerce.field.widget.attrs.class}}" {% if form.citerce.field.required %}required{% endif %}>
												</div>
												<div class="col-md-9" style="padding: 0px;">
													<input type="text" name="name__{{form.citerce.name}}" id="name__{{form.citerce.name}}" class="form-control" readonly>
												</div>
												<span class="input-group-addon"><a data-new-window href="{% url 'add-third-party' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
												<span class="input-group-addon"><a data-new-window href="{% url 'list-third-parties' %}" target="_blank"><i class="fa fa-search"></i></a></span>
											</div>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cvende.id_for_label}}" class="col-sm-3 control-label">{{form.cvende.label}}</label>
										{%if form.cvende.errors%}
										{{form.cvende.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cvende}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cdomici.id_for_label}}" class="col-sm-3 control-label">{{form.cdomici.label}}</label>
										{%if form.cdomici.errors%}
										{{form.cdomici.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cdomici}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.ctifopa.id_for_label}}" class="col-sm-3 control-label">{{form.ctifopa.label}}</label>
										{%if form.ctifopa.errors%}
										{{form.ctifopa.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.ctifopa}}
										</div>
									</div>
                  <div class="form-group col-md-12">
										<label for="{{form.cfac.id_for_label}}" class="col-sm-3 control-label">{{form.cfac.label}}</label>
										{%if form.cfac.errors%}
										{{form.cfac.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cfac}}
										</div>
									</div>
								</div>

								<div class="col-md-5 nopadding">
									<div class="form-group col-md-12">
										<label for="{{form.femi.id_for_label}}" class="col-sm-3 control-label">{{form.femi.label}}</label>
										{%if form.femi.errors%}
										{{form.femi.errors}}
										{%endif%}
										<div class="col-sm-9">
											<input type="text" value="{{form.femi.field.widget.attrs.value}}" name="{{form.femi.name}}" id="{{form.femi.id_for_label}}" class="{{form.femi.field.widget.attrs.class}}" {% if form.femi.field.required %}required{% endif %}>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label for="{{form.fpago.id_for_label}}" class="col-sm-3 control-label">{{form.fpago.label}}</label>
										{%if form.fpago.errors%}
										{{form.fpago.errors}}
										{%endif%}
										<div class="col-sm-9">
											<input type="text" value="{{form.fpago.field.widget.attrs.value}}" name="{{form.fpago.name}}" id="{{form.fpago.id_for_label}}" class="{{form.fpago.field.widget.attrs.class}}" {% if form.fpago.field.required %}required{% endif %}>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cemdor.id_for_label}}" class="col-sm-3 control-label">{{form.cemdor.label}}</label>
										{%if form.cemdor.errors%}
										{{form.cemdor.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cemdor}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.ccaja.id_for_label}}" class="col-sm-3 control-label">{{form.ccaja.label}}</label>
										{%if form.ccaja.errors%}
										{{form.ccaja.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.ccaja}}
										</div>
									</div>
									<input type="hidden" name="{{form.cesdo.html_name}}" id="{{form.cesdo.id_for_label}}" value="{{form.cesdo.value}}">
									<!--
									<div class="form-group col-md-12">
										<label for="{{form.cesdo.id_for_label}}" class="col-sm-3 control-label">{{form.cesdo.label}}</label>
										{%if form.cesdo.errors%}
										{{form.cesdo.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cesdo}}
										</div>
									</div>
									-->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="modal_descripcion" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Descripcion de la Factura</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="{{form.descri.id_for_label}}" class="col-sm-3 control-label">{{form.descri.label}}</label>
									{%if form.descri.errors%}
									{{form.descri.errors}}
									{%endif%}
									<div class="col-sm-9">
										{{form.descri}}
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
							</div>
						</div>

					</div>
				</div>


			</form>

			<form class="form-horizontal" id="form_deta_movement">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Detalle</h3>

								<span class="pull-right-container">
									<input type="text" name="" class="pull-right app-input-caja-registradora" readonly data-mask=id_vttotal__mask>
								</span>

							</div>
							<div class="box-body">

								<section class="col-md-12" id="form_temp_mvendeta">
								</section>
								<section role="form" id="item_mdeta">
									<table class="table table-striped no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>It</th>
												<th width="20%">Cod. Articulo</th>
												<th>Articulo</th>
												<th>Cantidad</th>
												<th width="10%">Descuento</th>
												<th>IVA</th>
												<th>V. unitario</th>
												<th>V. total</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>
													<input type="text" class="form-control" name="{{ form_movement_detail.itfac.name }}" id="{{ form_movement_detail.itfac.id_for_label}}" readonly style="width: 50px;">
												</th>
												<th>
													<div class="input-group">
														<input type="number" name="{{form_movement_detail.carlos.name}}" id="{{form_movement_detail.carlos.id_for_label}}" class="{{form_movement_detail.carlos.field.widget.attrs.class}}" required>
														<span class="input-group-addon"><a data-new-window href="{% url 'list-articles' %}" target="_blank"><i class="fa fa-search"></i></a></span>
													</div>
												</th>
												<th>
													<input type="text" name="name__{{form_movement_detail.carlos.name}}" id="name__{{form_movement_detail.carlos.name}}" class="form-control" readonly>
												</th>
												<th>{{ form_movement_detail.canti }}</th>
												<th>
													<div class="input-group">
														{{ form_movement_detail.pordes }}
														<span class="input-group-addon">%</span>
													</div>
												</th>
												<th>{{ form_movement_detail.civa }}</th>
												<th>{{ form_movement_detail.vunita }}</th>
												<th>{{ form_movement_detail.vtotal }}</th>
												<th>
													<button type="submit" class="btn btn-success">
														<i class="fa fa-plus-square"></i>
													</button>
													<button class="btn btn-info" type="button" onclick="mostrar_modal_lista_precios(false)">
														<i class="fa fa-list-alt"></i>
													</button>
												</th>
											</tr>
										</tbody>
									</table>
								</section>

								<section role="form" id="list_items_mdeta">
									<table class="table table-striped no-footer text-center" cellspacing="0" width="100%">
										<tbody>
											{% for list in object.facdeta_set.all %}
												<tr>
													<td data-name="itfac" data-value="{{ list.itfac }}">{{ list.itfac }}</td>
													<td data-name="carlos" data-value="{{ list.carlos.pk }}">{{ list.carlos.pk }}</td>
													<td data-name="name__carlos" data-value="{{ list.carlos.nlargo }}">{{ list.carlos.nlargo }}</td>
													<td data-name="canti" data-value="{{ list.canti }}">{{ list.canti }}</td>
													<td data-name="pordes" data-value="{{ list.pordes }}">{{ list.pordes }}</td>
													<td data-name="civa" data-value="{{ list.civa.pk }}">{{ list.civa }}</td>
													<td data-name="vunita" data-value="{{ list.vunita }}">{{ list.vunita }}</td>
													<td data-name="vtotal" data-value="{{ list.vtotal }}">{{ list.vtotal }}</td>
													<td>
														<span class="btn btn-info" style="margin-right: 3px;" id="edit-item-fac"><i class="fa fa-edit"></i></span>
														<span class="btn btn-danger" id="delete-item-fac"><i class="fa fa-remove"></i></span>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</section>

							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="modal fade" role="dialog" id="lista_precios">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Lista de Precios</h4>
						</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-close"></i>Volver</button>
						</div>
					</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="modal fade" role="dialog" id="medios_pago">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Totalizar</h4>
						</div>
						<div class="modal-body">

							<form role="form" id="form_totales">
								<div class="row">
									<div class="col-md-7">
										<div class="box box-primary">
											<div class="box-header with-border">
												<h3 class="box-title">Totales</h3>
											</div>
											<div class="box-body">
												<div class="row col-md-6">
													<div class="form-group">
														<label for="{{form.vtbase.id_for_label}}" class="">{{form.vtbase.label}}</label>
														{{form.vtbase}}
													</div>
													<div class="form-group">
														<label for="{{form.vtiva.id_for_label}}">{{form.vtiva.label}}</label>
														{{form.vtiva}}
													</div>
												</div>

												<div class="row col-md-6">
													<div class="form-group">
														<label for="{{form.vflete.id_for_label}}" class="">{{form.vflete.label}}</label>
														{{form.vflete}}
													</div>
													<div class="form-group">
														<label for="{{form.vdescu.id_for_label}}" class="">{{form.vdescu.label}}</label>
														<div class="input-group">
															{{form.vdescu}}
															<span class="input-group-addon">%</span>
														</div>
													</div>
													<div class="form-group">
														<label for="{{form.vttotal.id_for_label}}" class="">{{form.vttotal.label}}</label>
														{{form.vttotal}}
													</div>
												</div>
												<div class="row">
													<div class="form-group col-md-6">
														<label for="{{form.ventre.id_for_label}}">{{form.ventre.label}}</label>
														{{form.ventre}}
													</div>
													<div class="form-group col-md-6">
														<label for="{{form.vcambio.id_for_label}}">{{form.vcambio.label}}</label>
														{{form.vcambio}}
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="box box-primary">
											<div class="box-header with-border">
												<h3 class="box-title">Retencion Fuente</h3>
											</div>
											<div class="box-body">
												<div class="form-group">
													<label for="{{form.brtefte.id_for_label}}">{{form.brtefte.label}}</label>
													{{form.brtefte}}
												</div>
												<div class="form-group">
													<label for="{{form.prtefte.id_for_label}}">{{form.prtefte.label}}</label>
													<div class="input-group">
														{{form.prtefte}}
														<span class="input-group-addon">%</span>
													</div>
												</div>
												<div class="form-group">
													<label for="{{form.vrtefte.id_for_label}}">{{form.vrtefte.label}}</label>
													{{form.vrtefte}}
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>

							<form class="form-horizontal" id="form_medios_pago">
								<section id="item_medio_pago">
									<table class="table table-striped no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>It</th>
												<th>Medio de Pago</th>
												<th>Documento</th>
												<th>Banco</th>
												<th>Total</th>
												<th></th>
											</tr>
											<tr>
												<th>
													<input type="hidden" name="{{ form_medios_pagos.it.name }}" id="{{ form_medios_pagos.it.id_for_label}}" >
												</th>
												<th>{{ form_medios_pagos.cmpago }}</th>
												<th>{{ form_medios_pagos.docmpago }}</th>
												<th>{{ form_medios_pagos.banmpago }}</th>
												<th>{{ form_medios_pagos.vmpago }}</th>
												<th><button type="submit" class="btn btn-success"><i class="fa fa-plus-square"></i></button></th>
											</tr>
										</thead>
									</table>
								</section>
								<section role="form" id="list_medios_pago">
									<table class="table table-striped no-footer text-center" cellspacing="0">
										<tbody>
											{% for medios_pagos in object.facpago_set.all %}
												<tr>
													<td data-name="it" data-value="{{ medios_pagos.it }}">{{ medios_pagos.it }}</td>
													<td data-name="cmpago" data-value="{{ medios_pagos.cmpago.pk }}">{{ medios_pagos.cmpago }}</td>
													<td data-name="docmpago" data-value="{{ medios_pagos.docmpago }}">{{ medios_pagos.docmpago }}</td>
													<td data-name="banmpago" data-value="{{ medios_pagos.banmpago.pk }}">{{ medios_pagos.banmpago.nbanfopa }}</td>
													<td data-name="vmpago" data-value="{{ medios_pagos.vmpago }}">{{ medios_pagos.vmpago }}</td>
													<td>
														<span class="btn btn-info" style="margin-right: 3px;" id="edit-item-medios-pagos"><i class="fa fa-edit"></i></span>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</section>
							</form>

						</div>
						<div class="modal-footer">
							<div class="btn-group">
								<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-close"></i>Volver</button>
								<button type="button" class="btn btn-app" id="btn-save"><i class="fa fa-save"></i>Guardar</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<div class="btn-group">
					<button class="btn btn-app btn-info" type="reset">
						<i class="fa fa-plus-square-o"></i>
						Nuevo
					</button>
					<button type="button" class="btn btn-app" data-toggle="modal" data-target="#modal_descripcion">
						<i class="fa fa-file-text-o"></i>Descripción
					</button>
					<button class="btn btn-app" type="button" onclick="show_modal_totalizar()">
						<i class="fa fa-dollar"></i>
						Totalizar
					</button>
					{% if mode_view == "edit" %}
						<button class="btn btn-app" type="button" id="print_bill">
							<i class="fa fa-print"></i>
							Imprimir
						</button>
					{% endif %}

					<a data-new-window class="btn btn-app" href="{% url 'list-bill' %}"><i class="fa fa-list"></i>Listar</a>
				</div>
			</div>

		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script>
	var mode_view = $("#mode_view").val()
	var current_arlo = null //Articulo(Objeto DB) que se selecciona en el #form_deta_movement
	var current_tercero = null //Tercero(Objeto DB) que se selecciona en el #id_citerce
	var pvta_menor = null
	var it = 1
	$('#id_itfac').val(it)
	calcular_total()
	Number.prototype.format = function(n, x) {
		var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
		return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
	};
	$(document).on("keyup", "#id_canti", function(e){
		var this_value = isNaN(parseFloat($(this).val())) ? 0: parseFloat($(this).val());
		var value_tot = this_value * $('#id_vunita').val();
		$('#id_vtotal').val(value_tot)
	});
	$(document).on("keyup", "#id_vunita", function(e){
		var this_value = isNaN(parseFloat($(this).val())) ? 0: parseFloat($(this).val());
		var value_tot = this_value * $('#id_canti').val()
		$('#id_vtotal').val(value_tot)
	});
	function print_bill(cfac){
		/*
			@param cfac String : codigo de factura a imprimir
			Abre una nueva ventana con la factura en pdf
		*/
		window.open("/bill/print?cfac=" + cfac)
	}

	function setValueFieldTerce(){
		/*

			#id_citerce : Identificacion del tercero
			[name=name__citerce] : Nombre del tercero

			En base a 'current_tercero' envia valores a los campos '#id_citerce','[name=name__citerce]'
			si current_arlo es null envia "","" Respectivamente
			por el contrario si no es null envia los valores del objeto del tercero.
		*/
		if(current_tercero){
			id_citerce = current_tercero.idterce
			name__citerce = current_tercero.rasocial
		}else{
			id_citerce = ""
			name__citerce = ""
		}
		$('#id_citerce').val(id_citerce)
		$("[name=name__citerce]").val(name__citerce)
	}

	function setValueFieldArlo(){
		/*
			[name=vunita] : Valor unitario del Articulo.
			[name=carlos] : Codigo del Articulo.
			[name=name__carlos] : Noombre del Articulo.
			[name=civa] : Codigo de Iva relacionado al Articulo.

			En base a 'current_arlo' envia valores a los campos '[name=vunita]','[name=carlos]','[name=name__carlos]','[name=civa]'
			si current_arlo es null envia "","","","" Respectivamente
			por el contrario si no es null envia los valores del objeto del articulo.
		*/
		$("[name=pordes]").val(0)

		$("[name=name__carlos]").prop("readonly",true)

		$("[name=vunita]").prop("readonly",false)
		$("[name=pordes]").prop("readonly",false)

		if(current_arlo){
			var name__carlos = current_arlo.nlargo
			var ivas_civa = current_arlo.ivas_civa
			if(current_arlo.ifedinom) $("[name=name__carlos]").prop("readonly",false)
			if(current_arlo.ifpvfijo) {
				$("[name=vunita]").prop("readonly",true)
				$("[name=pordes]").prop("readonly",true)
			}
		}else{
			var name__carlos = ""
			var ivas_civa = ""
			$("[name=vunita]").val("")
			$("[name=carlos]").val("").focus()
		}
		$("[name=name__carlos]").val(name__carlos)
		$("[name=civa]").val(ivas_civa)

		calcular_valor_unitario()
	}

	function mostrar_modal_lista_precios(if_return_mpvta){
		/*
			Retorna el precio de venta menor (pvta_menor) del articulo actual (current_arlo)
			ó
			Muestra una ventana Modal con la lista de precios del articulo actual (current_arlo)
		*/
		$("#lista_precios .modal-body").empty()
		if(!current_arlo) return alert("Por favor seleccione un articulo.")
		var table = $("<table class='table table table-striped'>")
			for (field in current_arlo){
				regexp = /pvta[0-9]/
				pvta_menor = current_arlo.pvta1
				if(regexp.test(field)){
					if(current_arlo[field] < pvta_menor){
						pvta_menor = current_arlo[field]
					}
					table.append(
						$("<tr>").append(
							$("<td>",{html:field.replace("pvta", 'Precio Venta ')}),
							$("<td>",{html:currencyFormat.format(current_arlo[field])})
						)
					)
				}
			}
			if(if_return_mpvta) return pvta_menor
			$("#lista_precios .modal-body").append(table)
			$("#lista_precios").modal("show")
	}

	function show_modal_totalizar(){
		/*
			[name=ctifopa] : Forma de Pago
			[name=cmpago] : Medio de Pago
			[name=vmpago] : Valor Total del Medio e Pago
			[name=vttotal] : Valor Total de la Factura

			Abre la ventana Modal de Medios de Pago

			Validaciones
			Si [name=ctifopa] es igual a la forma de pago Contado
			Crea por defecto un registro(HTML <tr>) de la tabla(HTML <table>) COn la forma de pago Contada
				[name=cmpago] = Medio de pago Efectivo
				[name=vmpago] = [name=vttotal]
			Si no lo es simplemente abre la ventana modal en blanco
		*/
		var array_mvdeta = get_data_list("#list_items_mdeta")
		if(!array_mvdeta.length) return $("#form_deta_movement").prepend(alertBootstrap("No ha ingresado Ningun Articulo","warning"))
		//$("#list_medios_pago table tbody tr").remove()

		if($("[name=ctifopa]").val() == data_validation.formas_pago.FORMA_PAGO_CONTADO){
			$("#item_medio_pago [name=cmpago]").val(data_validation.medios_pago.MEDIO_PAGO_EFECTIVO).change()
			console.warn($("[name=vttotal]").val())
			$("#item_medio_pago [name=vmpago]").val($("[name=vttotal]").val())
			$("#form_medios_pago").submit()
		}
		$("#medios_pago").modal("show")
		$("#medios_pago [name=cmpago]").focus()
	}

	function get_data_list(selector_list){
		/*
			Retorna un objeto con los valores de los atributos [data-name] y [data-value] de los tr de una tabla
			{
				tr1[data-name]: tr1[data-value],
				trn[data-name]: trn[data-value],
				...
				...
				...
			}
		*/
		return $(selector_list).find("tr").toArray().map(
			function(e){
				var data = {}
				$(e).children("[data-name]").toArray().forEach(
					function(e2){
						data[$(e2).data("name")] = $(e2).data("value")
					}
				)
				return data
			}
		)
	}

	function calcular_valor_cambio(){
		/*
			ventre: Valor entregado
			vttotal: Valor Total de la factura

			Validaciones
			Verifica que el ventre tenga valor
			Verifica que el vttotal tenga valor

			Calcula el valor de cambio de la factura
			Operacion = ventre - vttotal
		*/
		if(parseFloat($("[name=ventre]").val()) && parseFloat($("[name=vttotal]").val())){
			if(parseFloat($("[name=ventre]").val()) >= parseFloat($("[name=vttotal]").val())){
				var v_cambio = parseFloat($("[name=ventre]").val()) - parseFloat($("[name=vttotal]").val())
			}else{
				var v_cambio = ""
				$("#form_totales").prepend(alertBootstrap("El valor Entrado es menor al Total","info"))
			}
			$("[name=vcambio]").val(v_cambio)
		}
	}

	function calcular_valor_unitario(){
		/*
			pordes: Porcentaje de descuento del articulo
			vunita: Valor Unitario del articulo
			precio_venta: precio de venta que aplica para el tercero seleccionado(clipre: lista de precios)

			Validaciones
			Valida que se haya seleccionado un articulo en #form_deta_movement

			Calcula el valor unitario de un articulo
			Operacion = precio_venta - ( precio_venta * ( pordes / 100 ) )
		*/
		if(current_tercero && current_arlo){
			name_list_price = "pvta" + current_tercero.clipre
			var price_venta = parseFloat(current_arlo[name_list_price])
			var descuento = parseFloat($("#form_deta_movement [name=pordes]").val())

			var vunita = price_venta - (price_venta*(descuento/100))
			$("#form_deta_movement [name=vunita]").val(vunita).trigger("change")
		}
	}

	function calcular_total_flete(){
		/*
			brtefte: Valor base del flete
			prtefte: Porcentaje de descuento del flete
			vrtefte: valor total del flete

			Recalcula el valor total del flete de la factura
			Operacion = brtefte - ( brtefte * ( prtefte / 100 ) )
		*/
		var brtefte = parseFloat($("[name=brtefte]").val())
		var prtefte = parseFloat($("[name=prtefte]").val())

		var vrtefte = brtefte - (brtefte*(prtefte/100))
		$("[name=vrtefte]").val(vrtefte)
	}

	function calcular_vtbase_vtiva(){
		/*
			canti: cantidad a vender del articulo
			vunita: Valor unitario del articulo
			pordes: Porcentaje de descuento del articulo
			civa: IVA para el articulo

			vtbase: valor total de la base
			vtiva: valor total del iva

			Calcula el valor total de la base y el valor total del iva
			Operaciones
				vbase = precio_total / ( 1 + ( porcentaje_iva / 100 ) )
				viva = vbase * ( porcentaje_iva / 100 )

				vtbase += vbase
				vtiva += viva
		*/

		var vtbase = 0
		var vtiva = 0
		$("#list_items_mdeta tbody tr").toArray().forEach(function (e,i,a){
			var cantidad = parseFloat($(e).find("[data-name=canti]").data("value"))
			var precio = parseFloat($(e).find("[data-name=vunita]").data("value"))
			var porcentaje_descuento = parseFloat($(e).find("[data-name=pordes]").data("value"))

			var codigo_iva = parseFloat($(e).find("[data-name=civa]").data("value"))
			var porcentaje_iva = valores_iva[codigo_iva]

			var precio_total_sin_descuento = cantidad * precio
			var precio_total = precio_total_sin_descuento - ( precio_total_sin_descuento * ( porcentaje_descuento / 100 ) )

			var vbase = precio_total / ( 1 + ( porcentaje_iva / 100 ) )
			var viva = vbase * ( porcentaje_iva / 100 )

			vtbase += vbase
			vtiva += viva
		})
		return {vtbase: vtbase,vtiva: vtiva}
	}

	function calcular_total(){
		/*
			Calcula el valor Total de la Factura

			Recorre todos los times de la factura calculando el valor individual y sumandolos para luego operarlos con el descuento y los valores del flete
		*/
		var vttotal_items = 0
		var vttotal_local = 0
		$("#list_items_mdeta tbody tr")
			.toArray()
			.forEach(function(e){
				var temp_vunita = parseFloat($(e).find("[data-name=vunita]").data("value"))
				var temp_canti = parseFloat($(e).find("[data-name=canti]").data("value"))
				var vtotal_temp = temp_vunita * temp_canti
				vttotal_items += vtotal_temp
			}
		)
		var vflete = parseFloat($("[name=vflete]").val())
		var porcentaje_descuento = parseFloat($("[name=vdescu]").val())

		vttotal_local_sin_descuento = vflete + vttotal_items
		vttotal_local = vttotal_local_sin_descuento - ( vttotal_local_sin_descuento * ( porcentaje_descuento / 100 ) )

		$("[name=vttotal]").val(vttotal_local).trigger("change")
		$("[data-mask=id_vttotal__mask]").val(currencyFormat.format(vttotal_local))
	}

	/* Operaciones */
	$("[name=ventre]").change(function(){
		/*
			ventre: Valor entregado por el tercero apra pagar la factura

			Operacion
			Recalcula el valor del cambio.
		*/
		calcular_valor_cambio()
	})

	$("[name=vflete], [name=vdescu]").change(function(){
		/*
			vflete: Valor del flete
			vdescu: Valor del descuento general para la factura

			Operacion
			Recalcula el valor total de la factura.
		*/
		calcular_total()
	})

	$("[name=brtefte], [name=prtefte]").change(function(event){
		/*
			Operacion
			Recalcula el valor total del flete de la factura
		*/
		calcular_total_flete()
	})
	/* Operaciones */

	/* Validaciones */
	$("[name=canti]").change(function(){
		/*
			Validacion
			Valida si la cantidad ha vender dedterminado articulo es mayor a la cantidad maxima parametrizada, pregunta si se desa continuar o no
		*/
		if( parseFloat($(this).val()) > parseFloat(data_validation.maximum_amount_items_billing) ){
			if(!confirm("La factura ha superado la Cantidad Maxima de " + data_validation.maximum_amount_items_billing + ", ¿Desea Continuar?")){
				$(this).val("")
			}
		}
	})

	$("[name=vttotal]").change(function(){
		/*
			vttotal: valor total de la factura

			Validacion
			Valida si el valor total de la factura es mayor a la valor total maximo parametrizado, pregunta si se desa continuar o no
			Recalcula el valor del cambio
		*/
		if( parseFloat($(this).val()) > parseFloat(data_validation.top_sales_invoice) ){
			if(!confirm("La factura ha superado el Valor Total maximo de " + data_validation.top_sales_invoice + ", ¿Desea Continuar?")){
				$(this).val("")
			}
		}
		calcular_valor_cambio()
	})

	$("#form_deta_movement [name=pordes]").change(function(){
		/*
			pordes: porcentaje de descuento para el articulo actual

			Validacion
			Valida si el porcentaje de descuento del articulo es mayor a la porcentaje maximo parametrizado, pregunta si se desa continuar o no
			Recalcula el valor unitario del articulo actual
		*/
		if( parseFloat($(this).val()) > parseFloat(data_validation.top_discount_bills) ){
			$(this).val("")
			alert("El Tope de Descuento es " + data_validation.top_discount_bills)
		}
		calcular_valor_unitario()
	})

	$("#form_deta_movement [name=vunita]").change(function(){
		/*
			vunita: valor unitario del articulo actual

			Validacion
			Valida si el valor unitario del producto es menor al precio de venta menor del articulo, pregunta si desea continuar o no
		*/
		if( parseFloat($(this).val()) < parseFloat(pvta_menor) ){
			if(!confirm("El precio Unitario es menor al precio de Venta, ¿Desea Continuar?")){
				$(this).val("").focus()
			}
		}
	})

	$("#item_medio_pago [name=cmpago]").change(function(e){
		/*
			cmpago: Medio de pago para el valor de la factura
			docmpago: documento del medio de pago
			banmpago : banco del medio de pago

			Validacion
			si el medio de pago no requiere documento(docmpago) y banco(banmpago) , desabilita y envia los valores por defecto para "docmpago", "banmpago"
			en caso contrario habilita y agrega el atributo "required" a los campos
		*/
		if(this.value != ''){
			$.post('/api/get-object/',JSON.stringify({'model': 32, 'field': this.name, 'value': this.value}),function(response){
				var object = JSON.parse(response.object)[0]
				if(object.fields['ifdoc']){
					$("[name=docmpago],[name=banmpago]")
						.prop("disabled",false)
						.prop("required",true)
						.val("")
				}else{
					$("[name=docmpago]")
						.prop("disabled",true)
						.prop("required",false)
						.val("0")
					$("[name=banmpago]")
						.prop("disabled",true)
						.prop("required",false)
						.val(data_validation.medios_pago.DEFAULT_BANCO)
				}
			})
		}
	})
	/* Validaciones */

	$("#print_bill").click(function(){
		/*
			Ejecuta la funcion para imprimir la factura actual
		*/
		print_bill("{{form.cfac.value}}")
	})

	$(window).keydown(function(event) {
		/*
			Escucha la combinacion de teclado Alt + t para mostar la ventana modal de totalizar(medios de pagos)
		*/
		if(event.altKey && event.keyCode == 84) {
			event.preventDefault();
			show_modal_totalizar()
		}
	})

	$('#id_carlos').change(function(){
		/*
			Eschuca el cambio en el cambio #id_carlos
			Al cambiar el #id_carlos realiza una peticion a url'api-get-object' para buscar al articulos con ese 'carlos', si no se encuentra ningun articulo con ese 'carlos' se realiza otra peticion con 'cbarras'. Esta retorna el objeto de la DB en json y se asigna a current_arlo
			Se ejecuta la funcion 'setValueFieldArlo' para enviar valores a los campos '[name=vunita],[name=name__carlos],[name=civa]' articulo del articulo
			Si no se encuentra ningun articulo se muestra un mensaje
		*/
		var input_value = this.value
		if(!input_value){
			current_arlo = null
			setValueFieldArlo()
			return
		}
		if(!current_tercero){
			current_arlo = null
			setValueFieldArlo()
			alert("Seleccione un Tercero para Continuar.")
			return
		}

		var arlo_in_list = false

		$("#list_items_mdeta tbody tr").toArray().forEach(function (e,i,a){
			var td = $(e).find("[data-name=carlos]")
			if(td.data("value") == input_value){
				$(e).find(".fa.fa-edit").click()
				arlo_in_list = true
			}
		})
		//if(arlo_in_list) return
		loading_animation("Cargando Datos")
		$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 5,'field': this.name,'value': input_value}),function(response){
			$(".animation").empty()
			if(response.object){
				var object = JSON.parse(response.object)[0]
				fields = object.fields
				current_arlo = fields
				pvta_menor = mostrar_modal_lista_precios(true)

				setValueFieldArlo()
			}else{
				current_arlo = null
				$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 5,'field': "cbarras",'value': input_value}),function(response){
					if(response.object){
						var object = JSON.parse(response.object)[0]
						fields = object.fields
						current_arlo = fields
						pvta_menor = mostrar_modal_lista_precios(true)
					}else{
						$('#id_carlos').val("")
						tooltipBootstrap($('#id_carlos'),".input-group","Este Articulo no se encuentra registrado.")
						current_arlo = null
					}
					setValueFieldArlo()
				})
			}
		})
	});

	$('#id_citerce').change(function(){
		/*
			Eschuca el cambio en el cambio #id_citerce
			Al cambiar el #id_citerce realiza una peticion a url'api-get-object' para buscar al tercero con ese id. Esta retorna el objeto de la DB en json y se asigna a current_tercero
			Se ejecuta la funcion 'setValueFieldTerce' para enviar valores al campo '[name=name__citerce]' del nombre del tercero
			Si no se encuentra ningun tercero se muestra un mensaje
		*/
		var input_value = this.value
		current_tercero = null

		if(!input_value){
			setValueFieldTerce()
			return
		}
		loading_animation("Cargando Datos")
		$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 29,'field': this.name,'value': this.value}),function(response){
			$(".animation").empty()
			if(response.object){
				var object = JSON.parse(response.object)[0]
				fields = object.fields
				current_tercero = fields
			}else{
				current_tercero = null
				tooltipBootstrap($('#id_citerce'),".form-group","Esta Idendificación no se encuentra registrada.")
			}
			setValueFieldTerce()
		})
	});

	/*Falta por Documentar */

	$("#form_medios_pago").submit(function (event){
		event.preventDefault()
		var nuevo_valor_medios_pagos = parseFloat($("#form_medios_pago").find("[name=vmpago]").val())
    console.log(nuevo_valor_medios_pagos <= 0)
		if(nuevo_valor_medios_pagos <= 0){
			alert("El Valor a pagar no puede ser menor o igual a Cero")
			return
		}

		var total_meidos_pagos_existentes = 0
		$("#list_medios_pago tbody tr").toArray().forEach(function(e,i,a){
			var vtemp = parseFloat($(e).find("[data-name=vmpago]").data("value"))
			total_meidos_pagos_existentes += vtemp
		})
		var t_temp = nuevo_valor_medios_pagos + total_meidos_pagos_existentes
		if( t_temp > parseFloat($("[name=vttotal]").val()) ){
			alert("El Valor a Pagar no puede ser mayor al Valor Total")
			return
		}

		if(customValidationInput("#item_medio_pago").valid){
			var tr = $("<tr>")
			$("#item_medio_pago")
			.find("input,select")
			.toArray()
			.forEach(function(e,i){
				var oth = $(e).closest("th")

				var value = e.value
				var data_value = e.value

				if(eval($(e).data("if-currency"))){
					var value = currencyFormat.format(e.value)
				}
				if(e instanceof HTMLSelectElement){
					var value = $(e).find("option[value=" + e.value + "]").html()
				}
				if(e.name == 'vmpago'){
					value = parseFloat(e.value).format(2)
				}
				tr.append($("<td>",{
					"data-name":e.name,
					"data-value":data_value,
					html:value}))
			})
			td = $("<td>")
			var btnEdit = td.append($("<span class='btn btn-info' id='edit-item-medios-pagos' style='margin-right: 3px;'><i class='fa fa-edit'></span>"))
			var btnDelete = td.append($("<span class='btn btn-danger' id='delete-item-fac'><i class='fa fa-remove'></span>"))
			tr.append(btnEdit,btnDelete)
			$("#list_medios_pago").find("tbody").append(tr)

			$("#item_medio_pago").find("input,select").val("")
			$("#item_medio_pago").find("[name=canti]").val(1)
			var it = 1
			$("#list_medios_pago").find("[data-name=it]").toArray().forEach(
				function(e){
					$(e).html(it);
					$(e).attr("data-value",it);
					it++
				})
			calcular_total()
		}
	})

	//function edit_item_meidos_pagos(){
	$(document).on('click', '#edit-item-medios-pagos', function(){
		var target = $(this)
		parent = target.closest("tr")
		parent.find("[data-name]").each(function(i,e){

			var td = $(e)

			var input = $("#item_medio_pago").find("[name = " + td.data("name") + "]")
			input.val(td.data("value")).change()
		})
		parent.remove()
	})

	//function edit_item_mdeta(){
	$(document).on('click', '#edit-item-fac', function(){
		var target = $(this)
		parent = target.closest("tr")
		parent.find("[data-name]").each(function(i,e){

			var td = $(e)

			var input = $("#item_mdeta").find("[name = " + td.data("name") + "]")
			input.val(td.data("value"))
			/*No lanzar el evento trigger sobre 'input', pues este vuelve a ejecutar esta funcion*/
			if(input.attr("name") != "carlos"){
				input.change()
			}
			if(input.attr("name") == "civa"){
				$("#id_civa").children("option[text='" + td.data("value") + "']").attr("selected", true);
			}
		})
		parent.remove()
	});

	$(document).on('click', '#delete-item-fac', function(){
	//function delete_item_mdeta(){

		$(this).closest("tr").remove()
		calcular_total()
	});

	$("#form_deta_movement").submit(function(event){
		event.preventDefault()

		var number_items_billing = $("#list_items_mdeta tbody tr").length

		if(number_items_billing >= data_validation.maximum_number_items_billing){
			return alert("EL numero Maximo de items por factura para este usuario segunel talonario ya se ha superado")
		}
		if(customValidationInput("#item_mdeta").valid){
			var tr = $("<tr>")
			$('#item_mdeta')
			.find("input,select")
			.toArray()
			.forEach(function(e,i){
				var oth = $(e).closest("th")

				var value = e.value
				var data_value = e.value

				if(eval($(e).data("if-currency"))){
					var value = currencyFormat.format(e.value)
				}

				if(e instanceof HTMLSelectElement){
					var value = $(e).find("option[value=" + e.value + "]").html()
				}
				if(e.name == 'vunita' || e.name == 'vtotal'){
					value = parseFloat(e.value).format(2)
				}
				tr.append($("<td>",{
					"data-name":e.name,
					"data-value":data_value,
					html:value}))
			})
			td = $("<td width='10%'>")
			var btnEdit = td.append($("<span class='btn btn-info' id='edit-item-fac' style='margin-right: 3px;'><i class='fa fa-edit'></span>"))
			var btnDelete = td.append($("<span class='btn btn-danger' id='delete-item-fac'><i class='fa fa-remove'></span>"))
			tr.append(btnEdit,btnDelete)
			$("#list_items_mdeta").find("tbody").append(tr)

			$('#item_mdeta').find("input,select").val("")
			$('#item_mdeta').find("[name=canti]").val(1)
			$('#item_mdeta').find("[name=pordes]").val(0)
			/*
			$("#list_items_mdeta").find("[data-name=itfac]").toArray().forEach(
				function(e){
					$(e).html(it);
					$(e).attr("data-value",it);
				})
			*/
			it++
			calcular_total()
			var totales = calcular_vtbase_vtiva()
			$('#id_itfac').val(it)
			$("[name=vtiva]").val(Math.round(totales.vtiva))
			$("[name=vtbase]").val(Math.round(totales.vtbase))

			$("#id_carlos").focus()
		}
	})
	console.log('{{url}}')
	$("#btn-save").click(function(event){

		event.preventDefault()

		if(!customValidationInput("#form_movement").valid) return
		if(!customValidationInput("#form_totales").valid) return

		var currentForm = $("#form_movement")

		var querystring = $("form:not(#form_deta_movement)").serialize();
		var data = JSON.parse('{"' + decodeURI(querystring).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')

		data.descri = data.descri.replace(/\+/g," ")

		var array_mvdeta = get_data_list("#list_items_mdeta")
		var array_medios_pagos = get_data_list("#list_medios_pago")

		var tot_medios_pagos = 0
		array_medios_pagos.forEach(function(e){tot_medios_pagos+=e.vmpago})

		if($("[name=ctifopa]").val() == data_validation.formas_pago.FORMA_PAGO_CONTADO){
			if(tot_medios_pagos < parseFloat($("[name=vttotal]").val())){
				if(confirm("La factura actual es de tipo CONTADO, y el valor que pago es menor al total. ¿Dese cambiarla a CREDITO?")){
					$("[name=ctifopa]").val(data_validation.formas_pago.FORMA_PAGO_CREDITO)
				}else{
					alert("El valor de pago no puede ser menor al valor total")
					return
				}
			}
		}

		if(array_medios_pagos.length){
			data.medios_pagos = array_medios_pagos
		}else{
			if($("[name=ctifopa]").val() != data_validation.formas_pago.FORMA_PAGO_CONTADO){
				data.medios_pagos = []
			}else{
				var message = alertBootstrap("No ha ingresado Medio de Pago","warning")
				currentForm.prepend(message)
				return
			}
		}
		if(array_mvdeta.length){
			data.mvdeta = array_mvdeta
		}else{
			var message = alertBootstrap("No ha ingresado Ningun Articulo","warning")
			currentForm.prepend(message)
			return
		}
		loading_animation("Guardando Movimiento.")
		$.ajax({
			url: '{{url}}',
			type: 'POST',
			data: JSON.stringify(data),
			contentType: "application/json",
			error: function(response){
				var message = alertBootstrap("Ha ocurrido un error en el proceso.","danger")
				currentForm.prepend(message)
				$(".animation").empty()
			},
			success: function(response){
				if(response.error){
					var message = alertBootstrap(response.message,"danger")
				}else{
					if(mode_view != "edit"){
						$("[name*=cmv]").val(response.cmv)
					}
					var message = alertBootstrap(response.message,"success")
				}
				if(mode_view != "edit"){
					$("#list_items_mdeta").find("tbody").children().remove()
				}
				currentForm.prepend(message)
				if(confirm("Desea Imprimir La Factura")){
					print_bill(response.cfac)
				}

				$("form").trigger("reset")
				$('.date').each(function(i,e){$(e).data("DateTimePicker").date(date_appen)})

				$(".animation").empty()
			}
		});
		$("#medios_pago").modal("hide")
	})

	/*Para metros de validacion para la facturacion*/
	var data_validation = {{data_validation_json|safe}}

	{% if mvdeta_json %}
		var js_list = {{mvdeta_json|safe}}
	{% else %}
		var js_list = []
	{% endif %}

	valores_iva = {
		1:0,
		2:8,
		3:10,
		4:16,
		5:0,
	}

	js_list.forEach(function(object){
		$('#item_mdeta').find("#id_carlos").val(object.fields.carlos)
		$('#item_mdeta').find("#name__carlos").val(object.fields.nlargo)
		$('#item_mdeta').find("#id_canti").val(object.fields.canti)
		$('#item_mdeta').find("#id_vunita").val(object.fields.vunita)
		$('#item_mdeta').find("#id_vtotal").val(object.fields.vtotal)
		$('#form_deta_movement').submit()
		$('#form_deta_movement').trigger("reset")
		calcular_total()
	})

	/* Da formato de fecha a los campos con la clase .date - Libreria*/
	$('.date').datetimepicker({
		format: 'YYYY-MM-D',
		defaultDate:date_appen
	});


	/* Reinicia el formulario de medios de pagos al cerra la ventana modal del mismo*/
	$('#medios_pago').on('hidden.bs.modal', function () {$("#form_medios_pago").trigger("reset")})

	/* Ejecuta el evento change del campo de seleccion del tercero*/
	$('#id_citerce').change()

</script>
{% endblock content_script %}
