{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Facturas</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form_movement">
				<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>
							<div class="box-body">
								<div class="col-md-2 nopadding">
									<img src="{% static 'img/empresa.png' %}" alt="">
								</div>

								<div class="col-md-5 nopadding">

									<div class="form-group col-md-12">
										<label for="{{form.citerce.id_for_label}}" class="col-sm-2 control-label">{{form.citerce.label}}</label>
										{%if form.citerce.errors%}
										{{form.citerce.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												<input type="number" value="{{form.citerce.field.widget.attrs.value}}" name="{{form.citerce.name}}" id="{{form.citerce.id_for_label}}" class="{{form.citerce.field.widget.attrs.class}}" {% if form.citerce.field.required %}required{% endif %}>
												<span class="input-group-addon"><a data-new-window href="{% url 'add-third-party' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
												<span class="input-group-addon"><a data-new-window href="{% url 'list-third-parties' %}" target="_blank"><i class="fa fa-search"></i></a></span>
											</div>
										</div>
										<div class="col-sm-12">
											<input type="text" name="name__{{form.citerce.name}}" id="name__{{form.citerce.name}}" class="form-control" readonly>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cvende.id_for_label}}" class="col-sm-2 control-label">{{form.cvende.label}}</label>
										{%if form.cvende.errors%}
										{{form.cvende.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.cvende}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cdomici.id_for_label}}" class="col-sm-2 control-label">{{form.cdomici.label}}</label>
										{%if form.cdomici.errors%}
										{{form.cdomici.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.cdomici}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.ctifopa.id_for_label}}" class="col-sm-2 control-label">{{form.ctifopa.label}}</label>
										{%if form.ctifopa.errors%}
										{{form.ctifopa.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.ctifopa}}
										</div>
									</div>
								</div>

								<div class="col-md-5 nopadding">
									<div class="form-group col-md-12">
										<label for="{{form.femi.id_for_label}}" class="col-sm-2 control-label">{{form.femi.label}}</label>
										{%if form.femi.errors%}
										{{form.femi.errors}}
										{%endif%}
										<div class="col-sm-10">
											<input type="text" value="{{form.femi.field.widget.attrs.value}}" name="{{form.femi.name}}" id="{{form.femi.id_for_label}}" class="{{form.femi.field.widget.attrs.class}}" {% if form.femi.field.required %}required{% endif %}>
										</div>
									</div>
									<div class="form-group col-md-12">
										<label for="{{form.fpago.id_for_label}}" class="col-sm-2 control-label">{{form.fpago.label}}</label>
										{%if form.fpago.errors%}
										{{form.fpago.errors}}
										{%endif%}
										<div class="col-sm-10">
											<input type="text" value="{{form.fpago.field.widget.attrs.value}}" name="{{form.fpago.name}}" id="{{form.fpago.id_for_label}}" class="{{form.fpago.field.widget.attrs.class}}" {% if form.fpago.field.required %}required{% endif %}>
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.cemdor.id_for_label}}" class="col-sm-2 control-label">{{form.cemdor.label}}</label>
										{%if form.cemdor.errors%}
										{{form.cemdor.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.cemdor}}
										</div>
									</div>

									<div class="form-group col-md-12">
										<label for="{{form.ccaja.id_for_label}}" class="col-sm-2 control-label">{{form.ccaja.label}}</label>
										{%if form.ccaja.errors%}
										{{form.ccaja.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.ccaja}}
										</div>
									</div>
									<div class="form-group col-md-12">
										<label for="{{form.cesdo.id_for_label}}" class="col-sm-2 control-label">{{form.cesdo.label}}</label>
										{%if form.cesdo.errors%}
										{{form.cesdo.errors}}
										{%endif%}
										<div class="col-sm-10">
											{{form.cesdo}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<form class="form-horizontal" id="form_deta_movement">

				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Detalle</h3>
							</div>
							<div class="box-body">

								<section class="col-md-12" id="form_temp_mvendeta">
								</section>

								<section role="form" id="item_mdeta">
									<table class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th width="3%">It</th>
												<th width="20%">Cod Articulo</th>
												<th width="20%">Articulo</th>
												<th width="10%">Cantidad</th>
												<th width="10%">Descuento</th>
												<th width="10%">IVA</th>
												<th width="10%">V unitario</th>
												<th width="5%"></th>
												<th width="5%"></th>
											</tr>
											<tr>
												<th width="3%">
													<input type="hidden" name="{{ form_movement_detail.itfac.name }}" id="{{ form_movement_detail.itfac.id_for_label}}" >
												</th>
												<th width="20%">
													<div class="input-group">
														<input type="number" name="{{form_movement_detail.carlos.name}}" id="{{form_movement_detail.carlos.id_for_label}}" class="{{form_movement_detail.carlos.field.widget.attrs.class}}" required>
														<span class="input-group-addon"><a data-new-window href="{% url 'list-articles' %}" target="_blank"><i class="fa fa-search"></i></a></span>
													</div>
												</th>
												<th width="20%">
													<input type="text" name="name__{{form_movement_detail.carlos.name}}" id="name__{{form_movement_detail.carlos.name}}" class="form-control" readonly>
												</th>
												<th width="10%">{{ form_movement_detail.canti }}</th>
												<th width="10%">{{ form_movement_detail.pordes }}</th>
												<th width="10%">{{ form_movement_detail.civa }}</th>
												<th width="10%">{{ form_movement_detail.vunita }}</th>
												<th width="5%">
													<button type="submit" class="btn btn-success">
														<i class="fa fa-plus-square"></i>
													</button>
												</th>
												<th width="5%">
													<button class="btn btn-info" type="button" onclick="mostrar_modal_lista_precios(false)">
														<i class="fa fa-list-alt"></i>
													</button>
												</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</section>

								<section role="form" id="list_items_mdeta">
									<table class="table table-striped dataTable no-footer text-center" cellspacing="0" width="100%">
										<tbody>
										</tbody>
									</table>
								</section>

							</div>
						</div>
					</div>
				</div>
			</form>

			<form role="form" id="form_totales">
				<div class="row">
					<div class="col-md-7">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Totales</h3>
							</div>
							<div class="box-body">
								<div class="row col-md-6">
									<div class="form-group">
										<label for="{{form.vtbase.id_for_label}}" class="">{{form.vtbase.label}}</label>
										{{form.vtbase}}
									</div>
									<div class="form-group">
										<label for="{{form.vtiva.id_for_label}}">{{form.vtiva.label}}</label>
										{{form.vtiva}}
									</div>

								</div>

								<div class="row col-md-6">
									<div class="form-group">
										<label for="{{form.vflete.id_for_label}}" class="">{{form.vflete.label}}</label>
										{{form.vflete}}
									</div>
									<div class="form-group">
										<label for="{{form.vdescu.id_for_label}}" class="">{{form.vdescu.label}}</label>
										{{form.vdescu}}
									</div>
									<div class="form-group">
										<label for="{{form.vttotal.id_for_label}}" class="">{{form.vttotal.label}}</label>
										{{form.vttotal}}
									</div>
								</div>
								<div class="row">
									<div class="form-group col-md-6">
										<label for="{{form.ventre.id_for_label}}">{{form.ventre.label}}</label>
										{{form.ventre}}
									</div>
									<div class="form-group col-md-6">
										<label for="{{form.vcambio.id_for_label}}">{{form.vcambio.label}}</label>
										{{form.vcambio}}
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Retencion Fuente</h3>
							</div>
							<div class="box-body">
								<div class="form-group">
									<label for="{{form.brtefte.id_for_label}}">{{form.brtefte.label}}</label>
									{{form.brtefte}}
								</div>
								<div class="form-group">
									<label for="{{form.prtefte.id_for_label}}">{{form.prtefte.label}}</label>
									{{form.prtefte}}
								</div>
								<div class="form-group">
									<label for="{{form.vrtefte.id_for_label}}">{{form.vrtefte.label}}</label>
									{{form.vrtefte}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<div class="modal fade" role="dialog" id="lista_precios">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Lista de Precios</h4>
						</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<div class="btn-group">
							<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-close"></i>Volver</button>
						</div>
					</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div class="modal fade" role="dialog" id="medios_pago">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Totalizar</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" id="form_medios_pago">
								<section id="item_medio_pago">
									
									<table class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th width="3%">It</th>
												<th width="20%">Medio de Pago</th>
												<th width="20%">Documento</th>
												<th width="20%">Banco</th>
												<th width="20%">Total</th>
												<th width="10%"></th>
											</tr>
											<tr>
												<th width="10%">
													<input type="hidden" name="{{ form_medios_pagos.it.name }}" id="{{ form_medios_pagos.it.id_for_label}}" >
												</th>
												<!--<th width="10%">{{ form_medios_pagos.cmpago }}</th>-->
												<th width="10%">
													<select required name="{{ form_medios_pagos.cmpago.name }}" id="{{ form_medios_pagos.cmpago.id_for_label}}" class="form-control">
														{% for medio_pago in medios_pago %}
															<option value="{{medio_pago.pk}}" data-ifdoc="{{medio_pago.ifdoc}}">{{medio_pago.nmpago}}</option>
														{% endfor %}
													</select>
												</th>
												<th width="10%">{{ form_medios_pagos.docmpago }}</th>
												<th width="20%">{{ form_medios_pagos.banmpago }}</th>
												<th width="20%">{{ form_medios_pagos.vmpago }}</th>
												<th width="10%"><button type="submit" class="btn btn-success"><i class="fa fa-plus-square"></i></button></th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</section>
								<section role="form" id="list_medios_pago">
									<table class="table table-striped no-footer text-center" cellspacing="0" width="100%">
										<tbody>
										</tbody>
									</table>
								</section>
							</form>
						</div>
						<div class="modal-footer">
							<div class="btn-group">
								<button type="button" class="btn btn-app" data-dismiss="modal"><i class="fa fa-close"></i>Volver</button>
								<button type="button" class="btn btn-app" id="btn-save"><i class="fa fa-save"></i>Guardar</button>
							</div>
						<!--</div>-->
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>

			<div class="text-center">
				<div class="btn-group">
					<button class="btn btn-app btn-info" type="reset">
						<i class="fa fa-plus-square-o"></i>
						Nuevo
					</button>
					<button class="btn btn-app" type="button" onclick="show_modal_totalizar()">
						<i class="fa fa-dollar"></i>
						Totalizar
					</button>

					<a data-new-window class="btn btn-app" href=""><i class="fa fa-list"></i>Listar</a>
				</div>
			</div>

		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script>
	$("#form_medios_pago").submit(function (event){
		event.preventDefault()
		if(customValidationInput("#item_medio_pago").valid){
			var tr = $("<tr>")
			$("#item_medio_pago")
			.find("input,select")
			.toArray()
			.forEach(function(e,i){
				var oth = $(e).closest("th")

				var value = e.value
				var data_value = e.value

				if(eval($(e).data("if-currency"))){
					var value = currencyFormat.format(e.value)
				}
				if(e instanceof HTMLSelectElement){
					var value = $(e).find("option[value=" + e.value + "]").html()
				}

				tr.append($("<td>",{
					width:oth.attr("width"),
					"data-name":e.name,
					"data-value":data_value,
					html:value}))
			})
			td = $("<td width='10%'>")
			var btnEdit = td.append($("<span class='btn btn-info' ><i class='fa fa-edit '></span>").click(edit_item_mdeta))
			var btnDelete = td.append($("<span class='btn btn-danger' ><i class='fa fa-remove'></span>").click(delete_item_mdeta))
			tr.append(btnEdit,btnDelete)
			$("#list_medios_pago").find("tbody").append(tr)
			
			$("#item_medio_pago").find("input,select").val("")
			$("#item_medio_pago").find("[name=canti]").val(1)
			var it = 1
			$("#list_medios_pago").find("[data-name=it]").toArray().forEach(
				function(e){
					$(e).html(it);
					$(e).attr("data-value",it);
					it++
				})
			calcular_total()
		}
	})

	var mode_view = $("#mode_view").val()
	var current_arlo = null
	var current_tercero = null
	var pvta_menor = null

	/* Validaciones */
	$("[name=canti]").change(function(){
		if( parseFloat($(this).val()) > parseFloat(data_validation.maximum_amount_items_billing) ){
			if(!confirm("La factura ha superado la Cantidad Maxima de " + data_validation.maximum_amount_items_billing + ", ¿Desea Continuar?")){
				$(this).val("")
			}
		}
	})

	$("[name=ventre]").change(function(){calcular_valor_cambio()})
	
	$("[name=vflete], [name=vdescu]").change(function(){calcular_total()})

	$("[name=vttotal]").change(function(){
		if( parseFloat($(this).val()) > parseFloat(data_validation.top_sales_invoice) ){
			if(!confirm("La factura ha superado el Valor Total maximo de " + data_validation.top_sales_invoice + ", ¿Desea Continuar?")){
				$(this).val("")
			}
		}
		calcular_valor_cambio()
	})

	$("#form_deta_movement [name=pordes]").change(function(){
		if( parseFloat($(this).val()) > parseFloat(data_validation.top_discount_bills) ){
			$(this).val("")
			alert("El Tope de Descuento es " + data_validation.top_discount_bills)
		}
		calcular_valor_unitario()
	})

	$("#form_deta_movement [name=vunita]").change(function(){
		//min_precio_venta = 900
		if( parseFloat($(this).val()) < parseFloat(pvta_menor) ){
			if(!confirm("El precio Unitario es menor al precio de Venta, ¿Desea Continuar?")){
				$(this).val("").focus()
			}
		}
	})

	$("#item_medio_pago [name=cmpago]").change(function(e){
		var option = $(this).find("option[value=" + $(this).val() + "]")
		console.info(option)
		var ifdoc = eval(option.data("ifdoc").toLowerCase())
		console.info(ifdoc)
		if(ifdoc){
			$("[name=docmpago],[name=banmpago]")
				.prop("disabled",false)
				.prop("required",true)
				.val("")
		}else{
			$("[name=docmpago]")
				.prop("disabled",true)
				.prop("required",false)
				.val("0")
			$("[name=banmpago]")
				.prop("disabled",true)
				.prop("required",false)
				.val(data_validation.medios_pago.DEFAULT_BANCO)
		}
	})
	/* Validaciones */

	/* Totalizar */
	$(window).keydown(function(event) {
		if(event.altKey && event.keyCode == 84) {
			event.preventDefault(); 
			show_modal_totalizar()
		}
	})
	/* Totalizar */

	$("[name=brtefte], [name=prtefte]").change(function(event){
		var brtefte = parseFloat($("[name=brtefte]").val())
		var prtefte = parseFloat($("[name=prtefte]").val())

		var vrtefte = brtefte - (brtefte*(prtefte/100))
		$("[name=vrtefte]").val(vrtefte)
	}) 

	function calcular_valor_cambio(){
		if(parseFloat($("[name=ventre]").val()) && parseFloat($("[name=vttotal]").val())){
			if(parseFloat($("[name=ventre]").val()) >= parseFloat($("[name=vttotal]").val())){
				var v_cambio = parseFloat($("[name=ventre]").val()) - parseFloat($("[name=vttotal]").val())
			}else{
				var v_cambio = ""
				$("form").prepend(alertBootstrap("El valor Entrado es menor al Total","info"))
			}
			$("[name=vcambio]").val(v_cambio)
		}
	}

	function show_modal_totalizar(){
		var array_mvdeta = get_data_list("#list_items_mdeta")
		//Descomentar if(!array_mvdeta.length) return $("form").append(alertBootstrap("No ha ingresado Ningun Articulo","warning"))

		if($("[name=ctifopa]").val() == data_validation.formas_pago.FORMA_PAGO_CONTADO){
			$("#item_medio_pago [name=cmpago]").val(1)
			$("#item_medio_pago [name=vmpago]").val($("[name=vttotal]").val())
		}else{
			$("#list_medios_pago table tbody tr").remove()
		}
		//$("#form_medios_pago").submit()
		$("#medios_pago").modal("show")
	}

	function edit_item_mdeta(){
		var target = $(this)
		parent = target.closest("tr")
		parent.find("[data-name]").each(function(i,e){

			var td = $(e)

			var input = $("#item_mdeta").find("[name = " + td.data("name") + "]")
			input.val(td.data("value"))
		})
		parent.remove()
	}

	function delete_item_mdeta(){
		$(this).closest("tr").remove()
		calcular_total()
	}

	function calcular_valor_unitario(){
		name_list_price = "pvta" + current_tercero.clipre
		var price_venta = parseFloat(current_arlo[name_list_price])
		var descuento = parseFloat($("#form_deta_movement [name=pordes]").val())

		var vunita = price_venta - (price_venta*(descuento/100))
		$("#form_deta_movement [name=vunita]").val(vunita).trigger("change")
	}

	/*function calcular_total(){
		var vttotal_items = 0
		$("#list_items_mdeta tbody tr")
			.toArray()
			.forEach(function(e){
				var temp_vunita = parseFloat($(e).find("[data-name=vunita]").data("value"))
				console.log(temp_vunita)
				var temp_canti = parseFloat($(e).find("[data-name=canti]").data("value"))
				console.log(temp_canti)
				var vtotal_temp = temp_vunita * temp_canti
				vttotal_items += vtotal_temp
			}
		)
		$("[name=vttotal]").val(vttotal_items)
		$("[data-mask=id_vttotal__mask]").val(currencyFormat.format(vttotal_items))
	}*/
	function calcular_total(){
		var vttotal_items = 0
		var vttotal_local = 0
		$("#list_items_mdeta tbody tr")
			.toArray()
			.forEach(function(e){
				var temp_vunita = parseFloat($(e).find("[data-name=vunita]").data("value"))
				console.log(temp_vunita)
				var temp_canti = parseFloat($(e).find("[data-name=canti]").data("value"))
				console.log(temp_canti)
				var vtotal_temp = temp_vunita * temp_canti
				vttotal_items += vtotal_temp
			}
		)
		var vflete = parseFloat($("[name=vflete]").val())
		var porcentaje_descuento = parseFloat($("[name=vdescu]").val())

		vttotal_local_sin_descuento = vflete + vttotal_items
		vttotal_local = vttotal_local_sin_descuento - ( vttotal_local_sin_descuento * ( porcentaje_descuento / 100 ) )

		$("[name=vttotal]").val(vttotal_local).trigger("change")
		$("[data-mask=id_vttotal__mask]").val(currencyFormat.format(vttotal_local))
	}

	function get_data_list(selector_list){
		return 	$(selector_list).find("tr").toArray().map(
			function(e){
				var data = {}
				$(e).children("[data-name]").toArray().forEach(
					function(e2){
						data[$(e2).data("name")] = $(e2).data("value")
					}
				)
				return data
			}
		)
	}

	function setValueFieldTerce(){
		if(current_tercero){
			id_citerce = current_tercero.idterce
			name__citerce = current_tercero.rasocial
		}else{
			id_citerce = ""
			name__citerce = ""
		}
		$('#id_citerce').val(id_citerce)
		$("[name=name__citerce]").val(name__citerce)
	}

	function setValueFieldArlo(){
		$("[name=name__carlos]").prop("readonly",true)
		if(current_arlo){
			var name__carlos = current_arlo.nlargo
			var ivas_civa = current_arlo.ivas_civa
			if(current_arlo.ifedinom) $("[name=name__carlos]").prop("readonly",false)
		}else{
			console.log("hola")
			var name__carlos = ""
			var ivas_civa = ""
			$("[name=vunita]").val("")
		}
		$("[name=name__carlos]").val(name__carlos)
		$("[name=civa]").val(ivas_civa)

		calcular_valor_unitario()
	}

	function calcular_vtbase_vtiva(){
		var vtbase = 0
		var vtiva = 0
		$("#list_items_mdeta tbody tr").toArray().forEach(function (e,i,a){
			var cantidad = parseFloat($(e).find("[data-name=canti]").data("value"))
			var precio = parseFloat($(e).find("[data-name=vunita]").data("value"))
			var porcentaje_descuento = parseFloat($(e).find("[data-name=pordes]").data("value"))

			var codigo_iva = parseFloat($(e).find("[data-name=civa]").data("value"))
			var porcentaje_iva = valores_iva[codigo_iva]

			var precio_total_sin_descuento = cantidad * precio
			var precio_total = precio_total_sin_descuento - ( precio_total_sin_descuento * ( porcentaje_descuento / 100 ) )

			var vbase = precio_total / ( 1 + ( porcentaje_iva / 100 ) )
			var viva = vbase * ( porcentaje_iva / 100 )

			vtbase += vbase
			vtiva += viva
		})
		return {vtbase: vtbase,vtiva: vtiva}
	}

	function mostrar_modal_lista_precios(if_return_mpvta){
		$("#lista_precios .modal-body").empty()
		if(!current_arlo) return alert("Por favor seleccione un articulo.")
		var table = $("<table class='table table table-striped'>")
			for (field in current_arlo){
				regexp = /pvta[0-9]/
				pvta_menor = current_arlo.pvta1
				if(regexp.test(field)){
					if(current_arlo[field] < pvta_menor){
						pvta_menor = current_arlo[field]
					}
					table.append(
						$("<tr>").append(
							$("<td>",{html:field.replace("pvta", 'Precio Venta ')}),
							$("<td>",{html:currencyFormat.format(current_arlo[field])})
						)
					)
				}
			}
			if(if_return_mpvta) return pvta_menor
			$("#lista_precios .modal-body").append(table)
			$("#lista_precios").modal("show")
	}

	/* 
		El orden de las lineas Importa 
		la funcion "setValueFieldArlo" va de ultima.
	*/
	$('#id_carlos').change(function(){
		var input_value = this.value
		if(!input_value){
			current_arlo = null
			setValueFieldArlo()
			return
		}
		$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 5,'field': this.name,'value': input_value}),function(response){
			if(response.object){
				var object = JSON.parse(response.object)[0]
				fields = object.fields
				current_arlo = fields
				pvta_menor = mostrar_modal_lista_precios(true)

				setValueFieldArlo()
			}else{
				current_arlo = null
				$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 5,'field': "cbarras",'value': input_value}),function(response){
					if(response.object){
						var object = JSON.parse(response.object)[0]
						fields = object.fields
						current_arlo = fields
						pvta_menor = mostrar_modal_lista_precios(true)
					}else{
						$('#id_carlos').val("")
						tooltipBootstrap($('#id_carlos'),".input-group","Este Articulo no se encuentra registrado.")
						current_arlo = null
					}
					setValueFieldArlo()
				})
			}
		})
	});

	$('#id_citerce').change(function(){
		var input_value = this.value
		current_tercero = null

		if(!input_value){
			setValueFieldTerce()
			return
		}
		$.post('{% url 'api-get-object' %}',JSON.stringify({'model': 29,'field': this.name,'value': this.value}),function(response){
			if(response.object){
				var object = JSON.parse(response.object)[0]
				fields = object.fields
				current_tercero = fields
			}else{
				current_tercero = null
				tooltipBootstrap($('#id_citerce'),".form-group","Esta Idendificación no se encuentra registrada.")
			}
			setValueFieldTerce()
		})
	});

	$("#form_deta_movement").submit(function(event){
		event.preventDefault()
		if(customValidationInput("#item_mdeta").valid){
			var tr = $("<tr>")
			$('#item_mdeta')
			.find("input,select")
			.toArray()
			.forEach(function(e,i){
				var oth = $(e).closest("th")

				var value = e.value
				var data_value = e.value

				if(eval($(e).data("if-currency"))){
					var value = currencyFormat.format(e.value)
				}

				if(e instanceof HTMLSelectElement){
					var value = $(e).find("option[value=" + e.value + "]").html()
				}

				tr.append($("<td>",{
					width:oth.attr("width"),
					"data-name":e.name,
					"data-value":data_value,
					html:value}))
			})
			td = $("<td width='10%'>")
			var btnEdit = td.append($("<span class='btn btn-info' ><i class='fa fa-edit '></span>").click(edit_item_mdeta))
			var btnDelete = td.append($("<span class='btn btn-danger' ><i class='fa fa-remove'></span>").click(delete_item_mdeta))
			tr.append(btnEdit,btnDelete)
			$("#list_items_mdeta").find("tbody").append(tr)
			
			$('#item_mdeta').find("input,select").val("")
			$('#item_mdeta').find("[name=canti]").val(1)
			var it = 1
			$("#list_items_mdeta").find("[data-name=it]").toArray().forEach(
				function(e){
					$(e).html(it);
					$(e).attr("data-value",it);
					it++
				})
			calcular_total()
			var totales = calcular_vtbase_vtiva()
			$("[name=vtiva]").val(Math.round(totales.vtiva))
			$("[name=vtbase]").val(Math.round(totales.vtbase))
			console.log(totales)

			$("#id_carlos").focus()
		}
	})

	$("#btn-save").click(function(event){
		event.preventDefault()

		if(!customValidationInput("#form_movement").valid) return
		if(!customValidationInput("#form_totales").valid) return

		var currentForm = $("#form_movement")

		var querystring = $("form:not(#form_deta_movement)").serialize();
		var data = JSON.parse('{"' + decodeURI(querystring).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')

		var array_mvdeta = get_data_list("#list_items_mdeta")
		var array_medios_pagos = get_data_list("#list_medios_pago")

		if(array_medios_pagos.length){
			data.medios_pagos = array_medios_pagos
		}else{
			var message = alertBootstrap("No ha ingresado Medio de Pago","warning")
			currentForm.prepend(message)
			return
		}
		if(array_mvdeta.length){
			data.mvdeta = array_mvdeta
		}else{
			var message = alertBootstrap("No ha ingresado Ningun Articulo","warning")
			currentForm.prepend(message)
			return
		}
		loading_animation("Guardando Movimiento.")
		$.ajax({
			url: '{{url}}',
			type: 'POST',
			data: JSON.stringify(data),
			contentType: "application/json",
			error: function(response){
				var message = alertBootstrap("Ha ocurrido un error en el proceso.","danger")
				currentForm.prepend(message)
				$(".animation").empty()
			},
			success: function(response){
				if(response.error){
					var message = alertBootstrap(response.message,"danger")
				}else{
					if(mode_view != "edit"){
						$("[name*=cmv]").val(response.cmv)
					}
					var message = alertBootstrap(response.message,"success")
				}
				if(mode_view != "edit"){
					$("#list_items_mdeta").find("tbody").children().remove()
				}
				currentForm.prepend(message)
				$(".animation").empty()
			}
		});
	})

	var data_validation = {{data_validation_json|safe}}

	{% if mvdeta_json %}
		var js_list = {{mvdeta_json|safe}}
	{% else %}
		var js_list = []
	{% endif %}

	valores_iva = {
		1:0,
		2:8,
		3:10,
		4:16,
		5:0,
	}

	js_list.forEach(function(object){
		$('#item_mdeta').find("#id_carlos").val(object.fields.carlos)
		$('#item_mdeta').find("#name__carlos").val(object.fields.nlargo)
		$('#item_mdeta').find("#id_canti").val(object.fields.canti)
		$('#item_mdeta').find("#id_vunita").val(object.fields.vunita)
		$('#item_mdeta').find("#id_vtotal").val(object.fields.vtotal)
		$('#form_deta_movement').submit()
		$('#form_deta_movement').trigger("reset")
		calcular_total()
	})

	$('.date').datetimepicker({
		format: 'YYYY-MM-D',
		defaultDate:date_appen
	});
	
	$('#id_citerce').change()

</script>
{% endblock content_script %}
