{% extends 'layouts/pdf.html' %}

{% load date_appen %}
{% load humanize %}


{% block head_table %}
	<tr>
		<td style="font-weight: bold; padding-bottom: 10px" align="right" colspan="4">{{factura.cfac}}</td>
	</tr>
	<tr>
		<td width="15%">Fecha:</td>
		<td width="35%">{{factura.femi}}</td>

		<td width="15%">Dirección:</td>
		<td width="35%">{{factura.citerce.dirterce}}</td>
	</tr>
	<tr>
		<td width="15%">Identif.:</td>
		<td width="35%">{{factura.citerce.idterce}}</td>

		<td width="15%">Telefono:</td>
		<td width="35%">{{factura.citerce.telterce}}</td>
	</tr>

	<tr style="border-bottom: .5px black solid">
		<td width="15%">Nombre:</td>
		<td width="35%">{{factura.citerce.rasocial}}</td>

		<td width="15%">Ciudad:</td>
		<td width="35%">{{factura.citerce.ciudad}}</td>
	</tr>
{% endblock head_table %}

{% block content %}
	<section>
		<table>
			<thead>
				<tr>
					<td>Descripción</td>
					<td>Cantidad</td>
					<td>Vr. Unitario</td>
					<td>Total</td>
				</tr>
			</thead>
			<tbody>
				{% for deta in factura_deta %}
					{% if deta %}
						<tr>
							<td>{{ deta.carlos.nlargo }}</td>
							<td>{{ deta.canti }}</td>
							<td>{{ deta.vunita|intcomma }}</td>
							<td>{{ deta.vtotal|intcomma }}</td>
						</tr>
					{% else %}
						<tr>
							<td> - </td>
							<td> - </td>
							<td> - </td>
							<td> - </td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</section>

	<section>
		<div>
			<table>
				<tbody>
					<tr>
						<td>EN LETRAS :{{factura.vttotal_letter.vletras}}</td>
					</tr>
					<tr>
						<td>{{factura.text_bill}}</td>
					</tr>
					<tr>
						<td style="border-top: .5px black solid" >Nombre</td>
						<td style="border-top: .5px black solid" >C.C.</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<table>
				<tbody>
					<tr style="border-top: .5px black solid">
						<td>SubTotal : </td>
						<td></td>
						<td>{{factura.vttotal|intcomma}}</td>
					</tr>
					<tr>
						<td>Rte </td>
						<td>{{factura.prtefte}}%</td>
						<td>{{factura.brtefte|intcomma}}</td>
					</tr>
					<tr style="border-bottom: .5px black solid">
						<td>Total : </td>
						<td></td>
						<td>{{factura.vttotal|intcomma}}</td>
					</tr>
					<tr>
						<td>Abono : </td>
						<td></td>
						<td>{{factura.vttotal|intcomma}}</td>
					</tr>
					<tr style="border-bottom: .5px black solid">
						<td>Saldo : </td>
						<td></td>
						<td>{{factura.vttotal|intcomma}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
{% endblock content %}
