{% extends 'layouts/base.html' %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1></h1>
		</section>
		<section class="content">
			<table class="table">
				<thead>
					<tr>
						<th> Talonario </th>
						<th> Caja </th>
						<th> Disponibles </th>
						<th> Rango </th>
						<th> Min Fac </th>
						<th> Max Fac </th>
					</tr>
				</thead>
				<tbody>
					{% for talonario in alerts.facturas.talonarios %}
						<tr>
							<td> {{ talonario.prefijo }} </td>
							<td> {{ talonario.ccaja.ncaja }} </td>
							<td class="bg-primary"> {{ talonario.disponible }} </td>
							<td> {{ talonario.conse_ini }} - {{ talonario.conse_fin }} </td>
							<td> {{ talonario.mincfac }} </td>
							<td> {{ talonario.maxcfac }} </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}
