{%extends 'layouts/base.html'%}
{% load static from staticfiles %}
{% block content_head %}
{% endblock content_head %}
{% load humanize %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Comandas</h3>
				</div>
				<div class="box-body">
					<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>ccoda</th>
								<th>fcoda</th>
								<th>cmesa</th>
								<th>cesdo</th>
								<th>cmero</th>
								<th>cresupedi</th>
								<th data-cell-action="edit">Editar</th>
								<th data-cell-action="select" class="hidden">Seleccionar</th>
							</tr>
						</thead>
						<tbody>
							{% for comanda in object_list %}
								<tr>
									<td>{{ comanda.ccoda }}</td>
									<td>{{ comanda.fcoda }}</td>
									<td>{{ comanda.cmesa }}</td>
									<td>{{ comanda.cesdo }}</td>
									<td>{{ comanda.cmero }}</td>
									<td>{{ comanda.cresupedi }}</td>
									<td data-cell-action="edit"><a data-link-edit href="#" target="_blank">Editar</a></td>
									<td data-cell-action="select" class="hidden"><button class="btn btn-primary" data-object-search="{{ comanda.ccoda }}">Seleccionar</button></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script>
		windowSearch("[name=ccoda]")
		$(document).ready(function() {
			$('#example').DataTable({"language": languageDataTable});
		});
	</script>
{% endblock %}
