
{%extends 'layouts/base.html'%}
{% load static %}
{% load humanize %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<style>
		.mesa{
			cursor: pointer;
		}
		.mesa.activa{
			background-color: #00a65a;
			border-color: #008d4c;
		}
		.modal-body{
			max-height: 400px;
			overflow: auto;
		}
	</style>
{% endblock content_head %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}

	<!-- Modal Resumen de Pedido -->
	<div class="modal fade" id="modal_accion_resumen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel1">Resumen de Pedido <span class="label_nmesa_modal"></span></h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p> Mesa : <span id="label_nmesa"></span></p>
					<p> Mesero : <span id="label_nmero"></span></p>
					<p> Fecha : <span id="label_fecha"></span></p>
				</div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-app btn-primary" onclick="imprimir_resumen_pedido()">Imprimir</button>-->
					<button type="button" class="btn btn-app btn-primary" onclick="mostrar_resumen_pedido(this,event)">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Facturar Pedido -->
	<div class="modal fade" id="modal_accion_facturar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel2">Facturar de Pedido <span class="label_nmesa_modal"></span></h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-app btn-primary" onclick="facturar_pedido(this,event)">Guarda</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Anular Comandas -->
	<div class="modal fade" id="modal_accion_anular" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel3">Anular <span class="label_nmesa_modal"></span></h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-app btn-primary" onclick="anular_comanda(this,event)">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Formas de Pago -->
	<div class="modal fade" id="modal_formas_pago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel4" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel4">Formas de Pago </span></h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="form_medios_pago">
						<section id="item_medio_pago">
							<table class="table table-striped no-footer" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>It</th>
										<th>Medio de Pago</th>
										<th>Documento</th>
										<th>Banco</th>
										<th>Total</th>
										<th></th>
									</tr>
									<tr>
										<th>
											<input type="hidden" name="{{ form_medios_pagos.it.name }}" id="{{ form_medios_pagos.it.id_for_label}}" >
										</th>
										<th>{{ form_medios_pagos.cmpago }}</th>
										<th>{{ form_medios_pagos.docmpago }}</th>
										<th>{{ form_medios_pagos.banmpago }}</th>
										<th>{{ form_medios_pagos.vmpago }}</th>
										<th><button type="submit" title="Agregar Forma de Pago" class="btn btn-success"><i class="fa fa-plus-square"></i></button></th>
									</tr>
								</thead>
							</table>
						</section>
						<section role="form" id="list_medios_pago">
							<table class="table table-striped no-footer text-center" cellspacing="0">
								<thead>
									<tr>
										<th>It</th>
										<th>Medio de Pago</th>
										<th>Documento</th>
										<th>Banco</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
						</section>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-app btn-primary" onclick="resumen_pedido(this,event)">Pagar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Seleccionar Accion de Mesa -->
	<div class="modal fade" id="modal_accion_mesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="exampleModalLabel">Accion <span class="label_nmesa_modal"></span></h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<label for="modal_input_action" class="col-sm-2 control-label"> Accion </label>
							<div class="col-sm-10">
								<select id="modal_input_action" class="form-control" required="">
									<option value="R"> Pedido Actual </option>
									<option value="PA"> Pedidos Anteriores </option>
									<option value="F"> Facturar </option>
									<option value="A"> Anular Comanda </option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-app btn-primary" onclick="realizar_accion(this,event)">Agregar</button>
					<input type="hidden" id="modal_input_mesa_activa" value="">
				</div>
			</div>
		</div>
	</div>

	<!-- Contenido Pagina -->
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content">
			<div class="panel">
				<h2>Mesas</h2>
				{% for mesa in mesas %}
					<div class="well col-md-2 col-sm-2 col-xs-3 text-center mesa {% if mesa.comandas %}activa{% endif %}" onclick="accion_mesa(this,event)" data-cmesa="{{mesa.cmesa}}">
						<p><h4>{{mesa.nmesa}}</h4></p>
						<p> <span id="menu_vtotal">$ {{ mesa.vttotal }}</span>  </p>
						<p> <b> <span id="mesa_mesero">{% if mesa.mesero %} {{ mesa.mesero.nmero }} {% else %} - {% endif %}</span> </b> </p>
					</div>
				{% endfor %}

			</div>
		</section>
	</div>

	{%include 'elements/footer.html'%}
{%endblock%}

{% block content_script %}
	<script>
		var cmesa_activa = null
		function accion_mesa(div,event){
			cmesa_activa = $(div).data("cmesa")
			$("#modal_input_mesa_activa").val(cmesa_activa)
			$("#modal_accion_mesa").modal("show")
		}
		function realizar_accion(div,event){
			Models.objects.findOne("Mesas",{cmesa : cmesa_activa},function(error,mesa){
				if( $("#modal_input_action").val() == "R" ) abrir_modal_resumen_pedido(mesa)
				if( $("#modal_input_action").val() == "F" ) abrir_modal_facturar_pedido(mesa)
				if( $("#modal_input_action").val() == "A" ) abrir_modal_anular_comanda(mesa)
				$("#modal_accion_mesa").modal("hide")
			})
		}

		$('#modal_accion_mesa,#modal_accion_resumen,#modal_accion_facturar,#modal_accion_anular').on('hidden.bs.modal', function () {
			cmesa_activa = null
		})
		$('#modal_accion_resumen,#modal_accion_facturar,#modal_accion_anular,#modal_formas_pago').on('shown.bs.modal', function() {
			cmesa_activa = parseInt($("#modal_input_mesa_activa").val())
		})

		function abrir_modal_resumen_pedido(mesa){
			$("#modal_accion_resumen").find(".label_nmesa_modal").html(mesa.fields.nmesa)
			$("#modal_accion_resumen").find(".modal-body").empty()
			$("#modal_accion_resumen").find("#label_nmesa").html(mesa.fields.nmesa)
			$("#modal_accion_resumen").find("#label_nmero").html()
			$("#modal_accion_resumen").find("#label_fecha").html()


			Models.objects.find("Coda",{cmesa : cmesa_activa, cresupedi:"__NULL__"},function(error,comandas){
				if ( comandas ) {
					$("#modal_accion_resumen").modal("show")
					var div = $("<div></div>")
					var table = $("<table class='table table-striped'><thead><tr><th>Comanda</th><th>Menu</th><th>Cantidad</th><th>Vr. Unitario</th></tr></thead></table>")
					comandas.forEach(function(comanda){
						Models.objects.find("Codadeta",{ccoda:comanda.pk},function(error,detalles){
							detalles.forEach(function(detalle){
								var template_text = "__nmenu__ \t __canti__ \t __vunita__"
								var template_tr = "<tr><td>__ccoda__</td><td>__nmenu__</td><td>__canti__</td><td>__vunita__</td></tr>"
								table.append(
									$(template_tr.replace("__nmenu__",detalle.fields.cmenu.nmenu).replace("__canti__",detalle.fields.canti).replace("__vunita__",detalle.fields.vunita).replace("__ccoda__","Comanda #" + comanda.fields.ccoda) )
								)
							})
						})
					})
					div.append(table)
					$("#modal_accion_resumen").find(".modal-body").append(div)
				}else{
					alertBootstrap("Esta Mesa no tiene Comandas Actuales","info",".content")
				}

			})

		}
		function abrir_modal_facturar_pedido(mesa){
			$("#modal_accion_facturar").find(".label_nmesa_modal").html(mesa.fields.nmesa)
			$("#modal_accion_facturar").modal("show")
		}
		function abrir_modal_anular_comanda(mesa){
			$("#modal_accion_anular").find(".label_nmesa_modal").html(mesa.fields.nmesa)
			$("#modal_accion_anular").modal("show")
		}

		function imprimir_resumen_pedido(cresupedi){
			var url = "/orders/print?cresupedi=_cresupedi_".set("_cresupedi_",cresupedi)
			console.log(url)
			win = window.open(url)
		}

		function mostrar_resumen_pedido(){
			$("#modal_accion_resumen").modal("hide")
			$("#modal_formas_pago").modal("show")
		}
		function resumen_pedido(){
			$("#modal_formas_pago").modal("hide")
			$.ajax({
				url : "/orders/summary/save/",
				type : "POST",
				data : JSON.stringify( { cmesa : cmesa_activa } ),
				success : function ( response ){
					$("[data-cmesa="+cmesa_activa+"]").removeClass("activa")
					$("[data-cmesa="+cmesa_activa+"]").find("#menu_vtotal").html("$ 0")
					$("[data-cmesa="+cmesa_activa+"]").find("#mesa_mesero").html("-")
					$("#modal_accion_resumen").modal("hide")
					alertBootstrap("El Resumen de Pedido se Guardo","success",".content")
					imprimir_resumen_pedido(response.pk)
				}
			})
		}
		function facturar_pedido(){
			$("#modal_accion_facturar").modal("hide")
		}
		function anular_comanda(){
			$("#modal_accion_anular").modal("hide")
		}

	</script>
{%endblock%}
