
{%extends 'layouts/base.html'%}
{% load static from staticfiles %}
{% load humanize %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}
{%block content%}
	{%include 'elements/nav.html'%}
	{# {%include 'elements/sidebar.html'%} #}

	<style>
		.menu{
			padding: 1px;
			margin: 2px;
		}
			.menu .foto{padding: 0;}
			.menu .more{padding: 0;}

		.section-resumen-pedido{
			padding: 0;
		}
			.section-resumen-pedido > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section_comandas{
			padding: 0;
		}
			.section_comandas > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section-mesas{
			padding: 0;
		}
			.section-mesas > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section-menu{
			padding: 0px;
			height: 350px;
		}
			/*.section-menu > div.section{ padding: 10px; height: 350px;}*/
			.section-menu > div.panel{ height: 100%;}
			.section-menu div.section-header{ padding: 0px; height: 60px;}
			.section-menu div.section-content{ padding: 0px; height: 290px;overflow-y: scroll;overflow-x: hidden;}
	</style>

	<div class="modal fade" id="modal_agregar_mesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Agregar Mesa</h5>
					<input type="hidden" id="modal_input_cmenu">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<h3 class="text-center"> Mesa </h3>
							<div class="col-md-12 text-center">
								{% for mesa in mesas %}
									<button class="btn btn-app btn-primary mesa" type="button" data-cmesa="{{mesa.cmesa}}" onclick="agregar_mesa(this,event)">{{mesa.nmesa}}</button>
								{% endfor %}
								<!--<select id="modal_input_cmesa" class="form-control" required="">
									{% for mesa in mesas %}
										<option value="{{ mesa.cmesa }}"> {{ mesa.nmesa }} </option>
									{% endfor %}
								</select>-->
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-app btn-primary" onclick="agregar_mesa(this,event)">Agregar</button>-->
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_detalle_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel0" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel0"><span id="modal_menu_nmenu"></span></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">

						<div class="col-md-12">
							<p>Precio :</p>
						</div>
						<div class="col-md-6">
							<img class="img-responsive" src="" id="modal_menu_foto" alt="">
						</div>
						<div class="col-md-6">
								<h2> Platos </h2>
								<table class="table table-bordered">
									<thead>
										<th>Plato</th>
										<th>Foto</th>
										<th>Vr Unitario</th>
									</thead>
									<tbody></tbody>
								</table>
						</div>
					</div>


				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_editar_cantidad" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel1"> Editar Camtidad<span id="modal_menu_nmenu"></span></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					<div class="input-group">
						<span class="input-group-btn">
							<button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="canti_cmenu">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						</span>
						<input type="text" name="canti_cmenu" id="id_canti_cmenu" class="form-control input-number" value="10" min="1" max="100">
						<span class="input-group-btn">
							<button type="button" class="btn btn-success btn-number" data-type="plus" data-field="canti_cmenu">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>
					</div>
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-app" data-dismiss="modal">
					<span class="fa fa-close"></span>Cerrar
				</button>
				<button type="button" class="btn btn-success btn-app" onclick="enviar_cantidad()">
					<span class="fa fa-save"></span>Guardar
				</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper" style="margin:0;min-height: 921px;">
		<section class="content">
			<div class="row">
				<h2 style="margin-top: 0">Comandas</h2>
				<h4>Comanda Activa : <span class="badge" id="label_ccoda_activa">-</span> </h4>

				<!-- Mesas -->
				<div class="section-mesas col-md-1" style="height: 100%">
					<div class="panel panel-default section">
						<table class="table text-center mesas">
							<thead>
								<tr>
									<th><p class="text-center">Mesas</p></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<button class="btn btn-app btn-primary" type="button" onclick="mostrar_modal_mesa(this,event)">
											<i class="fa fa-plus-square-o"></i>Agregar
										</button>
									</td>
								</tr>
								{% for mesa_activa in mesas_activas %}
									<tr>
										<td>
											<button class="btn btn-app btn-primary mesa" type="button" data-cmesa="{{mesa_activa.cmesa}}" onclick="activar_mesa(this,event)">
												{{mesa_activa.nmesa}}
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- Detalle Comanda -->
				<div class="section-resumen-pedido col-md-4">
					<div class="panel panel-default section">
						<div>
							<div>
								<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Codigo Menu</th>
											<th>Cantidad</th>
											<th>Descripcion</th>
											<th>Precio</th>
										</tr>
									</thead>
									<tbody id="cont-data"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Comandas Mesa -->
				<div class="section_comandas col-md-1">
					<div class="panel panel-default section">
						<table class="table text-center comandas">
							<thead>
								<tr><th><p class="text-center">Comandas</p></th></tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<button class="btn btn-app btn-primary" type="button" onclick="crear_comandas(this,event)">
											<i class="fa fa-plus-square-o"></i>Nueva
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- Menus -->
				<div class="section-menu col-md-6">
					<div class="panel panel-default section">
						<div class="section-header">
							<ul class="nav nav-pills" style="display: block;white-space: nowrap;overflow: auto;">
								{% for grupo in gruposMenu %}
									<li class="{% if forloop.first %}active {% endif %}" style="display: inline-block;float: none"><a data-toggle="pill" href="#tab{{grupo.ngpomenu.split|join:'_'|lower}}">{{grupo.ngpomenu}}</a></li>
								{% endfor %}
							</ul>
						</div>
						<div class="section-content">
							<div class="tab-content">
								{% for grupo in gruposMenu %}
									<div id="tab{{grupo.ngpomenu.split|join:'_'|lower}}" class="tab-pane {% if forloop.first %}active {% endif %}">
										<div class="row">
											<div class="col-md-12">
												<div class="box box-primary">
													<!--<div class="box-header with-border">
														<h3 class="box-title">{{grupo.ngpomenu}}</h3>
													</div>-->
													<div class="box-body">
														<div class="text-center">
															{% for menu in grupo.menus %}
																<div class="text-center col-lg-3 col-md-3 col-sm-2 col-xs-3 well menu" onclick="agregar_a_comanda(this,event)" data-cmenu="{{menu.cmenu}}">
																	<p class="text-center">{{menu.nmenu}}</p>
																	<div class="col-md-6 foto">
																		<img class="img-responsive img-thumbnail" src="{% static menu.foto.url %}" />
																	</div>
																	<div class="col-md-6 more">
																		<p>{{ menu.pvta1 | intcomma }}</p>
																		<div class="btn-group">
																			<button class="btn btn-info" onclick="mostrar_detalle(this,event)">Info..</button>
																		</div>
																	</div>
																</div>
															{% empty %}
																<p>No hay Menus del grupo <b>{{grupo.ngpomenu}}</b> </p>
															{% endfor %}

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
					<div class="col-md-2">
						<p> Mesero: <b>{{ mesero.nmero }} </b> </p>
						<p> Mesa: <b><span id="label_nmesa"> - </span></b> </p>
					</div>
					<div class="col-md-1 text-right">
						<div class="btn-group">
							<button class="btn btn-success btn-app btn-guardar-comanda" onclick="guardar_comanda()">
								<i class="fa fa-save"></i>Guardar
							</button>
						</div>
					</div>
					<div class="col-md-2 text-right">
						<h2>Total : <b id="order_input_vttotal_label">$ 0</b></h2>
						<input type="hidden" id="order_input_vttotal">
					</div>
					<div class="col-md-7">
						<div class="text-center">
							<div class="btn-group">
								<!--
								<button class="btn btn-app btn-primary" type="button">
									<i class="fa fa-search"></i>Buscar
								</button>
								-->
								<button class="btn btn-app btn-primary" type="button">
									<i class="fa fa-print"></i>Imprimir
								</button>
								<button class="btn btn-app btn-primary" type="button">
									<i class="fa fa-money"></i>Caja
								</button>
							</div>
							<div class="btn-group">
								<button class="btn btn-app btn-danger" type="button">
									<i class="fa fa-ban"></i>Cancelar
								</button>
								<a class="btn btn-app btn-danger" role="button" href="{% url 'dashboard' %}">
									<i class="fa fa-close"></i>Salir
								</a>
							</div>
						</div>
					</div>
			</div>
		</section>
	</div>

	{# {%include 'elements/footer.html'%} #}
{%endblock%}

{% block content_script %}









	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>

	<script>
		function enviar_cantidad(){
			var ncanti = $("#modal_editar_cantidad").find("#id_canti_cmenu").val()
			table.row('.selected').cell(table.row('.selected').index(),1).data(ncanti)
			$("#modal_editar_cantidad").modal("hide")
			actualizar_total()
		}
		$('.btn-number').click(function(e){
			e.preventDefault();

			fieldName = $(this).attr('data-field');
			type = $(this).attr('data-type');
			var input = $("input[name='"+fieldName+"']");
			var currentVal = parseInt(input.val());
			if (!isNaN(currentVal)) {
			if(type == 'minus') {
				if(currentVal > input.attr('min')) {input.val(currentVal - 1).change()}
			} else if(type == 'plus') {
				if(currentVal < input.attr('max')) {input.val(currentVal + 1).change()}
			}
			} else {input.val(0)}
		});
	</script>

	<script>
	var table,
		cols = {
			cmenu:{i:0},
			canti:{i:1},
			nmenu:{i:2},
			vunita:{i:3},
		}
		$(document).ready(function() {
			table = $('#example').DataTable({
				info:false,
				searching: false,
				paging: false,
				"language": languageDataTable,
				"columnDefs": [
					{
						"targets": [ cols.cmenu.i ],
						"visible": false
					}
				]
			});

			$('#example tbody').on( 'click', 'tr[role=row]', function () {


				if (!comanda_activa){
					var row = table.row( this );
					var data = row.data();
					$("#modal_editar_cantidad").find("#id_canti_cmenu").val(row.cell(row.index(),1).data())
					$("#modal_editar_cantidad").modal("show")
				}


				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$('#button').click( function () {
				table.row('.selected').remove().draw( false );
			});
		});
	</script>
	<script>
		var mesa_activa = null
		var comanda_activa = null

		$("#order_input_vttotal").change(function(event){
			$("#order_input_vttotal_label").html(currencyFormat.format($(this).val()))
		})

		function msg_seleccione_mesa(selector){
			//var message = alertBootstrap("Seleccione una mesa para continuar con esta accion","danger")
			//$(selector).prepend(message)
			alertify.error("Seleccione una mesa para continuar con esta accion")
		}
		function msg_no_editable(selector){
			//var message = alertBootstrap("Las Comandas no son editables","danger")
			//$(selector).prepend(message)
			alertify.error("Las Comandas no son editables")
		}

		function guardar_comanda(){

			if (!mesa_activa) return msg_seleccione_mesa(".content")

			var data = {
				deta : table.data().toArray().map(function(item){
					item[cols.vunita.i] = currencyFormat.sToN(item[cols.vunita.i])
					return item
				}),
				cmesa : mesa_activa,
				cols : cols
			}
			if (data.deta.length){
				WaitDialog.show("Guardando Comanda...")
				$.ajax({
					'url' : "/orders/save/",
					'type' : "POST",
					'data' : JSON.stringify(data),
					'success' : function(response){
						WaitDialog.hide()
						//alertBootstrap("Las Comandas se guardo.","success",".content")
						alertify.success("Las Comandas se guardo.")
						listar_comandas_mesa(mesa_activa,function(){
							$("table.comandas").find("button[data-ccoda=" + response.fields.ccoda  + "]").click()
						})
					}

				})
			}else{

				//var message = alertBootstrap("Agrege almenos un menu a la Comanda","danger")
				//$(".content").prepend(message)

				alertify.error("Agrege almenos un menu a la Comanda")
			}

		}

		function agregar_mesa(button,event){

			//if( $("#modal_input_cmesa").is(":valid") ){
				var cmesa = $(button).data("cmesa")

				if ( $("table.mesas").find("button[data-cmesa=" + cmesa + "]").length == 0 ){
					Models.objects.findOne("Mesas",{cmesa : cmesa},function(error,mesa){
						var mesa_template = '<tr>'+
								'<td>'+
									'<button class="btn btn-app btn-primary mesa" type="button" data-cmesa="__cmesa__" onclick="activar_mesa(this,event)">'+
										'__nmesa__'+
									'</button>'+
								'</td>'+
							'</tr>'
						mesa_template = mesa_template.replace(/__nmesa__/g,mesa.fields.nmesa).replace(/__cmesa__/g,mesa.pk)
						$("table.mesas").find("tbody").append($(mesa_template))
						$("table.mesas").find("button[data-cmesa=" + mesa.pk + "]").trigger("click")
						$("#modal_agregar_mesa").modal("hide")
					})
				}else{

					//var message = alertBootstrap("La mesa Ya se encuentra registrada","info")
					//$(".content").prepend(message)
					alertify.warning("La mesa Ya se encuentra registrada")
					$("#modal_agregar_mesa").modal("hide")
				}
			/*}else{
				var message = alertBootstrap("Seleccione una Mesa","danger")
				$(button).closest(".modal-footer").prepend(message)
			}*/
		}

		function mostrar_modal_mesa(button,event){ $("#modal_agregar_mesa").modal("show") }

		function crear_comandas(button,event){
			if (!mesa_activa) return msg_seleccione_mesa(".content")

			// if ( table.data().toArray().length != 0 )

			$(".btn-guardar-comanda").show()
			$("button.comanda").removeClass("btn-success").addClass("btn-primary")
			comanda_activa = null
			$("#label_ccoda_activa").html("-")
			table.rows().remove().draw()
			actualizar_total()
		}

		function listar_comandas_mesa(cmesa,fn){
			var objd= new Date()
			var cdate = "__ano__-__mes__-__dia__"
			var m = (objd.getMonth()+1).toString().length == 1 ? "0"+(objd.getMonth()+1).toString() : (objd.getMonth()+1).toString()
			cdate = cdate.set("__ano__",objd.getFullYear().toString()).set("__mes__",m).set("__dia__",objd.getDate().toString())



			Models.objects.find("Coda",{cmesa : cmesa,cresupedi:"__NULL__",cesdo__cesdo:1,fcoda__date:cdate},function(error,comandas){
				$("table.comandas").find("button[data-ccoda]").closest("tr").remove()
				if(comandas){
					comandas.forEach(function(comanda){
						var mesa_comanda = '<tr>'+
							'<td>'+
								'<button class="btn btn-app btn-primary comanda" type="button" data-ccoda="__ccoda__" onclick="mostar_detalle_comanda(this,event,__ccoda__)">'+
									'__ncoda__'+
								'</button>'+
							'</td>'+
						'</tr>'
						mesa_comanda = mesa_comanda.replace(/__ncoda__/g,comanda.fields.ccoda).replace(/__ccoda__/g,comanda.fields.ccoda)
						$("table.comandas").find("tbody").append($(mesa_comanda))
						if ( fn ) fn()
					})
				}else{
					alertify.warning("No hay Comandas")
				}
			})
		}

		function activar_mesa(button,event){
			$("button.mesa").removeClass("btn-success").addClass("btn-primary")
			$(button).addClass("btn-success")
			var cmesa = $(button).data("cmesa")
			mesa_activa = cmesa

			Models.objects.findOne("Mesas",{cmesa : cmesa},function(error,mesa){
				$("#label_nmesa").html(mesa.fields.nmesa)
			})

			listar_comandas_mesa(cmesa)
			crear_comandas()
		}

		function actualizar_total() {
			var data = table.data().toArray()
			var valores = data.map(function(item){
				var canti = parseFloat(item[cols.canti.i])
				var vunita = parseFloat(currencyFormat.sToN(item[cols.vunita.i]))
				return canti * vunita
			})
			var vttotal = valores.reduce(function(a,b){ return a + b },0)
			$("#order_input_vttotal").val(vttotal).trigger("change")
		}

		function mostar_detalle_comanda(button,event,ccoda){
			var ccoda = $(button).data("ccoda")

			$(".btn-guardar-comanda").hide()

			Models.objects.find("Codadeta",{ccoda__ccoda : ccoda,ccoda__cresupedi:"__NULL__"},function(error,detalle){
				if ( detalle ){
					$("button.comanda").removeClass("btn-success").addClass("btn-primary")
					$(button).addClass("btn-success")
					comanda_activa = ccoda
					$("#label_ccoda_activa").html(ccoda)
					table.rows().remove().draw()
					detalle.forEach(function(item){
						var temp_cmenu = item.fields.cmenu.cmenu,
						temp_canti = parseInt(item.fields.canti),
						temp_nmenu = item.fields.cmenu.nmenu,
						temp_pvta1 = currencyFormat.format(item.fields.cmenu.pvta1)
						var row = table.row.add([temp_cmenu,temp_canti,temp_nmenu,temp_pvta1]).draw( false );
					})
					actualizar_total()
				}else{
					//alertBootstrap("La mesa no tiene comandas Activas","info",".content")
					alertify.warning("La mesa no tiene comandas Activas")
				}
			})
		}

		function agregar_a_comanda(div,event) {

			if (!mesa_activa) return msg_seleccione_mesa(".content")
			if (comanda_activa) return msg_no_editable(".content")

			var cmenu = $(div).data("cmenu")

			var data = table.data().toArray()
			var cmenus = data.map(function(item,index){return {cmenu:item[cols.cmenu.i],row:index} })
			var exists = cmenus.some(function(obj){ return obj.cmenu == cmenu })

			if( exists ){
				var cell = cmenus.find(function(obj){ return obj.cmenu == cmenu })

				var canti = table.row(cell.row).cell(cell.row,cols.canti.i).data()

				table.row(cell.row).cell(cell.row,cols.canti.i).data( canti + 1 )
				actualizar_total()
			}else{
				Models.objects.findOne("Menus",{cmenu : cmenu},function(error,menu){
					var temp_cmenu = menu.pk,
					temp_canti = 1,
					temp_nmenu = menu.fields.nmenu,
					temp_pvta1 = currencyFormat.format(menu.fields.pvta1)

					var row = table.row.add([temp_cmenu,temp_canti,temp_nmenu,temp_pvta1]).draw( false );
					actualizar_total()
				})
			}
		}

		function mostrar_detalle(button,event) {
			event.stopPropagation()
			var div_menu = $(button).closest(".menu"),
				cmenu = div_menu.data("cmenu")

			Models.objects.findOne("Menus",{cmenu : cmenu},function(error,menu){
				if(menu){
					$("#modal_detalle_menu").find("table tbody").empty()
					$("#modal_detalle_menu").modal("show")
					$("#modal_detalle_menu").find("#modal_menu_nmenu").html(menu.fields.nmenu)
					$("#modal_detalle_menu").find("#modal_menu_foto").attr("src","/static/"+menu.fields.foto)
					Models.objects.find("Menusdeta",{cmenu : cmenu},function(error,detalle){
						detalle.forEach(function(d){
							var tr = $("<tr></tr>").append(
								$("<td>",{html:d.fields.cplato.nplato})
							).append(
								$("<td>").append( $("<img width='50px' class='img-responsive img-thumbnail'>").attr("src","/static/"+d.fields.cplato.foto) )
							).append(
								$("<td>",{html:d.fields.vunita})
							)
							$("#modal_detalle_menu").find("table tbody").append(tr)

						})
					})
				}
			})
		}

	</script>
{%endblock%}
