@import url("https://fonts.googleapis.com/css?family=Advent+Pro")

.ae
	&-img-list
		height 50px
		width auto
	&-img-article
		height 100px
		margin 0 auto
		width auto
.app
	&-input-important
		background-color #3c8dbc !important
		color white
		font-weight bold
		font-size 1.5rem
		border none

.logo-app
	&-color
		&-app
			color #0E5AAD
		&-em
			color #338BDB

	&-blanco
		&-app
		&-em
			text-shadow 0px 0px 30px #000
			color #FFFFFF

		font-weight bold !important
		font-family 'Advent Pro', sans-serif !important
		font-size 3rem !important

.errorlist
	margin 0
	li 
		list-style none
	.alert
		margin-bottom 5px

a[disabled]
	pointer-events none
	
.html_tooltip
	font-size 16px

input,select
	&:required
		border 1px solid #3C8DBC
		
.loading-animation
	width 100%
	height 100%
	top 0
	bottom 0
	position fixed
	background-color rgba(0, 0, 0, 0.54)
	z-index 100
	transition 1s

.loading
	margin 300px auto
	padding 10px
	width 200px
	background-color white
	border-radius 3px
	transition 1.2s


/* Modificaicones al framework de estilos */
.btn-app
	background #337ab7
	color #fff
	font-weight bold
	font-size 1.3rem
	border-color #3c8dbc
/* Modificaicones al framework de estilos */
