{% load static %}
<form class="form-horizontal" id="form_movement">
	<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">

	<div class="row">
		<div class="col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
				</div>
				<div class="box-body">
					{% if mode_view == 'edit' %}
					<div class="form-group col-md-12 pull-right-container">

						<div class="pull-right">
							
							<label for="{{form.cfac.id_for_label}}" class="col-md-5 control-label">{{form.cfac.label}}</label>
							{%if form.cfac.errors%}
							{{form.cfac.errors}}
							{%endif%}
							<div class="col-md-7">
								{{form.cfac}}
							</div>
						</div>
					</div>
					{% endif %}
					<div class="col-md-2 nopadding">
						<img class="img-responsive" src="{% static company_logo %}" alt="">
					</div>

					<div class="col-md-5 nopadding">

						<div class="form-group col-md-12">
							<label for="{{form.citerce.id_for_label}}" class="col-sm-2 control-label">{{form.citerce.label}}</label>
							{%if form.citerce.errors%}
							{{form.citerce.errors}}
							{%endif%}
							<div class="col-sm-10">
								<div class="input-group">
									<div class="col-md-3" style="padding: 0px;">
										<input type="number" value="{{form.citerce.field.widget.attrs.value}}" name="{{form.citerce.name}}" id="{{form.citerce.id_for_label}}" class="{{form.citerce.field.widget.attrs.class}}" {% if form.citerce.field.required %}required{% endif %}>
									</div>
									<div class="col-md-9" style="padding: 0px;">
										<input type="text" name="name__{{form.citerce.name}}" id="name__{{form.citerce.name}}" class="form-control" readonly>
									</div>
									<span class="input-group-addon"><a data-new-window href="{% url 'add-third-party' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
									<span class="input-group-addon"><a data-new-window href="{% url 'list-third-parties' %}" target="_blank"><i class="fa fa-search"></i></a></span>
								</div>
							</div>
						</div>

						<div class="form-group col-md-12">
							<label for="{{form.cvende.id_for_label}}" class="col-sm-3 control-label">{{form.cvende.label}}</label>
							{%if form.cvende.errors%}
							{{form.cvende.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.cvende}}
							</div>
						</div>

						<div class="form-group col-md-12">
							<label for="{{form.cdomici.id_for_label}}" class="col-sm-3 control-label">{{form.cdomici.label}}</label>
							{%if form.cdomici.errors%}
							{{form.cdomici.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.cdomici}}
							</div>
						</div>

						<div class="form-group col-md-12">
							<label for="{{form.ctifopa.id_for_label}}" class="col-sm-3 control-label">{{form.ctifopa.label}}</label>
							{%if form.ctifopa.errors%}
							{{form.ctifopa.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.ctifopa}}
							</div>
						</div>

					</div>

					<div class="col-md-5 nopadding">
						<div class="form-group col-md-12">
							<label for="{{form.femi.id_for_label}}" class="col-sm-3 control-label">{{form.femi.label}}</label>
							{%if form.femi.errors%}
							{{form.femi.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.femi}}
							</div>
						</div>
						<div class="form-group col-md-12">
							<label for="{{form.fpago.id_for_label}}" class="col-sm-3 control-label">{{form.fpago.label}}</label>
							{%if form.fpago.errors%}
							{{form.fpago.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.fpago}}
							</div>
						</div>

						<div class="form-group col-md-12">
							<label for="{{form.cemdor.id_for_label}}" class="col-sm-3 control-label">{{form.cemdor.label}}</label>
							{%if form.cemdor.errors%}
							{{form.cemdor.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.cemdor}}
							</div>
						</div>

						<div class="form-group col-md-12">
							<label for="{{form.ccaja.id_for_label}}" class="col-sm-3 control-label">{{form.ccaja.label}}</label>
							{%if form.ccaja.errors%}
							{{form.ccaja.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.ccaja}}
							</div>
						</div>
						<input type="hidden" name="{{form.cesdo.html_name}}" id="{{form.cesdo.id_for_label}}" value="{{form.cesdo.value}}">
						<!--
						<div class="form-group col-md-12">
							<label for="{{form.cesdo.id_for_label}}" class="col-sm-3 control-label">{{form.cesdo.label}}</label>
							{%if form.cesdo.errors%}
							{{form.cesdo.errors}}
							{%endif%}
							<div class="col-sm-9">
								{{form.cesdo}}
							</div>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal_descripcion" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Descripcion de la Factura</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="{{form.descri.id_for_label}}" class="col-sm-3 control-label">{{form.descri.label}}</label>
						{%if form.descri.errors%}
						{{form.descri.errors}}
						{%endif%}
						<div class="col-sm-9">
							{{form.descri}}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>
</form>
