{%extends 'layouts/base.html'%}
{% load static %}
{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}
{% load humanize %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Terceros</h3>

					
				</div>
				<div class="box-body">
					<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th>Identificación</th>
								<th>Primer Apellido</th>
								<th>Segundo Apellido</th>
								<th>Primer Nombre</th>
								<th>Segundo Nombre</th>
								<th>Editar</th>
							</tr>
						</thead>
						<tbody>
							{% for thirdParty in object_list %}
								<tr>
									<td>{{ thirdParty.idterce }}</td>
									<td>{{ thirdParty.nom1 }}</td>
									<td>{{ thirdParty.nom2 }}</td>
									<td>{{ thirdParty.ape1 }}</td>
									<td>{{ thirdParty.ape2 }}</td>
									<td><a href="{% url 'edit-third-party' thirdParty.citerce %}" target="_blank">Editar</a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
	<script>


		$(document).ready(function() {
			$('#example').DataTable(
				{
					"language": {
						sProcessing: "Procesando...",
						sLengthMenu: "Mostrar _MENU_ registros",
						sZeroRecords: "No se encontraron resultados",
						sEmptyTable: "Ningún dato disponible en esta tabla",
						sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
						sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
						sInfoPostFix: "",
						sSearch: "Buscar:",
						sUrl: "",
						sInfoThousands: ",",
						sLoadingRecords: "Cargando...",
						oPaginate: {
							sFirst: "Primero",
							sLast: "Ãšltimo",
							sNext: "Siguiente",
							sPrevious: "Anterior"
						},
						oAria: {
							sSortAscending: ": Activar para ordenar la columna de manera ascendente",
							sSortDescending: ": Activar para ordenar la columna de manera descendente"
						}
					}
				}
			);
		});
	</script>
{% endblock %}
