{%extends 'layouts/base.html'%}
{% load static from staticfiles %}
{% block content_head %}
{% endblock content_head %}
{% load humanize %}
{%block content%}
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
	<section class="content">
		<div class="row">
		<div class="col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Ingredientes</h3>


				</div>
				<div class="box-body">
					{%include 'elements/filters_ingredients.html'%}
					<div class="col-md-12">
						<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
							<thead>
								<tr>
									<th>Codgio</th>
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Vr. Costo</th>
									<th>Estado</th>
									<th data-cell-action="edit">Editar</th>
									<th data-cell-action="select" class="hidden">Seleccionar</th>
								</tr>
							</thead>
							<tbody id="cont-data"></tbody>
						</table>
						{%include 'elements/paginate.html'%}
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}
{% block content_script %}
	<script>
		var cont = 1
		data_table()
		function data_table(){
			var buscarPor = $('.buscarPor').val().length > 0 ? '&buscarPor='+$('.buscarPor').val(): ''
			$.get("{% url 'ingrediends_list' %}?page="+cont+"&orderBy="+$('input[name=orderTipo]:checked').val()+$('input[name=orderBy]:checked').val()+buscarPor, function(data){
				$('#cont-data').empty()
				if(data.response == 0){
					$(".next").addClass('disabled')
				}else{
					$(".next").removeClass('disabled')
				}
				$.each(data.arlo, function (key, item){
					$('#cont-data').append(
						'<tr data-object-search='+item.cingre+'>'+
							'<td>'+item.cingre+'</td>'+
							'<td>'+item.ningre+'</td>'+
							'<td>'+item.canti+'</td>'+
							'<td>'+item.vcosto+'</td>'+
							'<td>'+item.cesdo+'</td>'+

							'<td data-cell-action="edit"><a data-link-edit href="/ingredients/edit/' + item.cingre + '" target="_blank">Editar</a></td>'+
							'<td data-cell-action="select" class="hidden"><button class="btn btn-primary" data-object-search="' + item.cingre + '">Seleccionar</button></td>'+

							//'<td><a data-link-edit href="/ingredients/edit/'+item.cingre+'" target="_blank">Editar</a></td>'+
						'</tr>'
					)
				});
				windowSearch("[name=cingre],[id*=cingre]:not([disabled])")
			});
		}
	</script>
{% endblock %}
