
{%extends 'layouts/base.html'%}
{% load static %}
{% load humanize %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}
{%block content%}
	{# {%include 'elements/nav.html'%} #}
	{# {%include 'elements/sidebar.html'%} #}

	<style>
		.menu{
			padding: 1px
		}
			.menu .foto{padding: 0;}
			.menu .more{padding: 0;}

		.section-resumen-pedido{}
			.section-resumen-pedido > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section_comandas{
			padding: 0;
		}
			.section_comandas > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section-mesas{
			padding: 0;
		}
			.section-mesas > .section{height: 350px;overflow-y: auto;overflow-x: hidden;}

		.section-menu{
			padding: 0px;
			min-height: 350px;
		}
			.section-menu > div{ padding: 10px; height: 350px;}
	</style>

	<div class="modal fade" id="modal_agregar_mesa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Agregar Mesa</h5>
					<input type="hidden" id="modal_input_cmenu">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="form-group">
							<label for="modal_agregar_comanda_canti" class="col-sm-2 control-label"> Mesa </label>
							<div class="col-sm-10">
								<select id="modal_input_cmesa" class="form-control" required="">
									{% for mesa in mesas %}
										<option value="{{ mesa.cmesa }}"> {{ mesa.nmesa }} </option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-app btn-primary" onclick="agregar_mesa(this,event)">Agregar</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal_detalle_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><span id="modal_menu_nmenu"></span></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">

						<div class="col-md-12">
							<p>Precio :</p>
						</div>
						<div class="col-md-6">
							<img class="img-responsive" src="" id="modal_menu_foto" alt="">
						</div>
						<div class="col-md-6">
								<h2> Platos </h2>
								<table class="table table-bordered">
									<thead>
										<th>Plato</th>
										<th>Foto</th>
										<th>Vr Unitario</th>
									</thead>
									<tbody></tbody>
								</table>
						</div>
					</div>


				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper" style="margin:0;min-height: 921px;">
		<section class="content">
			<div class="row">
				<h2>Ordenes</h2>

				<!-- Mesas -->
				<div class="section-mesas col-md-1" style="height: 100%">
					<div class="panel panel-default section">
						<table class="table text-center mesas">
							<thead>
								<tr>
									<th><p class="text-center">Mesas</p></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<button class="btn btn-app btn-primary" type="button" onclick="mostrar_modal_mesa(this,event)">
											<i class="fa fa-plus-square-o"></i>Agregar
										</button>
									</td>
								</tr>
								{% for mesa_activa in mesas_activas %}
									<tr>
										<td>
											<button class="btn btn-app btn-primary mesa" type="button" data-cmesa="{{mesa_activa.cmesa}}" onclick="activar_mesa(this,event)">
												<i class="fa fa-save"></i> {{mesa_activa.nmesa}}
											</button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<!-- Detalle Comanda -->
				<div class="section-resumen-pedido col-md-4">
					<div class="panel panel-default section">
						<div>
							<div>
								<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Codigo Menu</th>
											<th>Cantidad</th>
											<th>Descripcion</th>
											<th>Precio</th>
										</tr>
									</thead>
									<tbody id="cont-data"></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<!-- Comandas Mesa -->
				<div class="section_comandas col-md-1">
					<div class="panel panel-default section">
						<table class="table text-center comandas">
							<thead>
								<tr><th><p class="text-center">Comandas</p></th></tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<button class="btn btn-app btn-primary" type="button" onclick="crear_comandas(this,event)">
											<i class="fa fa-plus-square-o"></i>Agregar
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<!-- Menus -->
				<div class="section-menu col-md-6">
					<div class="panel panel-default section">
						<ul class="nav nav-pills" style="display: block;white-space: nowrap;overflow: auto;">
							{% for grupo in gruposMenu %}
								<li class="{% if forloop.first %}active {% endif %}" style="display: inline-block;float: none"><a data-toggle="pill" href="#tab{{grupo.ngpomenu.split|join:'_'|lower}}">{{grupo.ngpomenu}}</a></li>
							{% endfor %}
						</ul>
						<div class="tab-content">
							{% for grupo in gruposMenu %}
								<div id="tab{{grupo.ngpomenu.split|join:'_'|lower}}" class="tab-pane {% if forloop.first %}active {% endif %}">
									<div class="row">
										<div class="col-md-12">
											<div class="box box-primary">
												<div class="box-header with-border">
													<h3 class="box-title">{{grupo.ngpomenu}}</h3>
												</div>
												<div class="box-body">
													<div class="row">
														{% for menu in grupo.menus %}
															<div class="text-center col-lg-3 col-md-3 col-sm-2 col-xs-3 well menu" onclick="agregar_a_comanda(this,event)" data-cmenu="{{menu.cmenu}}">
																<p class="text-center">{{menu.nmenu}}</p>
																<div class="col-md-6 foto">
																	<img class="img-responsive img-thumbnail" src="{% static menu.foto.url %}" />
																</div>
																<div class="col-md-6 more">
																	<p>{{ menu.pvta1 | intcomma }}</p>
																	<div class="btn-group">
																		<button class="btn btn-info" onclick="mostrar_detalle(this,event)">Info..</button>
																	</div>
																</div>
															</div>
														{% empty %}
															<p>No hay Menus del grupo <b>{{grupo.ngpomenu}}</b> </p>
														{% endfor %}

													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="col-md-2">
						<p> Mesero: <b>{{ mesero.nmero }} </b> </p>
						<p> Mesa: <b><span id="label_nmesa"> - </span></b> </p>
					</div>
					<div class="col-md-3 text-right">
						<h2>Total : <b id="order_input_vttotal_label">$ 0</b></h2>
						<input type="hidden" id="order_input_vttotal">
					</div>
					<div class="col-md-7">
						<div class="text-center">
							<div class="btn-group">
								<button class="btn btn-success btn-app btn-guardar-comanda" onclick="guardar_comanda()">
									<i class="fa fa-save"></i>Guardar
								</button>
								<button class="btn btn-app btn-primary" type="button">
									<i class="fa fa-plus-square-o"></i>Buscar
								</button>
								<button class="btn btn-app btn-primary" type="button">
									<i class="fa fa-save"></i>Imprimir
								</button>
								<a class="btn btn-app  btn-primary" data-new-window href="#">
									<i class="fa fa-list"></i>Caja
								</a>
							</div>
							<div class="btn-group">
								<button class="btn btn-app btn-danger" type="button">
									<i class="fa fa-save"></i>Salir
								</button>
								<a class="btn btn-app btn-danger" data-new-window href="#">
									<i class="fa fa-list"></i>Cancelar
								</a>
							</div>
						</div>
					</div>
			</div>
		</section>
	</div>

	{# {%include 'elements/footer.html'%} #}
{%endblock%}

{% block content_script %}
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
	<script>
	var table,
		cols = {
			cmenu:{i:0},
			canti:{i:1},
			nmenu:{i:2},
			vunita:{i:3},
		}
		$(document).ready(function() {
			table = $('#example').DataTable({
				info:false,
				searching: false,
				paging: false,
				"language": languageDataTable,
				"columnDefs": [
					{
						"targets": [ cols.cmenu.i ],
						"visible": false
					}
				]
			});
			$('#example tbody').on( 'click', 'tr', function () {
				if ( $(this).hasClass('selected') ) {
					$(this).removeClass('selected');
				}else {
					table.$('tr.selected').removeClass('selected');
					$(this).addClass('selected');
				}
			});

			$('#button').click( function () {
				table.row('.selected').remove().draw( false );
			});
		});
	</script>
	<script>
		var mesa_activa = null
		var comanda_activa = null

		$("#order_input_vttotal").change(function(event){
			$("#order_input_vttotal_label").html(currencyFormat.format($(this).val()))
		})

		function msg_seleccione_mesa(selector){
			var message = alertBootstrap("Seleccione una mesa para continuar con esta accion","danger")
			$(selector).prepend(message)
		}
		function msg_no_editable(selector){
			var message = alertBootstrap("Las Comandas no son editables","danger")
			$(selector).prepend(message)
		}

		function guardar_comanda(){

			if (!mesa_activa) return msg_seleccione_mesa(".content")

			var data = {
				deta : table.data().toArray(),
				cmesa : mesa_activa,
				cols : cols
			}
			if (data.deta.length){
				console.log(data)
				$.ajax({
					'url' : "/orders/save/",
					'type' : "POST",
					'data' : JSON.stringify(data),
					'success' : function(response){
						console.info(response)
						listar_comandas_mesa(mesa_activa,function(){
							$("table.comandas").find("button[data-ccoda=" + response.fields.ccoda  + "]").click()
						})
					}

				})
			}else{
				var message = alertBootstrap("Agrege almenos un menu a la Comanda","danger")
				$(".content").prepend(message)
			}

		}

		function agregar_mesa(button,event){

			if( $("#modal_input_cmesa").is(":valid") ){
				var cmesa = $("#modal_input_cmesa").val()

				if ( $("table.mesas").find("button[data-cmesa=" + cmesa + "]").length == 0 ){
					Models.objects.findOne("Mesas",{cmesa : cmesa},function(error,mesa){
						var mesa_template = '<tr>'+
								'<td>'+
									'<button class="btn btn-app btn-primary mesa" type="button" data-cmesa="__cmesa__" onclick="activar_mesa(this,event)">'+
										'<i class="fa fa-save"></i> __nmesa__'+
									'</button>'+
								'</td>'+
							'</tr>'
						mesa_template = mesa_template.replace(/__nmesa__/g,mesa.fields.nmesa).replace(/__cmesa__/g,mesa.pk)
						$("table.mesas").find("tbody").append($(mesa_template))
						$("table.mesas").find("button[data-cmesa=" + mesa.pk + "]").trigger("click")
						$("#modal_agregar_mesa").modal("hide")
					})
				}else{
					var message = alertBootstrap("La mesa Ya se encuentra registrada","info")
					$(".content").prepend(message)
					$("#modal_agregar_mesa").modal("hide")
				}
			}else{
				var message = alertBootstrap("Seleccione una Mesa","danger")
				$(button).closest(".modal-footer").prepend(message)
			}
		}

		function mostrar_modal_mesa(button,event){ $("#modal_agregar_mesa").modal("show") }

		function crear_comandas(button,event){
			if (!mesa_activa) return msg_seleccione_mesa(".content")

			$(".btn-guardar-comanda").show()
			$("button.comanda").removeClass("btn-success").addClass("btn-primary")
			comanda_activa = null
			table.rows().remove().draw()
			actualizar_total()
		}

		function listar_comandas_mesa(cmesa,fn){
			Models.objects.find("Coda",{cmesa : cmesa},function(error,comandas){
				$("table.comandas").find("button[data-ccoda]").closest("tr").remove()
				if(comandas){
					comandas.forEach(function(comanda){
						var mesa_comanda = '<tr>'+
							'<td>'+
								'<button class="btn btn-app btn-primary comanda" type="button" data-ccoda="__ccoda__" onclick="mostar_detalle_comanda(this,event,__ccoda__)">'+
									'<i class="fa"></i> __ncoda__'+
								'</button>'+
							'</td>'+
						'</tr>'
						mesa_comanda = mesa_comanda.replace(/__ncoda__/g,comanda.fields.ccoda).replace(/__ccoda__/g,comanda.fields.ccoda)
						$("table.comandas").find("tbody").append($(mesa_comanda))
						if ( fn ) fn()
					})
				}
			})
		}

		function activar_mesa(button,event){
			$("button.mesa").removeClass("btn-success").addClass("btn-primary")
			$(button).addClass("btn-success")
			var cmesa = $(button).data("cmesa")
			mesa_activa = cmesa

			Models.objects.findOne("Mesas",{cmesa : cmesa},function(error,mesa){
				$("#label_nmesa").html(mesa.fields.nmesa)
			})

			listar_comandas_mesa(cmesa)
			crear_comandas()
		}

		function actualizar_total() {
			var data = table.data().toArray()
			var valores = data.map(function(item){
				var canti = parseFloat(item[cols.canti.i])
				var vunita = parseFloat(item[cols.vunita.i])
				return canti * vunita
			})
			var vttotal = valores.reduce(function(a,b){ return a + b },0)
			console.log(vttotal)
			$("#order_input_vttotal").val(vttotal).trigger("change")
		}

		function mostar_detalle_comanda(button,event,ccoda){

			$(".btn-guardar-comanda").hide()

			$("button.comanda").removeClass("btn-success").addClass("btn-primary")
			$(button).addClass("btn-success")
			var ccoda = $(button).data("ccoda")
			comanda_activa = ccoda

			Models.objects.find("Codadeta",{ccoda__ccoda : ccoda,ccoda__cresupedi:"__NULL__"},function(error,detalle){
				table.rows().remove().draw()
				console.log(detalle)
				detalle.forEach(function(item){
					console.info(item)
					var row = table.row.add([item.fields.cmenu.cmenu,item.fields.canti,item.fields.cmenu.nmenu,item.fields.cmenu.pvta1]).draw( false );
				})
				actualizar_total()
			})
		}

		function agregar_a_comanda(div,event) {

			if (!mesa_activa) return msg_seleccione_mesa(".content")
			if (comanda_activa) return msg_no_editable(".content")

			var cmenu = $(div).data("cmenu")

			var data = table.data().toArray()
			var cmenus = data.map(function(item,index){return {cmenu:item[cols.cmenu.i],row:index} })
			var exists = cmenus.some(function(obj){ return obj.cmenu == cmenu })

			if( exists ){
				var cell = cmenus.find(function(obj){ return obj.cmenu == cmenu })

				var canti = table.row(cell.row).cell(cell.row,cols.canti.i).data()

				table.row(cell.row).cell(cell.row,cols.canti.i).data( canti + 1 )
				actualizar_total()
			}else{
				Models.objects.findOne("Menus",{cmenu : cmenu},function(error,menu){
					var row = table.row.add([menu.pk,1,menu.fields.nmenu,menu.fields.pvta1]).draw( false );
					actualizar_total()
				})
			}
		}

		function mostrar_detalle(button,event) {
			event.stopPropagation()
			var div_menu = $(button).closest(".menu"),
				cmenu = div_menu.data("cmenu")

			Models.objects.findOne("Menus",{cmenu : cmenu},function(error,menu){
				if(menu){
					$("#modal_detalle_menu").find("table tbody").empty()
					$("#modal_detalle_menu").modal("show")
					$("#modal_detalle_menu").find("#modal_menu_nmenu").html(menu.fields.nmenu)
					$("#modal_detalle_menu").find("#modal_menu_foto").attr("src","/static/"+menu.fields.foto)
					Models.objects.find("Menusdeta",{cmenu : cmenu},function(error,detalle){
						detalle.forEach(function(d){
							console.info(d)
							var tr = $("<tr></tr>").append(
								$("<td>",{html:d.fields.cplato.nplato})
							).append(
								$("<td>").append( $("<img width='50px' class='img-responsive img-thumbnail'>").attr("src","/static/"+d.fields.cplato.foto) )
							).append(
								$("<td>",{html:d.fields.vunita})
							)
							$("#modal_detalle_menu").find("table tbody").append(tr)

						})
						console.log(detalle)
					})
				}
			})
		}

	</script>
{%endblock%}
