{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/skin-green.min.css' %}">
	{% block content_head %}{% endblock content_head %}
</head>
<body class="hold-transition skin-green sidebar-mini">
	<div class="wrapper">
		{% block content %}{% endblock content %}
	</div>
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'js/app.min.js' %}"></script>
	<script>
		{% block content_script %}{% endblock content_script %}
	</script>
</body>
</html>