{%extends 'layouts/base.html'%}

{% load static %}

{% load date_appen %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock content_head %}

{% load humanize %}

{%block content%} 
	{%include 'elements/nav.html'%}
	{%include 'elements/sidebar.html'%}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">{{title}}</h3>
						</div>
						<div class="box-body">
							<table class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th class="text-center" >Cliente</th>
										<th class="text-center" >Valor Total</th>
										<th class="text-center" >Abono Total</th>
										<th class="text-center" >Saldo Total</th>
										<th class="text-center" ></th>
									</tr>
								</thead>
								<tbody>
									{% regroup object_list by citerce as data_list %}
									{% for movi in data_list %}
										<tr>
											<td>{{ movi.grouper }}</td>
											<td class="text-right">$ {{ movi.list|return_tot_movi|intcomma }}</td>
											<td class="text-right">$ {{ movi.grouper.pk|total_abono:request.db|intcomma }}</td>
											<td class="text-right">$ {{ movi.grouper.pk|saldo_cartera:request.db|intcomma }}</td>
											<td class="text-center">
												<a href="{% url 'detail-cartera' movi.grouper.pk %}" class="btn btn-primary">Detalle</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	{%include 'elements/footer.html'%}
{%endblock%}

{% block content_script %}
	<script src="{% static 'js/jquery.dataTables.js' %}"></script>
	<script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
	<script>
		$(document).ready(function() {
			$('table').DataTable({"language": languageDataTable});
		});
	</script>
{% endblock %}
