{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Movimientos de Inventario</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form_movement">
				<input type="hidden" value="{{mode_view}}" name="mode_view" id="mode_view">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>
								
							<div class="box-body">
								<div class="row">
									{% if is_input_movement %}
										<div class="form-group col-md-4">
											<label for="{{form.cmven.id_for_label}}" class="col-sm-4 control-label">{{form.cmven.label}}</label>
											<div class="col-sm-8">
												<input type="number" name="{{form.cmven.name}}" id="{{form.cmven.id_for_label}}" class="{{form.cmven.field.widget.attrs.class}}" readonly value="{{current_pk}}">
											</div>
										</div>
									{% else %}
										<div class="form-group col-md-4">
											<label for="{{form.cmvsa.id_for_label}}" class="col-sm-4 control-label">{{form.cmvsa.label}}</label>
											<div class="col-sm-8">
												<input type="number" name="{{form.cmvsa.name}}" id="{{form.cmvsa.id_for_label}}" class="{{form.cmvsa.field.widget.attrs.class}}" readonly value="{{current_pk}}">
											</div>
										</div>

									{% endif %}
								
									<div class="form-group col-md-4">
										<label for="{{form.ctimo.id_for_label}}" class="col-sm-3 control-label">{{form.ctimo.label}}</label>
										{%if form.ctimo.errors%}
										{{form.ctimo.errors}}
										{%endif%}
										<div class="col-sm-9">
											<div class="input-group">
												{{form.ctimo}}
												<span class="input-group-addon"><a data-new-window href="" target="_blank"><i class="fa fa-plus-square"></i></a></span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-4">
										{% if form.fmven %}
											<label for="{{ form.fmven.id_for_label }}" class="col-sm-2 control-label">{{ form.fmven.label }}</label>
											<div class="col-sm-10">
												{{ form.fmven }}
											</div>
										{% else %}
											<label for="{{ form.fmvsa.id_for_label }}" class="col-sm-2 control-label">{{ form.fmvsa.label }}</label>
											<div class="col-sm-10">
												{{ form.fmvsa }}
											</div>
										{% endif %}
									</div>
								</div>

								<div class="row">
									<div class="form-group col-md-8">
										<label for="{{form.citerce.id_for_label}}" class="col-sm-2 control-label">{{form.citerce.label}}</label>
										{%if form.citerce.errors%}
										{{form.citerce.errors}}
										{%endif%}
										<div class="col-sm-4">
											<div class="input-group">
												<input type="number" value="{{form.citerce.field.widget.attrs.value}}" name="{{form.citerce.name}}" id="{{form.citerce.id_for_label}}" class="{{form.citerce.field.widget.attrs.class}}" {% if form.citerce.field.required %}required{% endif %}>
												<span class="input-group-addon"><a data-new-window href="{% url 'add-third-party' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
												<span class="input-group-addon"><a data-new-window href="{% url 'list-third-parties' %}" target="_blank"><i class="fa fa-search"></i></a></span>
											</div>
										</div>
										<div class="col-sm-6">
											<input type="text" name="name__{{form.citerce.name}}" id="name__{{form.citerce.name}}" class="form-control" readonly>
										</div>

									</div>
									<div class="form-group col-md-4">
										<label for="{{ form.docrefe.id_for_label }}" class="col-sm-4 control-label">{{ form.docrefe.label }}</label>
										<div class="col-sm-8">
											{{ form.docrefe }}
										</div>
									</div>
								</div>

								<div class="row">
									
									<div class="form-group col-md-7">
										<label for="{{ form.descri.id_for_label }}" class="col-sm-2 control-label">{{ form.descri.label }}</label>
										<div class="col-sm-10">
											{{ form.descri }}
										</div>
									</div>

									<div class="form-group col-md-3">
										<label for="{{form.cesdo.id_for_label}}" class="col-sm-3 control-label">{{form.cesdo.label}}</label>
										{%if form.cesdo.errors%}
										{{form.cesdo.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cesdo}}
										</div>
									</div>

									<div class="form-group col-md-3">
										<label for="{{form.cbode0.id_for_label}}" class="col-sm-3 control-label">{{form.cbode0.label}}</label>
										{%if form.cbode0.errors%}
										{{form.cbode0.errors}}
										{%endif%}
										<div class="col-sm-9">
											{{form.cbode0}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

			<form class="form-horizontal" id="form_deta_movement">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Detalle</h3>
							</div>
							<div class="box-body">

								<div class="form-group col-sm-12">
									<label for="{{ form.vttotal.id_for_label }}" class="col-sm-10 control-label">{{ form.vttotal.label }}</label>
									<div class="col-sm-2">
										<input type="text" readonly data-mask="{{form.vttotal.id_for_label}}__mask" class="{{form.vttotal.field.widget.attrs.class}} text-right" readonly">
										<input type="hidden" readonly name="{{form.vttotal.name}}" id="{{form.vttotal.id_for_label}}" class="{{form.vttotal.field.widget.attrs.class}} text-right" readonly">
									</div>
								</div>

								<section class="col-md-12" id="form_temp_mvendeta">
								</section>

								<section role="form" id="item_mdeta">
									<table class="table table-striped no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th width="3%">It</th>
												<th width="20%">Cod Articulo</th>
												<th width="20%">Articulo</th>
												<th width="10%">Cantidad</th>
												<th width="10%">V unitario</th>
												<th width="10%">V total</th>
												<th width="10%"></th>
											</tr>
											<tr>
												<th width="3%">
													<input type="hidden" name="{{ form_movement_detail.it.name }}" id="{{ form_movement_detail.it.id_for_label}}" >
												</th>
												<th width="20%">
													<div class="input-group">
				
														<input type="number" name="{{form_movement_detail.carlos.name}}" id="{{form_movement_detail.carlos.id_for_label}}" class="{{form_movement_detail.carlos.field.widget.attrs.class}}"" required>


														<span class="input-group-addon"><a data-new-window href="{% url 'add-article' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
														<span class="input-group-addon"><a data-new-window href="{% url 'list-articles' %}" target="_blank"><i class="fa fa-search"></i></a></span>
													</div>
												</th>
												<th width="20%">
													<input type="text" name="name__{{form_movement_detail.carlos.name}}" id="name__{{form_movement_detail.carlos.name}}" class="form-control" readonly>
												</th>
												<th width="10%">{{ form_movement_detail.canti }}</th>
												<th width="10%">{{ form_movement_detail.vunita }}</th>
												<th width="10%">{{ form_movement_detail.vtotal }}</th>
												<th width="10%"><button type="submit" class="btn btn-success" id="add_item_mdeta"><i class="fa fa-plus-square"></i></button></th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</section>

								<section role="form" id="list_items_mdeta">
									<table class="table table-striped no-footer text-center" cellspacing="0" width="100%">
										<tbody>
										</tbody>
									</table>
								</section>

								<div class="form-group col-sm-12">
									<label for="{{ form.vttotal.id_for_label }}" class="col-sm-10 control-label">{{ form.vttotal.label }}</label>
									<div class="col-sm-2">
										<input type="text" readonly data-mask="{{form.vttotal.id_for_label}}__mask" class="{{form.vttotal.field.widget.attrs.class}} text-right" readonly">
										<input type="hidden" readonly name="{{form.vttotal.name}}" id="{{form.vttotal.id_for_label}}" class="{{form.vttotal.field.widget.attrs.class}} text-right" readonly">
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</form>

			<div class="text-center">
				<div class="btn-group">
					<button class="btn btn-app btn-info" type="button" action="reset-form">
						<i class="fa fa-plus-square-o"></i>Nuevo
					</button>
					<button class="btn btn-app" type="submit" id="btn-save">
						<i class="fa fa-save"></i>Guardar
					</button>
					{% if is_input_movement %}
						<a data-new-window class="btn btn-app" href="{% url 'list-input-movements' %}"><i class="fa fa-list"></i>Listar</a>
					{% else %}
						<a data-new-window class="btn btn-app" href="{% url 'list-output-movements' %}"><i class="fa fa-list"></i>Listar</a>
					{% endif %}
				</div>
			</div>

		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script>
	var mode_view = $("#mode_view").val()
	//$("#item_mdeta :input").attr("required",false)

	$("[name=canti],[name=vunita]").change(function(event) {
		if($("[name=canti]").val() != "" && $("[name=vunita]").val() != ""){
			$("[name=vtotal]").val(parseFloat($("[name=canti]").val()) * parseFloat($("[name=vunita]").custom_format_val()))
		}else{
			$("[name=vtotal]").val("0")
		}
		$("[name=vtotal]").trigger("change")
	})

	$('.date').datetimepicker({
		format: 'YYYY-MM-D',
		defaultDate:date_appen
	});

	function edit_item_mdeta(){
		var target = $(this)
		parent = target.closest("tr")
		parent.find("[data-name]").each(function(i,e){


			var td = $(e)

			var input = $("#item_mdeta").find("[name = " + td.data("name") + "]")
			input.val(td.data("value"))
			if(td.data("name") != "carlos"){
				input.trigger("change")
			}
		})
		parent.remove()
	}

	function delete_item_mdeta(){
		$(this).closest("tr").remove()
		calcular_total()
	}

	function calcular_total(){
		vtotal_temp = 0

		$("#list_items_mdeta").find("[data-name=vtotal]").toArray().forEach(function(e){
			vtotal_temp += parseFloat(currencyFormat.sToN($(e).data("value")));
		})
		//$("[name=vttotal]").val(currencyFormat.format(vtotal_temp))

		console.warn(vtotal_temp)
		$("[name=vttotal]").val(vtotal_temp)
		$("[data-mask=id_vttotal__mask]").val(currencyFormat.format(vtotal_temp))
	}

	function get_mdeta(){
		return 	$("#list_items_mdeta").find("tr").toArray().map(
			function(e){
				var data = {}
				$(e).children("[data-name]").toArray().forEach(
					function(e2){
						if($(e2).hasClass("value-currency")){
							data[$(e2).data("name")] = currencyFormat.sToN($(e2).data("value"))
						}else{
							data[$(e2).data("name")] = $(e2).data("value")
						}
					}
				)
				return data
			}
		)
	}

	function setValueFieldTerce(id_citerce,name__citerce){
		$('#id_citerce').val(id_citerce)
		$("[name=name__citerce]").val(name__citerce)
	}

	function setValueFieldArlo(vunita,name__carlos){
		$("[name='vunita']")
			.val(currencyFormat.format(vunita))
			.trigger("change")
		$("[name=name__carlos]").val(name__carlos)
	}

	$('#id_carlos').change(function(){
		var input_value = this.value
		if(!input_value){
			setValueFieldArlo("0","")
			return
		}
		var arlo_in_list = false

		$("#list_items_mdeta tbody tr").toArray().forEach(function (e,i,a){
			var td = $(e).find("[data-name=carlos]")
			if(td.data("value") == input_value){
				$(e).find(".fa.fa-edit").click()
				arlo_in_list = true
			}
		})
		if(!arlo_in_list){
			$.ajax({
				url: '{% url 'api-get-object' %}',
				type: 'POST',
				data: JSON.stringify({
					'model': 5,
					'field': this.name,
					'value': input_value
				}),
				contentType: "application/json",
				success: function(response){
					if(response.object){
						var object = JSON.parse(response.object)[0]
						fields = object.fields
						var t_vcosto = fields.vcosto
						var t_nlargo = fields.nlargo
						setValueFieldArlo(t_vcosto,t_nlargo)
					}else{
						$.ajax({
							url: '{% url 'api-get-object' %}',
							type: 'POST',
							data: JSON.stringify({
								'model': 5,
								'field': "cbarras",
								'value': input_value
							}),
							contentType: "application/json",
							success: function(response){
								if(response.object){
									var object = JSON.parse(response.object)[0]
									fields = object.fields
									var t_vcosto = fields.vcosto
									var t_nlargo = fields.nlargo
								}else{
									var t_vcosto = ""
									var t_nlargo = ""
									$('#id_carlos').val("")
									tooltipBootstrap($('#id_carlos'),".input-group","Este Articulo no se encuentra registrado.")
								}
								setValueFieldArlo(t_vcosto,t_nlargo)
							}
						});
					}
				}
			});
		}else{
			calcular_total()
		}
	});

	$('#id_citerce').change(function(){
		var input_value = this.value

		if(!input_value){
			setValueFieldTerce("","")
			return
		}
		$.ajax({
			url: '{% url 'api-get-object' %}',
			type: 'POST',
			data: JSON.stringify({
				'model': 29,
				'field': this.name,
				'value': this.value
			}),
			contentType: "application/json",
			success: function(response){
				if(response.object){
					var object = JSON.parse(response.object)[0]
					fields = object.fields
					t_rasocial = fields.rasocial
				}else{
					tooltipBootstrap($('#id_citerce'),".form-group","Esta Idendificación no se encuentra registrada.")
					t_rasocial = ""
					$('#id_citerce').val("")
				}
					$("[name=name__citerce]").val(t_rasocial)
			}
		});
	});

	$("#form_deta_movement").submit(function(event){
		event.preventDefault()
		if(customValidationInput("#item_mdeta").valid){
			var tr = $("<tr>")
			$('#item_mdeta')
			.find("input,select")
			.toArray()
			.forEach(function(e,i){
				var oth = $(e).closest("th")
				//var value = (e.type == "number") ? currencyFormat.format(e.value) : e.value

				var value = e.value
				var data_value = e.value

				var css_class = ""

				if($(e).hasClass("input-currency")){
					//var value = currencyFormat.format(e.value)
					css_class = "value-currency"
				}

				tr.append($("<td>",{
					width:oth.attr("width"),
					"data-name":e.name,
					"data-value":data_value,
					"class":css_class,
					html:value}))
			})
			td = $("<td width='10%'>")
			var btnEdit = td.append($("<span class='btn btn-info' ><i class='fa fa-edit '></span>").click(edit_item_mdeta))
			var btnDelete = td.append($("<span class='btn btn-danger' ><i class='fa fa-remove'></span>").click(delete_item_mdeta))
			tr.append(btnEdit,btnDelete)
			$("#list_items_mdeta").find("tbody").append(tr)
			
			$('#item_mdeta').find("input,select").val("")
			$('#item_mdeta').find("[name=canti]").val(1)
			var it = 1
			$("#list_items_mdeta").find("[data-name=it]").toArray().forEach(
				function(e){
					$(e).html(it);
					$(e).attr("data-value",it);
					it++
				})
			calcular_total()
		}
	})

	$("#btn-save").click(function(event){
		loading_animation("Guardando Movimiento.")
		event.preventDefault()
		if(!customValidationInput("#form_movement").valid) return
		var currentForm = $("#form_movement")
		var data = {
			docrefe : $("[name=docrefe]").val(),
			citerce : $("[name=citerce]").val(),
			ctimo : $("[name=ctimo]").val(),
			cesdo : $("[name=cesdo]").val(),
			vttotal : $("[name=vttotal]").val(),
			descri : $("[name=descri]").val(),
			cbode0 : $("[name=cbode0]").val(),
		}
		var array_mvdeta = get_mdeta()
		if(array_mvdeta.length){
			data.mvdeta = array_mvdeta
		}else{
			var message = alertBootstrap("No ha ingresado Ningun Articulo","warning")
			currentForm.prepend(message)
			return
		}
		if($("[name=cmven]").length != 0){
			data.is_input_movement = true
			data.fmven = $("[name=fmven]").val()
		}else{
			data.is_input_movement = false
			data.fmvsa = $("[name=fmvsa]").val()
		}
		$.ajax({
			//url: '{% url 'save-movement' %}',
			url: '{{url}}',
			type: 'POST',
			data: JSON.stringify(data),
			contentType: "application/json",
			error: function(response){
				var message = alertBootstrap("Ha ocurrido un error en el proceso.","danger")
				currentForm.prepend(message)
				$(".animation").empty()
			},
			success: function(response){
				if(response.error){
					var message = alertBootstrap(response.message,"danger")
				}else{
					if(mode_view != "edit"){
						$("[name*=cmv]").val(response.cmv)
					}
					var message = alertBootstrap(response.message,"success")
				}
				if(mode_view != "edit"){
					$("#list_items_mdeta").find("tbody").children().remove()
				}
				currentForm.prepend(message)
				$(".animation").empty()
			}
		});
	})

	$('#id_citerce').change()

	{% if mvdeta_json %}
		var js_list = {{mvdeta_json|safe}}
	{% else %}
		var js_list = []
	{% endif %}
	$(document).ready(function(e){
		js_list.forEach(function(object){
			$('#item_mdeta').find("#id_carlos").val(object.fields.carlos)
			$('#item_mdeta').find("#name__carlos").val(object.fields.nlargo)
			$('#item_mdeta').find("#id_canti").val(object.fields.canti)
			$('#item_mdeta').find("#id_vunita").val(currencyFormat.format(object.fields.vunita)).trigger("change")
			$('#item_mdeta').find("#id_vtotal").val(currencyFormat.format(object.fields.vtotal)).trigger("change")
			$('#form_deta_movement').submit()
			$('#form_deta_movement').trigger("reset")
			calcular_total()
		})

	})


</script>
{% endblock content_script %}
