{% extends 'layouts/base.html' %}

{% load static %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
{% endblock content_head %}

{% block content %}
	{% include 'elements/nav.html' %}
	{% include 'elements/sidebar.html' %}
	<div class="content-wrapper" style="min-height: 921px;">
		<section class="content-header">
			<h1>Movimientos de Inventario</h1>
		</section>
		<section class="content">
			<form class="form-horizontal" id="form_movement">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">{{title}}</h3>
							</div>
								
							<div class="box-body">
								<div class="row">
									{% if form.cmven %}
										<div class="form-group col-md-12">
											<label for="{{form.cmven.id_for_label}}" class="col-sm-2 control-label">{{form.cmven.label}}</label>
											<div class="col-sm-10">
												<input type="number" name="{{form.cmven.name}}" id="{{form.cmven.id_for_label}}" class="{{form.cmven.field.widget.attrs.class}}" readonly value="{{current_pk}}">
											</div>
										</div>
									{% else %}
										<div class="form-group col-md-12">
											<label for="{{form.cmvsa.id_for_label}}" class="col-sm-2 control-label">{{form.cmvsa.label}}</label>
											<div class="col-sm-10">
												<input type="number" name="{{form.cmvsa.name}}" id="{{form.cmvsa.id_for_label}}" class="{{form.cmvsa.field.widget.attrs.class}}" readonly value="{{current_pk}}">
											</div>
										</div>

									{% endif %}
								
									<div class="form-group col-md-4">
										<label for="{{form.ctimo.id_for_label}}" class="col-sm-2 control-label">{{form.ctimo.label}}</label>
										{%if form.ctimo.errors%}
										{{form.ctimo.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												{{form.ctimo}}
												<span class="input-group-addon"><a data-new-window href="" target="_blank"><i class="fa fa-plus-square"></i></a></span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-4">
										{% if form.fmven %}
											<label for="{{ form.fmven.id_for_label }}" class="col-sm-2 control-label">{{ form.fmven.label }}</label>
											<div class="col-sm-10">
												{{ form.fmven }}
											</div>
										{% else %}
											<label for="{{ form.fmvsa.id_for_label }}" class="col-sm-2 control-label">{{ form.fmvsa.label }}</label>
											<div class="col-sm-10">
												{{ form.fmvsa }}
											</div>
										{% endif %}
									</div>
									<div class="form-group col-md-4">
										<label for="{{ form.docrefe.id_for_label }}" class="col-sm-2 control-label">{{ form.docrefe.label }}</label>
										<div class="col-sm-10">
											{{ form.docrefe }}
										</div>
									</div>
								</div>

								<div class="row">
									<div class="form-group col-md-8">
										<label for="{{form.citerce.id_for_label}}" class="col-sm-2 control-label">{{form.citerce.label}}</label>
										{%if form.citerce.errors%}
										{{form.citerce.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												{{form.citerce}}
												<span class="input-group-addon"><a data-new-window href="{% url 'add-third-party' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
												<span class="input-group-addon"><a data-new-window href="{% url 'list-third-parties' %}" target="_blank"><i class="fa fa-search"></i></a></span>
											</div>
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="{{form.cesdo.id_for_label}}" class="col-sm-2 control-label">{{form.cesdo.label}}</label>
										{%if form.cesdo.errors%}
										{{form.cesdo.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												{{form.cesdo}}
												<span class="input-group-addon"><a data-new-window href="{% url 'add-state' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									
									<div class="form-group col-md-8">
										<label for="{{ form.descri.id_for_label }}" class="col-sm-2 control-label">{{ form.descri.label }}</label>
										<div class="col-sm-10">
											{{ form.descri }}
										</div>
									</div>
									<div class="form-group col-md-4">
										<label for="{{form.cbode0.id_for_label}}" class="col-sm-2 control-label">{{form.cbode0.label}}</label>
										{%if form.cbode0.errors%}
										{{form.cbode0.errors}}
										{%endif%}
										<div class="col-sm-10">
											<div class="input-group">
												{{form.cbode0}}
												<span class="input-group-addon"><a data-new-window href="{% url 'add-location' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="{{ form.vttotal.id_for_label }}" class="col-sm-2 control-label">{{ form.vttotal.label }}</label>
									<div class="col-sm-10">
										{{ form.vttotal }}
									</div>
								</div>

								<div class="form-group">
									<label for="{{ form.cmven.id_for_label }}" class="col-sm-2 control-label">{{ form.cmven.label }}</label>
									<div class="col-sm-10">
										{{ form.cmven }}
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Detalle</h3>
							</div>
							<div class="box-body">
								<section class="col-md-12" id="form_temp_mvendeta">
								</section>
								<section role="form" id="item_mdeta">
									<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th width="5%">It</th>
												<th width="60%">Articulos</th>
												<th width="10%">Cantidad</th>
												<th width="10%">V unitario</th>
												<th width="10%">V total</th>
												<th width="5%"></th>
											</tr>
											<tr>
												<th width="5%">{{ form_movement_detail.it }}</th>
												<th width="60%">
													<div class="input-group">
														{{form_movement_detail.carlos}}
														<span class="input-group-addon"><a data-new-window href="{% url 'add-article' %}" target="_blank"><i class="fa fa-plus-square"></i></a></span>
														<span class="input-group-addon"><a data-new-window href="{% url 'list-articles' %}" target="_blank"><i class="fa fa-search"></i></a></span>
													</div>
												</th>
												<th width="10%">{{ form_movement_detail.canti }}</th>
												<th width="10%">{{ form_movement_detail.vunita }}</th>
												<th width="10%">{{ form_movement_detail.vtotal }}</th>
												<th width="5%"><button type="button" id="add_item_mdeta"><i class="fa fa-plus-square"></i></button></th>
											</tr>
										</thead>
										<tbody>
											
										</tbody>
									</table>
								</section>
								<section role="form" id="list_items_mdeta">
									<table id="example" class="table table-striped dataTable no-footer" cellspacing="0" width="100%">
										<tbody>
										</tbody>
									</table>
								</section>
							</div>

						</div>
					</div>
				</div>
				<div class="btn-group">
					<button class="btn btn-app btn-info" type="reset">
						<i class="fa fa-plus-square-o"></i>Nuevo
					</button>
					<button class="btn btn-app" type="submit">
						<i class="fa fa-plus-square-o"></i>Guardar
					</button>
					<a data-new-window class="btn btn-app" href="{% url 'list-states' %}"><i class="fa fa-list"></i>Listar</a>
				</div>
			</form>
		</section>
	</div>
	{% include 'elements/footer.html' %}
{% endblock %}

{% block content_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>

<script>
	
$("#form_movement").submit(function(event) {
	event.preventDefault();
});

$('.date').datetimepicker({
	format: 'YYYY-MM-D',
});

function edit_item_mdeta(){alert("edit_item_mdeta")}
function delete_item_mdeta(){
	$(this).closest("tr").remove()
}

$('#add_item_mdeta').click(function(){
	if(customValidationInput("#item_mdeta").valid){
		var tr = $("<tr>")
		$('#item_mdeta')
		.find("input,select")
		.toArray()
		.forEach(function(e,i){
			if(e instanceof HTMLSelectElement){
				tr.append($("<td>",{"data-name":e.name,html:$(e).find("option[value=" + $(e).val() + "]").html()}))
			}else{
				tr.append($("<td>",{"data-name":e.name,html:e.value}))
			}
		})
		var btnEdit = $("<td>").append($("<a>",{html:"Editar"})).click(edit_item_mdeta)
		var btnDelete = $("<td>").append($("<a>",{html:"Borrar"})).click(delete_item_mdeta)
		tr.append(btnEdit,btnDelete)
		$("#list_items_mdeta").find("tbody").append(tr)
		
		$('#item_mdeta').find("input,select").val("")
	}

})

function get_mdeta(){
	return 	$("#list_items_mdeta").find("tr").toArray().map(
		function(e){
			var data = {}
			console.log(e)
			$(e).children("[data-name]").toArray().forEach(
				function(e2){
					data[$(e2).data("name")] = $(e2).html()
				}
			)
			return data
		}
	)
}
$("form").submit(function(event){
	event.preventDefault()
	var data = {
		docrefe : $("[name=docrefe]").val(),
		citerce : $("[name=citerce]").val(),
		ctimo : $("[name=ctimo]").val(),
		cesdo : $("[name=cesdo]").val(),
		vttotal : $("[name=vttotal]").val(),
		descri : $("[name=descri]").val(),
		//detaanula : $("[name=detaanula]").val(),
		cbode0 : $("[name=cbode0]").val(),
		//cbode1 : $("[name=cbode1]").val(),
		mvendeta: get_mdeta()
	}
	if($("[name=cmven]").length != 0){
		data.cmven = $("[name=cmven]").val()
		data.fmven = $("[name=fmven]").val()
	}else{
		data.cmvsa = $("[name=cmvsa]").val()
		data.fmvsa = $("[name=fmvsa]").val()
	}
	console.log(data)
})
</script>
{% endblock content_script %}
